image: twalter/maven-docker

variables:
  MAVEN_CLI_OPTS: "-s ./.m2/settings.xml --batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository "
  ALIYUN_REGISTRY: "registry.cn-hangzhou.aliyuncs.com"
  CI_REGISTRY_USER: "hi35700248@aliyun.com"
  CI_REGISTRY_PASSWORD: "A1111777"
  CI_REGISTRY: "registry.cn-hangzhou.aliyuncs.com/lcdt-clms/"
  VERSION: "v1.0rc"
cache:
  paths:
    - .m2/repository/
    - target/

stages:
  - build
  - test
  - build_image


build:
  stage: build
  script:
    - pwd
    - mvn  compile install
  artifacts:
    paths: [user-center/userinfo-service/target/user-service.jar]
test:
  image: maven
  stage: test
  script:
    - pwd
    - mvn  test
build_image:
  when: manual
  stage: build_image
  script:
    - ls -r user-center/userinfo-service/target
    - docker build -t $CI_REGISTRYuser-service:1.0 user-center/userinfo-service

code_statics:
  only:
    - schedules
    - web
  stage: build
  script:
    - git log