<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.notify.dao.MqMessageLogMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.notify.model.MqMessageLog">
    <id column="message_id" jdbcType="VARCHAR" property="messageId" />
    <result column="be_handle" jdbcType="BIT" property="beHandle" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mq_message_log
    where message_id = #{messageId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lcdt.notify.model.MqMessageLog">
    <selectKey keyProperty="messageId" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mq_message_log (message_id,be_handle)
    values (#{messageId,jdbcType=VARCHAR},#{beHandle,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.notify.model.MqMessageLog">
    update mq_message_log
    set be_handle = #{beHandle,jdbcType=BIT}
    where message_id = #{messageId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select message_id, be_handle
    from mq_message_log
    where message_id = #{messageId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select message_id, be_handle
    from mq_message_log
  </select>
</mapper>