<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.notify.dao.SmsLogMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.notify.model.SmsLog">
    <id column="sms_log_id" jdbcType="BIGINT" property="smsLogId" />
    <result column="sms_log_content" jdbcType="VARCHAR" property="smsLogContent" />
    <result column="sms_log_time" jdbcType="TIMESTAMP" property="smsLogTime" />
    <result column="sms_log_company_id" jdbcType="BIGINT" property="smsLogCompanyId" />
    <result column="is_send" jdbcType="BIT" property="isSend" />
    <result column="send_result" jdbcType="VARCHAR" property="sendResult" />
    <result column="receive_phone" jdbcType="VARCHAR" property="receivePhone" />
    <result column="result_code" jdbcType="VARCHAR" property="resultCode" />
    <result column="business_no" jdbcType="VARCHAR" property="businessNo" />
    <result column="business_tag" jdbcType="VARCHAR" property="businessTag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms_log
    where sms_log_id = #{smsLogId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.notify.model.SmsLog">
    <selectKey keyProperty="smsLogId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sms_log (sms_log_content, sms_log_time, sms_log_company_id, 
      is_send, send_result, receive_phone, 
      result_code, business_no, business_tag
      )
    values (#{smsLogContent,jdbcType=VARCHAR}, #{smsLogTime,jdbcType=TIMESTAMP}, #{smsLogCompanyId,jdbcType=BIGINT}, 
      #{isSend,jdbcType=BIT}, #{sendResult,jdbcType=VARCHAR}, #{receivePhone,jdbcType=VARCHAR}, 
      #{resultCode,jdbcType=VARCHAR}, #{businessNo,jdbcType=VARCHAR}, #{businessTag,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.notify.model.SmsLog">
    update sms_log
    set sms_log_content = #{smsLogContent,jdbcType=VARCHAR},
      sms_log_time = #{smsLogTime,jdbcType=TIMESTAMP},
      sms_log_company_id = #{smsLogCompanyId,jdbcType=BIGINT},
      is_send = #{isSend,jdbcType=BIT},
      send_result = #{sendResult,jdbcType=VARCHAR},
      receive_phone = #{receivePhone,jdbcType=VARCHAR},
      result_code = #{resultCode,jdbcType=VARCHAR},
      business_no = #{businessNo,jdbcType=VARCHAR},
      business_tag = #{businessTag,jdbcType=VARCHAR}
    where sms_log_id = #{smsLogId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select sms_log_id, sms_log_content, sms_log_time, sms_log_company_id, is_send, send_result, 
    receive_phone, result_code, business_no, business_tag
    from sms_log
    where sms_log_id = #{smsLogId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sms_log_id, sms_log_content, sms_log_time, sms_log_company_id, is_send, send_result, 
    receive_phone, result_code, business_no, business_tag
    from sms_log
  </select>
  <resultMap id="BaseResultMap" type="com.lcdt.notify.model.SmsLog">
    <id column="sms_log_id" jdbcType="BIGINT" property="smsLogId" />
    <result column="sms_log_content" jdbcType="VARCHAR" property="smsLogContent" />
    <result column="sms_log_time" jdbcType="TIMESTAMP" property="smsLogTime" />
    <result column="sms_log_company_id" jdbcType="BIGINT" property="smsLogCompanyId" />
    <result column="is_send" jdbcType="BIT" property="isSend" />
    <result column="send_result" jdbcType="VARCHAR" property="sendResult" />
    <result column="receive_phone" jdbcType="VARCHAR" property="receivePhone" />
    <result column="result_code" jdbcType="VARCHAR" property="resultCode" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms_log
    where sms_log_id = #{smsLogId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.notify.model.SmsLog">
    <selectKey keyProperty="smsLogId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sms_log (sms_log_content, sms_log_time, sms_log_company_id, 
      is_send, send_result, receive_phone, 
      result_code)
    values (#{smsLogContent,jdbcType=VARCHAR}, #{smsLogTime,jdbcType=TIMESTAMP}, #{smsLogCompanyId,jdbcType=BIGINT}, 
      #{isSend,jdbcType=BIT}, #{sendResult,jdbcType=VARCHAR}, #{receivePhone,jdbcType=VARCHAR}, 
      #{resultCode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.notify.model.SmsLog">
    update sms_log
    set sms_log_content = #{smsLogContent,jdbcType=VARCHAR},
      sms_log_time = #{smsLogTime,jdbcType=TIMESTAMP},
      sms_log_company_id = #{smsLogCompanyId,jdbcType=BIGINT},
      is_send = #{isSend,jdbcType=BIT},
      send_result = #{sendResult,jdbcType=VARCHAR},
      receive_phone = #{receivePhone,jdbcType=VARCHAR},
      result_code = #{resultCode,jdbcType=VARCHAR}
    where sms_log_id = #{smsLogId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select sms_log_id, sms_log_content, sms_log_time, sms_log_company_id, is_send, send_result, 
    receive_phone, result_code
    from sms_log
    where sms_log_id = #{smsLogId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sms_log_id, sms_log_content, sms_log_time, sms_log_company_id, is_send, send_result, 
    receive_phone, result_code
    from sms_log
  </select>
  <resultMap id="BaseResultMap" type="com.lcdt.notify.model.SmsLog">
    <id column="sms_log_id" jdbcType="BIGINT" property="smsLogId" />
    <result column="sms_log_content" jdbcType="VARCHAR" property="smsLogContent" />
    <result column="sms_log_time" jdbcType="TIMESTAMP" property="smsLogTime" />
    <result column="sms_log_company_id" jdbcType="BIGINT" property="smsLogCompanyId" />
    <result column="sms_log_success" jdbcType="BIT" property="smsLogSuccess" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms_log
    where sms_log_id = #{smsLogId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.notify.model.SmsLog">
    <selectKey keyProperty="smsLogId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sms_log (sms_log_content, sms_log_time, sms_log_company_id, 
      sms_log_success)
    values (#{smsLogContent,jdbcType=VARCHAR}, #{smsLogTime,jdbcType=TIMESTAMP}, #{smsLogCompanyId,jdbcType=BIGINT}, 
      #{smsLogSuccess,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.notify.model.SmsLog">
    update sms_log
    set sms_log_content = #{smsLogContent,jdbcType=VARCHAR},
      sms_log_time = #{smsLogTime,jdbcType=TIMESTAMP},
      sms_log_company_id = #{smsLogCompanyId,jdbcType=BIGINT},
      sms_log_success = #{smsLogSuccess,jdbcType=BIT}
    where sms_log_id = #{smsLogId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select sms_log_id, sms_log_content, sms_log_time, sms_log_company_id, sms_log_success
    from sms_log
    where sms_log_id = #{smsLogId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sms_log_id, sms_log_content, sms_log_time, sms_log_company_id, sms_log_success
    from sms_log
  </select>
</mapper>