<!doctype html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.css" rel="stylesheet">
  <Link href="../style/style.min.css" rel="stylesheet">
  <Link href="../style/style.min.css.map" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default navbar-static-top bs-docs-nav" id="top">
    <div th:replace="/nav::nav_div"></div>
</nav>
  <div class="jumbotron">
    <div class="header" style="background-image: url(https://img.datuodui.com/ws/product.jpg);">
      <div class="container">
        <p>新500强企业的选择</p>
        <p class="head-title">协同运输管理系统，高效协同可视透明！</p>
        <p><a class="try-btn">免费试用</a></p>
      </div>
    </div>
    <div class="row jumbotron-bottom">
      <div class="col-sm-6 barlink" >
        <a href="" >已逐步应用在各行各业，专注行业，只为您更专业</a>
      </div>
      <div class="col-sm-6 barlink" >
        <a href="" >了解大驼队案例，重新定义您的商业模式</a>
      </div>
    </div>
  </div>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">产品与服务</a></li>
      <li class="active">CLMS</li>
    </ol>
  </div>

  <div class="main-container">
    <div class="container" style="margin-bottom: 50px;">
      <div class="content" style="text-align: center;">
        <h2>企业信息化现状</h2>
        <p>信息化程序低，系统割裂，数据同步困难，物流环节无法跟踪调度等，系统升级费用极高，难度巨大</p><img src="https://img.datuodui.com/ws/clms1.png" alt="">
        <h2>大驼队cLMS</h2>
        <p>针对供应链整体业务协同与管理的SaaS采、销、运、储全功能云平台，通过打通供应链上下游，连接供应商，客户，仓储、物流服务商，司机等多方信息，实现商流、物流、信息流、以及资金流的透明化</p><img src="https://img.datuodui.com/ws/clms2.png" alt="">
        <h2>产品功能设计</h2>
        <p>大驼队产品，打造全流程，透明化的一体化协同系统，把上下游企业，仓储、运输企业，司机，收货人和生态服务企业等供应链链条上的所有用户连起来，实现物流，商流，信息流的全面在线协同管理。</p><img src="https://img.datuodui.com/ws/clms3.png" alt="">
        <h2>全流程的协同管理解决方案</h2>
        <p>“大驼队”是针对传统企业ERP或SCM、TMS、OMS、WMS等业务系统难以协同生产销售、物流服务企业（运输、仓储）、货车司机和客户的现状研发，解决了订单、生产、仓配、运输、收货的全流程协同化透明化管理的诸多问题。</p><img src="https://img.datuodui.com/ws/clms4.png" alt="">
        <h2>解决供应链上下游各类型企业的信息化需求</h2>
        <p>在企业有完善信息化的情况下解决物流外包的协同问题（可与原有ERP等系统实现API对接达到信息互通），没有信息化时也能自成系统独管理物流业务。上线两年受到用户广泛好评。</p><img src="https://img.datuodui.com/ws/clms5.png" alt=""></div>
    </div>
    <div class="footer">
        <div th:replace="/footer::ft_div"></div>
    </div>

  </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.js"></script>


</body>

</html>
