<!doctype html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>大驼队|产品与服务|COMS订单管理系统</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.css" rel="stylesheet">
  <Link href="../style/style.min.css" rel="stylesheet">
  <Link href="../style/style.min.css.map" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default navbar-static-top bs-docs-nav" id="top">
    <div th:replace="/nav::nav_div"></div>
</nav>
  <div class="jumbotron">
    <div class="header" style="background-image: url(https://img.datuodui.com/ws/product.jpg);">
      <div class="container">
        <p>新500强企业的选择</p>
        <p class="head-title">协同运输管理系统，高效协同可视透明！</p>
        <!--<p><a class="try-btn">免费试用</a></p>-->
      </div>
    </div>
    <div class="row jumbotron-bottom">
      <div class="col-sm-6 barlink" >
        <a href="" >已逐步应用在各行各业，专注行业，只为您更专业</a>
      </div>
      <div class="col-sm-6 barlink" >
        <a href="" >了解大驼队案例，重新定义您的商业模式</a>
      </div>
    </div>
  </div>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">产品与服务</a></li>
      <li class="active">COMS</li>
    </ol>
  </div>

  <div class="main-container">
    <div class="container" style="margin-bottom: 50px;">
      <div class="content" style="text-align: center;">
        <h2>cOMS</h2>
        <p>cOMS订单管理系统，以合同或订单为业务流程的出发点，在管理合同创建、订单接收、收支管理的基础上，实现与仓储和运输模块协
          同，推送仓储计划和运输计划，监控整个业务执行的全过程，从而提升业务执行效率，促进企业内外部合作，从供应链整体的角度上，推进供应链的持续优化。</p>
        <img src="https://img.datuodui.com/ws/coms1.jpg" alt="">
        <h2>支撑模块</h2>
        <img src="https://img.datuodui.com/ws/coms2.jpg" alt="">
        <h2>功能介绍</h2>
        <img src="https://img.datuodui.com/ws/coms3.jpg" alt="">
    </div>
    </div>
    <div class="footer">
        <div th:replace="/footer::ft_div"></div>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.js"></script>


</body>

</html>
