<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <Link href="../style/style.min.css" rel="stylesheet">
    <Link href="../style/style.min.css.map" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top bs-docs-nav" id="top">
    <div th:replace="/nav::nav_div"></div>
</nav>
<div class="jumbotron">
  <div class="header" style="background-image: url(https://img.datuodui.com/ws/product.jpg);">
    <div class="container">
      <p>为物流企业新动能助力</p>
      <p class="head-title">协同运输管理系统，高效协同可视透明！</p>
      <p><a class="try-btn">免费试用</a></p>
    </div>
  </div>
  <div class="row jumbotron-bottom">
    <div class="col-sm-6 barlink" >
      <a href="" >已逐步应用在各行各业，专注行业，只为您更专业</a>
    </div>
    <div class="col-sm-6 barlink" >
      <a href="" >了解 大驼队 案例，重新定义您的商业模式</a>
    </div>
  </div>

</div>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">产品与服务</a></li>
        <li class="active">CTMS</li>
    </ol>
</div>

<div class="main-container">
    <div class="container">
        <div class="content" style="text-align: center;"><h2>大驼队cTMS</h2>
            <p>针对物流公司业务运营与管理的SaaS+TMS的云平台，通过打通供应链上下游，连接托运方、承运方、司机多方信息，实现商流、物流、信息流、以及资金流的透明化</p><img
                    src="https://img.datuodui.com/ws/ctms1.png" alt="">
            <h2>大驼队APP + 小程序辅助</h2>
            <p>针对供应链整体业务协同与管理的SaaS采、销、运、储全功能云平台，通过打通供应链上下游，连接供应商，客户，仓储、物流服务商，司机等多方信息，实现商流、物流、信息流、以及资金流的透明化</p><img
                    src="https://img.datuodui.com/ws/ctms2.png" alt="">
            <h2>车载硬件设备等辅助</h2>
            <p>车载OBD智能终端设备，实时回传车辆位置、车辆状态、驾驶行为、油耗等数据到平台端，实时掌握车辆动态</p><img src="https://img.datuodui.com/ws/ctms3.png"
                                                                         alt=""></div>
    </div>
    <div class="footer">
        <div th:replace="/footer::ft_div"></div>
    </div>

</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="./js/can.min.js" type="text/javascript"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
