<!doctype html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>大驼队|产品与服务|CWMS仓储管理系统</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.css" rel="stylesheet">
  <Link href="../style/style.min.css" rel="stylesheet">
  <Link href="../style/style.min.css.map" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top bs-docs-nav" id="top">
    <div th:replace="/nav::nav_div"></div>
</nav>
  <div class="jumbotron">
    <div class="header" style="background-image: url(https://img.datuodui.com/ws/product.jpg);">
      <div class="container">
        <p>新500强企业的选择</p>
        <p class="head-title">协同运输管理系统，高效协同可视透明！</p>
        <!--<p><a class="try-btn">免费试用</a></p>-->
      </div>
    </div>
    <div class="row jumbotron-bottom">
      <div class="col-sm-6 barlink" >
        <a href="" >已逐步应用在各行各业，专注行业，只为您更专业</a>
      </div>
      <div class="col-sm-6 barlink" >
        <a href="" >了解大驼队案例，重新定义您的商业模式</a>
      </div>
    </div>
  </div>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">产品与服务</a></li>
      <li class="active">CWMS</li>
    </ol>
  </div>

  <div class="main-container">
    <div class="container" style="margin-bottom: 50px;">
      <div class="content" style="text-align: center;">
        <h2>支撑供应链上下游仓储业务全局管理需求</h2>
        <p>从供应商协同、采购、生产、装配、销售、金融监管、外协仓同步与协作</p>
        <img src="https://img.datuodui.com/ws/cwms1.jpg" alt="">
        <h2>产品功能设计</h2>
        <p>大驼队仓储管理系统是基于供应链网络设计，集成丰富多样的实践业务模型，兼具仓储现场管理、实物管理、
          执行过程管理与供应链协同等功能，通过电脑端与移动端设备的联网结合，辅以入库任务流程、出库任务流程、调拨业务流程、盘库业务流程、移库业务流程等，从而达到有效提升仓储周转率的目的。</p>
        <img src="https://img.datuodui.com/ws/cwms2.jpg" alt="">
        <h2>产品优势</h2>
        <img src="https://img.datuodui.com/ws/cwms3.jpg" alt="">
    </div>
    </div>
    <div class="footer">
        <div th:replace="/footer::ft_div"></div>
    </div>

  </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.js"></script>

</body>

</html>
