<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.clms.permission.dao.RoleMapper">

    <resultMap id="BaseResultMap" type="com.lcdt.clms.permission.model.Role">
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_comment" jdbcType="VARCHAR" property="roleComment"/>
        <result column="role_company_id" jdbcType="LONGVARCHAR" property="roleCompanyId"/>
        <result column="valid" jdbcType="BIT" property="valid"/>

        <collection property="permissions" column="role_id" ofType="com.lcdt.clms.permission.model.Permission"
                    fetchType="lazy"
                    select="com.lcdt.clms.permission.dao.PermissionMapper.selectByRoleId"></collection>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from role
    where role_id = #{roleId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.lcdt.clms.permission.model.Role">
        <selectKey keyProperty="roleId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into role (role_name, role_comment, role_company_id,create_id,create_name,create_date)
        values (#{roleName,jdbcType=VARCHAR}, #{roleComment,jdbcType=VARCHAR}, #{roleCompanyId,jdbcType=LONGVARCHAR},
        #{createId,jdbcType=BIGINT},#{createName,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.lcdt.clms.permission.model.Role">
    update role
    set role_name = #{roleName,jdbcType=VARCHAR},
      role_comment = #{roleComment,jdbcType=VARCHAR},
      role_company_id = #{roleCompanyId,jdbcType=LONGVARCHAR},
      valid = #{valid,jdbcType=BIT}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select role_id, role_name, role_comment, role_company_id,valid
    from role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select role_id, role_name, role_comment, role_company_id,valid
    from role
  </select>

    <select id="selectByCompanyId" resultMap="BaseResultMap">
    select role_id, role_name, role_comment, role_company_id,valid
    from role
    WHERE role_company_id = #{companyId,jdbcType=INTEGER}
  </select>
    <select id="selectUserCompanyRoles" resultMap="BaseResultMap">
  SELECT r.* from
    role_user_relation rr
  LEFT JOIN role r
  on rr.role_id = r.role_id
  WHERE rr.user_id = #{userId,jdbcType=BIGINT} and rr.company_id = #{companyId,jdbcType = BIGINT}

    </select>
    <select id="selectByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select role_id, role_name, role_company_id
        from role
        where 1=1
        <trim prefix="" suffix="" suffixOverrides="">
            <if test="companyId != null">
                and role_company_id=#{companyId,jdbcType=BIGINT}
            </if>
            <if test="deptName != null &amp;&amp; deptName != ''">
                and role_name=#{roleName,jdbcType=VARCHAR}
            </if>
            <if test="roleId != null">
                and role_id &lt;&gt; #{roleId,jdbcType=BIGINT}
            </if>
        </trim>
    </select>

    <select id="selectByRoleName" resultMap="BaseResultMap">
        select * from role r
        WHERE role_name = #{roleName}
        and role_company_id = #{companyId}
    </select>

</mapper>