<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.warehouse.mapper.InplanGoodsInfoMapper">

    <!--入库计划货物详细-->
    <select id="inWhPlanGoodsInfoList" resultType="com.lcdt.warehouse.dto.InPlanGoodsInfoResultDto">
        SELECT a.relation_id,a.goods_id,a.plan_goods_num,a.remark,a.in_house_price,a.unit,a.unit_data,
        a.goods_name,a.goods_classify,a.goods_spec,a.goods_code,a.goods_barcode,a.goods_batch
        FROM inplan_goods_info a
         WHERE a.plan_id = #{planId}
    </select>
</mapper>
