<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.warehouse.mapper.InventoryMapper">

    <resultMap id="BaseResultMap" type="com.lcdt.warehouse.entity.Inventory">
        <id column="invertory_id" jdbcType="BIGINT" property="invertoryId" />
        <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
        <result column="invertory_num" jdbcType="DOUBLE" property="invertoryNum" />
        <result column="lock_num" jdbcType="DOUBLE" property="lockNum" />
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
        <result column="company_id" jdbcType="BIGINT" property="companyId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="business_desc" jdbcType="VARCHAR" property="businessDesc" />
        <result column="storage_location_code" jdbcType="VARCHAR" property="storageLocationCode" />
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
        <result column="customer_id" jdbcType="BIGINT" property="customerId" />
        <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
        <result column="original_goods_id" jdbcType="BIGINT" property="originalGoodsId"/>
        <result column="cost_remark" jdbcType="VARCHAR" property="costRemark" />
        <result column="inventory_price" jdbcType="DOUBLE" property="inventoryPrice"/>
        <result column="batch" jdbcType="VARCHAR" property="batch" />
        <result column="storage_location_id" jdbcType="BIGINT" property="storageLocationId"/>
        <result column="base_unit" jdbcType="VARCHAR" property="baseUnit" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <association  property="goodsInfo" javaType="com.lcdt.warehouse.entity.GoodsInfo" autoMapping="true">
        </association>
    </resultMap>

    
    <select id="selectInventoryList" resultMap="BaseResultMap" >
        SELECT * from inventory t left join goods_info  g on
        t.goods_id = g.goods_id
        <where>
            <if test="batch != null and batch != ''">
                t.batch = #{batch}
            </if>

            <if test="warehouseId != null">
               AND t.warehouse_id = #{wareHouseId}
            </if>

            <if test="storageLocationCode != null and storageLocationCode != '' ">
                and t.storage_location_code = #{storageLocationCode}
            </if>

            <if test="originalGoodsId != null">
                and t.original_goods_id = #{originalGoodsId}
            </if>
            <if test="customerId != null">
                and t.customer_id = #{customerId}
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="selectInventoryListByqueryDto" resultMap="BaseResultMap" >
        SELECT * from inventory t left join goods_info  g on
        t.goods_id = g.goods_id
        <where>
            <if test="querydto.inventoryId != null">
                and t.inventory_id = #{querydto.inventoryId}
            </if>


            <if test="querydto.companyId != null">
                and t.company_id = #{querydto.companyId}
            </if>
            <if test="querydto.batch != null">
                and batch = #{querydto.batch}
            </if>

            <if test="querydto.wareHouseId != null">
                AND warehouse_id = #{querydto.wareHouseId}
            </if>

            <if test="querydto.storageLocationCode != null and querydto.storageLocationCode!=''">
                and storage_location_code LIKE concat('%', #{querydto.storageLocationCode},'%')
            </if>

            <if test="querydto.customerId != null">
                and customer_id = #{querydto.customerId}
            </if>

            <if test="goodsIds != null and goodsIds.size() > 0">
                and t.original_goods_id IN
              <foreach collection="goodsIds" index="index" item="item" open="(" separator="," close=")">
                 #{item}
              </foreach>
            </if>
        </where>
        order by update_time desc
    </select>

	<select id="getInventoryListByIds" resultMap="BaseResultMap">
			SELECT * from inventory t left join goods_info  g on
        	t.goods_id = g.goods_id
		<where>
			invertory_id in
		<foreach collection="array" open="(" close=")" index="index" item="item" separator=",">
			#{item,jdbcType=BIGINT}
		</foreach>
		</where>
	</select>
	
	<select id="getInventoryAndGoodsInfo" resultType="com.lcdt.warehouse.dto.ShiftGoodsListDTO">
			select t.invertory_id invertoryId, t.goods_id GoodsId,t.invertory_num invertoryNum,t.lock_num lockNum,t.warehouse_id warehouseId,
			t.company_id companyId,t.remark remark,t.business_desc businessDesc,t.storage_location_code storageLocationCode,
			t.warehouse_name warehouseName,t.customer_id customerId,t.customer_name customerName,t.original_goods_id originalGoodsId,
			t.cost_remark costRemark,t.inventory_price inventoryPrice,t.batch batch,t.storage_location_id storageLocationId,
			t.base_unit baseUnit,t.update_time updateTime,g.goods_id goodsId,g.goods_name goodsName,g.goods_spec goodsSpec,
			g.goods_code goodsCode,g.goods_barcode barCode,g.goods_price goodsPrice,g.goods_batch goodsBatch,g.sub_item_id subItemId,
			g.original_goods_id originalGoodsId,g.goods_category goodsCategory,g.goods_classify goodsClassify,g.min_unit minUnit
			from inventory t inner join goods_info g on
       		t.goods_id = g.goods_id
		<where>
			t.invertory_id in
		<foreach collection="array" open="(" close=")" index="index" item="item" separator=",">
			#{item,jdbcType=BIGINT}
		</foreach>
		</where>
	</select>
	
	<select id="selectInventoryListByShiftGoodsBO" resultType="com.lcdt.warehouse.dto.ShiftGoodsListDTO" parameterType="com.lcdt.warehouse.utils.ShiftGoodsBO">
			select t.invertory_id invertoryId, t.goods_id GoodsId,t.invertory_num invertoryNum,t.lock_num lockNum,t.warehouse_id warehouseId,
			t.company_id companyId,t.remark remark,t.business_desc businessDesc,t.storage_location_code storageLocationCode,
			t.warehouse_name warehouseName,t.customer_id customerId,t.customer_name customerName,t.original_goods_id originalGoodsId,
			t.cost_remark costRemark,t.inventory_price inventoryPrice,t.batch batch,t.storage_location_id storageLocationId,
			t.base_unit baseUnit,t.update_time updateTime,g.goods_id goodsId,g.goods_name goodsName,g.goods_spec goodsSpec,
			g.goods_code goodsCode,g.goods_barcode goodsBarcode,g.goods_price goodsPrice,g.goods_batch goodsBatch,g.sub_item_id subItemId,
			g.original_goods_id originalGoodsId,g.goods_category goodsCategory,g.goods_classify goodsClassify,g.min_unit minUnit
			from inventory t inner join goods_info g on
       		t.goods_id = g.goods_id
		<where>
			t.company_id = #{companyId,jdbcType=BIGINT}
			<if test="customerId != null">
			and t.customer_id = #{customerId,jdbcType=BIGINT}
			</if>
			<if test="warehouseId != null">
			and t.warehouse_id = #{warehouseId,jdbcType=BIGINT}
			</if>
			<if test="storageLocationCode != null">
			and t.storage_location_code = #{storageLocationCode,jdbcType=VARCHAR} 
			</if>
			<if test="goodsBatch != null">
			and t.batch = #{goodsBatch,jdbcType=VARCHAR}
			</if>
			<if test="goodsBatch == null">
			and t.batch is null
			</if>
			<if test="goodsCode">
			and g.goods_code = #{goodsCode,jdbcType=VARCHAR}
			</if>			 
		</where>	
	</select>
	
	

</mapper>

