<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.warehouse.mapper.InventoryMapper">

    <resultMap id="baseResult" type="Inventory">

    </resultMap>
    <select id="selectInventoryList" resultType="Inventory" >
        SELECT * from inventory
        <where>
            <if test="batch != null">
                batch = #{batch}
            </if>

            <if test="wareHouseId != null">
               AND warehouse_id = #{wareHouseId}
            </if>

            <if test="strogeLocationCode != null">
                and storage_location_code = #{strogeLocationCode}
            </if>

            <if test="goodsQuery != null">
                and batch = #{batch}
            </if>
        </where>
    </select>
</mapper>
