<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.warehouse.mapper.InventoryMapper">

    <resultMap id="BaseResultMap" type="com.lcdt.warehouse.entity.Inventory">
        <id column="invertory_id" jdbcType="BIGINT" property="invertoryId" />
        <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
        <result column="invertory_num" jdbcType="INTEGER" property="invertoryNum" />
        <result column="lock_num" jdbcType="REAL" property="lockNum" />
        <result column="warehouse_id" jdbcType="BIGINT" property="wareHouseId" />
        <result column="company_id" jdbcType="BIGINT" property="companyId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="business_desc" jdbcType="VARCHAR" property="businessDesc" />
        <result column="storage_location_code" jdbcType="VARCHAR" property="storageLocationCode" />
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
        <result column="customer_id" jdbcType="BIGINT" property="customerId" />
        <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
        <result column="original_goods_id" jdbcType="BIGINT" property="originalGoodsId"/>
        <result column="cost_remark" jdbcType="VARCHAR" property="costRemark" />
        <result column="inventory_price" jdbcType="FLOAT" property="inventoryPrice"/>
        <result column="batch" jdbcType="VARCHAR" property="batch" />
        <result column="storage_location_id" jdbcType="BIGINT" property="storageLocationId"/>
        <result column="base_unit" jdbcType="VARCHAR" property="baseUnit" />
        <association  property="goodsInfo" javaType="com.lcdt.warehouse.entity.GoodsInfo" autoMapping="true">

        </association>
        
    </resultMap>

    
    <select id="selectInventoryList" resultMap="BaseResultMap" >
        SELECT * from inventory t left join goods_info  g on
        t.goods_id = g.goods_id
        <where>
            <if test="batch != null">
                batch = #{batch}
            </if>

            <if test="wareHouseId != null">
               AND warehouse_id = #{wareHouseId}
            </if>

            <if test="storageLocationCode != null">
                and storage_location_code = #{storageLocationCode}
            </if>

            <if test="goodsId != null">
                and goods_id = #{goodsId}
            </if>

            <if test="customerId != null">
                and customer_id = #{customerId}
            </if>


            <if test="originalGoodsId != null">
                and original_goods_id = #{originalGoodsId}
            </if>

            <if test="goodsBarCode != null">
                and g.goods_barcode = #{goodsBarCode}
            </if>
            <if test="goodsCode != null">
                and g.goods_code = #{goodsCode}
            </if>
        </where>
    </select>

    <select id="selectInventoryListByqueryDto" resultMap="BaseResultMap" >
        SELECT * from inventory t left join goods_info  g on
        t.goods_id = g.goods_id
        <where>
            <if test="querydto.companyId != null">
                t.company_id = #{querydto.companyId}
            </if>
            <if test="querydto.batch != null">
                batch = #{querydto.batch}
            </if>

            <if test="querydto.wareHouseId != null">
                AND warehouse_id = #{querydto.wareHouseId}
            </if>

            <if test="querydto.storageLocationCode != null">
                and storage_location_code = #{querydto.storageLocationCode}
            </if>

            <if test="querydto.customerId != null">
                and customer_id = #{querydto.customerId}
            </if>

            <if test="goodsIds != null">
                and t.original_goods_id IN
              <foreach collection="goodsIds" index="index" item="item" open="(" separator="," close=")">
                 #{item}
              </foreach>
            </if>
        </where>
    </select>

	<update id="updateInventoryLockNum">
		update inventory
		set 
		<choose>
		<when test="arg1 != null">
			inventory_num = inventory_num - #{arg1,jdbcType=float}
			lock_num =lock_num - #{arg2,jdbcType=float}
		</when>
		<otherwise>
			lock_num =lock_num + #{arg2,jdbcType=float}
		</otherwise>
		</choose>
	</update>

	<select id="getInventoryListByIds" resultMap="BaseResultMap">
			SELECT * from inventory t left join goods_info  g on
        	t.goods_id = g.goods_id
		<where>
			inventory_id in
		<foreach collection="array" open="(" close=")" index="index" item="item" separator=",">
			#{item,jdbcType=BIGINT}
		</foreach>
		</where>
	</select>
	
	<select id="getInventoryAndGoodsInfo" resultType="com.lcdt.warehouse.dto.ShiftInventoryListDTO">
			select t.inventory_id inventoryId,t.storage_location_code storageLocationCode,g.goods_batch goodsBatch
			g.goods_name goodsName,g.goods_spec goodsSpec,g.goods_code goodsCode,g.bar_code barCode,t.base_unit baseUnit
			from inventory t inner join goods_info  g on
       		 t.goods_id = g.goods_id
		<where>
			inventory_id in
		<foreach collection="array" open="(" close=")" index="index" item="item" separator=",">
			#{item,jdbcType=BIGINT}
		</foreach>
		</where>
	</select>

</mapper>

