<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.warehouse.mapper.InventoryLogMapper">

    <resultMap id="BaseResultMap" type="com.lcdt.warehouse.entity.InventoryLog">
        <id column="log_id" jdbcType="BIGINT" property="logId" />
        <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
        <result column="storage_location_code" jdbcType="VARCHAR" property="storageLocationCode" />
        <result column="log_time" jdbcType="TIMESTAMP" property="logTime" />
        <result column="current_invetory" jdbcType="INTEGER" property="currentInvetory" />
        <result column="change_num" jdbcType="REAL" property="changeNum" />
        <result column="business_no" jdbcType="VARCHAR" property="businessNo" />
        <result column="inventory_id" jdbcType="BIGINT" property="inventoryId" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="original_goods_id" jdbcType="BIGINT" property="originalGoodsId" />
        <result column="customer_id" jdbcType="BIGINT" property="customerId" />
        <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
        <result column="storage_location_id" jdbcType="BIGINT" property="storageLocationId" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
        <result column="company_id" jdbcType="BIGINT" property="companyId" />
        <result column="log_no" jdbcType="VARCHAR" property="logNo" />
        <result column="batch" jdbcType="VARCHAR" property="batch" />
        <association property="goodsInfo" autoMapping="true" javaType="com.lcdt.warehouse.entity.GoodsInfo"></association>
        <association property="warehouse" column="warehouse_id"  javaType="com.lcdt.warehouse.entity.Warehouse" select="selectWareHouse"></association>
    </resultMap>

    <select id="selectWareHouse" resultMap="com.lcdt.warehouse.mapper.WarehousseMapper.BaseResultMap">
        select * from t_warehouse where wh_id = #{id}
    </select>

    <insert id="saveLog" parameterType="com.lcdt.warehouse.entity.InventoryLog">
        <selectKey keyProperty="inventoryId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into inventory_log (log_id, goods_id, warehouse_id,
        storage_location_code,  current_invetory,
        change_num, business_no, type,
        original_goods_id, customer_id, customer_name,
        storage_location_id, comment, company_id,
        log_no, batch, order_id,inventory_id
        )
        values (#{logId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{warehouseId,jdbcType=BIGINT},
        #{storageLocationCode,jdbcType=VARCHAR}, #{currentInvetory,jdbcType=INTEGER},
        #{changeNum,jdbcType=REAL}, #{businessNo,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
        #{originalGoodsId,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR},
        #{storageLocationId,jdbcType=BIGINT}, #{comment,jdbcType=VARCHAR}, #{companyId,jdbcType=BIGINT},
        INVENTORY_LOG_NO(), #{batch,jdbcType=VARCHAR}, #{orderId,jdbcType=BIGINT},#{inventoryId,jdbcType=BIGINT}
        )
    </insert>

    <select id="selectLogList" resultMap="BaseResultMap">
        SELECT * from inventory_log a left join goods_info b on
        a.goods_id = b.goods_id
        <where>
            <if test="companyId != null">
                a.company_id = #{companyId}
            </if>
            <if test="inventoryId != null">
                and a.inventory_id = #{inventoryId}
            </if>

            <if test="type != null">
                and a.type = #{type}
            </if>
            <if test="customerId != null">
                and a.customer_id = #{customerId}
            </if>

            <if test="warehouseId != null">
                and a.warehouse_id = #{warehouseId}
            </if>

            <if test="storageLocationCode != null">
                and a.storage_location_code like CONCAT(CONCAT('%',#{storageLocationCode}),'%')
            </if>
            <if test="since != null">
                and a.log_time &gt;=  #{since}
            </if>
            <if test="until != null">
                and a.log_time &lt;= #{until}
            </if>
            <if test="goodsName != null">
                and b.goods_name like CONCAT(CONCAT('%',#{goodsName}),'%')
            </if>
            <if test="goodsbarcode != null">
                and b.goods_barcode like CONCAT(CONCAT('%',#{goodsbarcode}),'%')
            </if>
            <if test="businessNo != null ">
                and a.business_no like CONCAT(CONCAT('%',#{businessNo}),'%')
            </if>
        </where>
        order by log_time desc
    </select>

    <select id="selectWarehouseProductNum" resultType="map">
        select abs(sum(change_num)) num,time from (
        select il.change_num,DATE_FORMAT(il.log_time,'%Y-%m-%d') time from inventory_log il
        where il.log_time is not null
        and il.company_id= #{companyId,jdbcType=BIGINT}
        <include refid="sql_report" />
        ) a group by a.time
    </select>

    <select id="selectWarehouseProductNum4Report" resultType="long">
        select abs(sum(il.change_num))num from inventory_log il
        join t_warehouse tw on il.warehouse_id = tw.wh_id
        join goods_info gi on il.goods_id = gi.goods_id
        where il.log_time is not null
        and il.company_id= #{companyId,jdbcType=BIGINT}
        <include refid="sql_report" />
    </select>

    <select id="selectWarehouseProduct4SummaryReport" resultType="map" >
        select a.innum,a.outnum,b.* from
        (select abs(sum(innum)) innum,
        abs(sum(outnum)) outnum,a.rowkey
         from (
        select
        CASE when il.type= 0 then il.change_num else 0 end innum,
        CASE when il.type= 1 then il.change_num else 0 end outnum,
        CONCAT_WS('-',il.warehouse_id,il.customer_id,il.goods_id,il.batch)rowkey,
        il.type
        from inventory_log il
        join t_warehouse tw on il.warehouse_id = tw.wh_id
        join goods_info gi on il.goods_id = gi.goods_id
        where il.log_time is not null

        and il.company_id= #{companyId,jdbcType=BIGINT}
        <include refid="sql_report" />

        ) a group by a.rowkey)a

        join (
        select il.customer_id,il.customer_name ,il.warehouse_id,tw.wh_name,
                gi.goods_name,gi.goods_code,gi.goods_classify,il.batch,gi.min_unit,gi.goods_spec,gi.goods_barcode,
        CONCAT_WS('-',il.warehouse_id,il.customer_id,il.goods_id,il.batch)rowkey
                from inventory_log il
                join t_warehouse tw on il.warehouse_id = tw.wh_id
                join goods_info gi on il.goods_id = gi.goods_id
                where il.log_time is not null

                and il.company_id= #{companyId,jdbcType=BIGINT}
                <include refid="sql_report" />

                group by il.customer_id,il.warehouse_id,gi.goods_code,il.batch
                )b on a.rowkey = b.rowkey order by b.goods_code

    </select>

    <select id="selectWarehouseProduct4ReportGroupWare" resultType="map">
        select abs(sum(il.change_num))num,il.warehouse_id,tw.wh_name from inventory_log il
        join t_warehouse tw on il.warehouse_id = tw.wh_id
        join goods_info gi on il.goods_id = gi.goods_id
        where il.log_time is not null
        and il.company_id= #{companyId,jdbcType=BIGINT}
        <include refid="sql_report" />
        group by il.warehouse_id
    </select>
    <select id="selectWarehouseProduct4ReportGroupCustomer" resultType="map">
        select abs(sum(il.change_num))num,il.customer_id,il.customer_name from inventory_log il
        join t_warehouse tw on il.warehouse_id = tw.wh_id
        join goods_info gi on il.goods_id = gi.goods_id
        where il.log_time is not null
        and il.company_id= #{companyId,jdbcType=BIGINT}
        <include refid="sql_report" />
        group by il.customer_id
    </select>


    <select id="selectWarehouseProduct4Report" resultType="map" >
        select abs(sum(il.change_num))num,il.customer_id,il.customer_name ,il.warehouse_id,tw.wh_name,
        gi.goods_name,gi.goods_code,gi.goods_classify,il.batch,gi.min_unit,gi.goods_spec,gi.goods_barcode
        from inventory_log il
        join t_warehouse tw on il.warehouse_id = tw.wh_id
        join goods_info gi on il.goods_id = gi.goods_id
        where il.log_time is not null
        and il.company_id= #{companyId,jdbcType=BIGINT}
        <include refid="sql_report" />
        group by il.customer_id,il.warehouse_id,gi.goods_code,il.batch
        order by gi.goods_code
    </select>

    <sql id="sql_report">
        <if test="type!=null and type!=''">
            and il.type = #{type}
        </if>
        <if test="warehouseId!=null and warehouseId!=''">
            and il.warehouse_id = #{warehouseId,jdbcType=BIGINT}
        </if>
        <if test="customerId!=null and customerId!=''">
            and il.customer_id = #{customerId,jdbcType=BIGINT}
        </if>
        <if test="startStorageTime!=null and startStorageTime!=''">
            and il.log_time &gt;= CONCAT(STR_TO_DATE(#{startStorageTime,jdbcType=VARCHAR},'%Y-%m-%d'),' ','00:00:00')
        </if>
        <if test="endStorageTime!=null and endStorageTime!=''">
            and il.log_time &lt;= CONCAT(STR_TO_DATE(#{endStorageTime,jdbcType=VARCHAR},'%Y-%m-%d'),' ','23:59:59')
        </if>
        <if test="batch!=null and batch!=''">
            and il.batch like concat('%',#{batch,jdbcType=VARCHAR},'%')
        </if>

        <if test="goodsName != null and goodsName!=''">
            and gi.goods_name like CONCAT(CONCAT('%',#{goodsName}),'%')
        </if>
        <if test="goodsbarcode != null and goodsbarcode!=''">
            and gi.goods_barcode like CONCAT(CONCAT('%',#{goodsbarcode}),'%')
        </if>
        <if test="goodsCode != null and goodsCode!=''">
            and gi.goods_code like CONCAT(CONCAT('%',#{goodsCode}),'%')
        </if>
    </sql>

</mapper>
