<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.warehouse.mapper.InWarehousePlanMapper">

    <sql id="Base_Column_List">
        plan_id, plan_no,create_time,create_user_name,create_user_id,group_id,group_name,company_id,customer_name,
        customer_id,plan_status,customer_contact_name,customer_contact_phone,customer_purchase_no,storage_type,
        storage_plan_time,storage_remark,deliveryman_name,deliveryman_phone,deliveryman_linkman,deliveryman_car,
        ware_house_id,warehouse_name,contract_no,attachment,update_id,update_name,update_date
    </sql>

    <select id="inWarehousePlanList" parameterType="com.lcdt.warehouse.dto.InWhPlanSearchParamsDto" resultType="com.lcdt.warehouse.entity.InWarehousePlan">
        SELECT <include refid="Base_Column_List" />
        FROM in_warehouse_plan
        <where>
            <if test="companyId != null and companyId>0">
                and  company_id = #{companyId}
            </if>
            <if test="planStatus != null and planStatus!=''">
                and  plan_status = #{planStatus}
            </if>
            <if test="planNo!=null and planNo != ''">
                and plan_no like concat('%',#{planNo},'%')
            </if>
            <if test="createBeginStr != null and createBeginStr != ''">
                and  create_time >= #{createBeginStr}
            </if>
            <if test="createEndStr != null and createEndStr != ''">
                and  #{createEndStr} >= create_time
            </if>
            <if test="wareHouseId != null and wareHouseId>0">
                and  ware_house_id = #{wareHouseId}
            </if>
            <if test="createUserName!=null and createUserName != ''">
                and create_user_name like concat('%',#{createUserName},'%')
            </if>
            <if test="goodsName != null and goodsName!=''">
                and  plan_id in (SELECT plan_id FROM inplan_goods_info g1 LEFT JOIN goods_info g2 on g1.goods_id=g2.goods_id
                                  WHERE g2.goods_name like concat('%',#{goodsName},'%')
                                 )
            </if>
            <if test="customerName!=null and customerName != ''">
                and customer_name like concat('%',#{customerName},'%')
            </if>
            <if test="storageType!=null and storageType != ''">
                and storage_type = #{storageType}
            </if>
            <if test="groupIds!=null and groupIds!=''">
                and group_id in (#{groupIds})
            </if>
            <if test="customerPurchaseNo!=null and customerPurchaseNo != ''">
                and customer_purchase_no like concat('%',#{customerPurchaseNo},'%')
            </if>
            <if test="contractNo!=null and contractNo != ''">
                and contract_no like concat('%',#{contractNo},'%')
            </if>
        </where>
       ORDER BY plan_id DESC
    </select>

</mapper>
