<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.warehouse.mapper.InWarehouseOrderMapper">
    <resultMap id="BaseResultMap" type="com.lcdt.warehouse.entity.InWarehouseOrder">
        <id column="inorder_id" jdbcType="BIGINT" property="inorderId"/>
        <result column="plan_id" jdbcType="BIGINT" property="planId"/>
        <result column="in_order_code" jdbcType="VARCHAR" property="inOrderCode"/>
        <result column="in_order_status" jdbcType="TINYINT" property="inOrderStatus"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="purchase_code" jdbcType="VARCHAR" property="purchaseCode"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="customer_contact_name" jdbcType="VARCHAR" property="customerContactName"/>
        <result column="customer_contact_phone" jdbcType="VARCHAR" property="customerContactPhone"/>
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <result column="storage_type" jdbcType="VARCHAR" property="storageType"/>
        <result column="storage_plan_time" jdbcType="TIMESTAMP" property="storagePlanTime"/>
        <result column="storage_man" jdbcType="VARCHAR" property="storageMan"/>
        <result column="storage_time" jdbcType="TIMESTAMP" property="storageTime"/>
        <result column="storage_remark" jdbcType="VARCHAR" property="storageRemark"/>
        <result column="deliveryman_name" jdbcType="VARCHAR" property="deliverymanName"/>
        <result column="deliveryman_phone" jdbcType="VARCHAR" property="deliverymanPhone"/>
        <result column="deliveryman_linkman" jdbcType="VARCHAR" property="deliverymanLinkman"/>
        <result column="deliveryman_car" jdbcType="VARCHAR" property="deliverymanCar"/>
        <result column="attachments" jdbcType="VARCHAR" property="attachments"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="create_id" jdbcType="BIGINT" property="createId"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_id" jdbcType="BIGINT" property="updateId"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
    </resultMap>

    <resultMap id="InWarehouseOrderDetailsMap" type="com.lcdt.warehouse.dto.InWarehouseOrderDto" extends="BaseResultMap">
        <collection property="goodsInfoDtoList" column="inorder_id" ofType="com.lcdt.warehouse.dto.InorderGoodsInfoDto" select="com.lcdt.warehouse.mapper.InorderGoodsInfoMapper.selectGoodsDetail"/>
    </resultMap>

    <resultMap id="BaseResultMapOfDisRecords" type="com.lcdt.warehouse.dto.DistributionRecordsDto">
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <collection property="goodsInfoDtoList" ofType="com.lcdt.warehouse.dto.InorderGoodsInfoDto">
            <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
            <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
            <result column="goods_barcode" jdbcType="VARCHAR" property="goodsBarcode" />
            <result column="receivalbe_amount" jdbcType="REAL" property="receivalbeAmount" />
        </collection>
    </resultMap>

    <sql id="Base_Select_List" >
        inorder_id, plan_id, in_order_code, in_order_status, group_id, group_name,
        purchase_code, customer_name,customer_id, customer_contact_name, customer_contact_phone, warehouse_id,
        warehouse_name, storage_type, storage_plan_time, storage_time, storage_remark, deliveryman_name,
        deliveryman_phone, deliveryman_linkman, deliveryman_car, attachments, company_id,
        create_id, create_name, create_date,is_deleted
    </sql>

    <sql id="select_condition">
        <if test="inOrderCode!=null and inOrderCode!=''">
            and in_order_code like concat('%',#{inOrderCode,jdbcType=VARCHAR},'%')
        </if>
        <if test="inOrderStatus!=null and inOrderStatus!='' and inOrderStatus.length>0">
            and in_order_status in
            <foreach collection="inOrderStatus" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="planId!=null and planId!=''">
            and plan_id = #{planId,jdbcType=BIGINT}
        </if>
        <if test="warehouseId!=null and warehouseId!=''">
            and warehouse_id = #{warehouseId,jdbcType=BIGINT}
        </if>
        <if test="createName!=null and createName!=''">
            and create_name = #{createName,jdbcType=VARCHAR}
        </if>
        <if test="startCreateDate!=null and startCreateDate!=''">
            and create_date &gt;= CONCAT(STR_TO_DATE(#{startCreateDate,jdbcType=VARCHAR},'%Y-%m-%d'),' ','00:00:00')
        </if>
        <if test="endCreateDate!=null and endCreateDate!=''">
            and create_date &lt;= CONCAT(STR_TO_DATE(#{endCreateDate,jdbcType=VARCHAR},'%Y-%m-%d'),' ','23:59:59')
        </if>
        <if test="startStorageTime!=null and startStorageTime!=''">
            and storage_time &gt;= CONCAT(STR_TO_DATE(#{startStorageTime,jdbcType=VARCHAR},'%Y-%m-%d'),' ','00:00:00')
        </if>
        <if test="endStorageTime!=null and endStorageTime!=''">
            and storage_time &lt;= CONCAT(STR_TO_DATE(#{endStorageTime,jdbcType=VARCHAR},'%Y-%m-%d'),' ','23:59:59')
        </if>
        <if test="storageType!=null and storageType!=''">
            and storage_type = #{storageType,jdbcType=VARCHAR}
        </if>
        <if test="customerName!=null and customerName!=''">
            and customer_name like concat('%',#{customerName,jdbcType=VARCHAR},'%')
        </if>
        <if test="storageMan!=null and storageMan!=''">
            and storage_man like concat('%',#{storageMan,jdbcType=VARCHAR},'%')
        </if>
        <if test="purchaseCode!=null and purchaseCode!=''">
            and purchase_code like concat('%',#{purchaseCode,jdbcType=VARCHAR},'%')
        </if>
        <if test="goodsInfo != null and goodsInfo!=''">
            and inorder_id in (SELECT DISTINCT inorder_id FROM inorder_goods_info WHERE goods_name like concat('%',#{goodsInfo,jdbcType=VARCHAR},'%'))
        </if>
        <if test="isDeleted!=null and isDeleted!=''">
            and is_deleted = #{isDeleted,jdbcType=VARCHAR}
        </if>
    </sql>

    <insert id="insertInWarehouseOrder" parameterType="com.lcdt.warehouse.entity.InWarehouseOrder">
        <selectKey keyProperty="inorderId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into in_warehouse_order (plan_id, in_order_code, in_order_status,
        group_id, group_name, purchase_code,
        customer_name, customer_contact_name,customer_id, customer_contact_phone,
        warehouse_id, warehouse_name, storage_type,
        storage_plan_time, storage_time, storage_remark,
        deliveryman_name, deliveryman_phone, deliveryman_linkman,
        deliveryman_car, attachments, company_id,
        create_id, create_name, create_date,
        is_deleted)
        values (#{planId,jdbcType=BIGINT},
        <choose>
            <when test="planId!=null and planId!=''">
                F_IN_ORDER_CODE_BY_PLAN(#{inOrderCode,jdbcType=VARCHAR},#{planId,jdbcType=BIGINT})
            </when>
            <otherwise>
                F_IN_ORDER_CODE('IN')
            </otherwise>
        </choose>,
        #{inOrderStatus,jdbcType=TINYINT},
        #{groupId,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR}, #{purchaseCode,jdbcType=VARCHAR},
        #{customerName,jdbcType=VARCHAR},#{customerId,jdbcType=BIGINT}, #{customerContactName,jdbcType=VARCHAR},
        #{customerContactPhone,jdbcType=VARCHAR},
        #{wareHouseId,jdbcType=BIGINT}, #{warehouseName,jdbcType=VARCHAR}, #{storageType,jdbcType=VARCHAR},
        #{storagePlanTime,jdbcType=TIMESTAMP}, #{storageTime,jdbcType=TIMESTAMP}, #{storageRemark,jdbcType=VARCHAR},
        #{deliverymanName,jdbcType=VARCHAR}, #{deliverymanPhone,jdbcType=VARCHAR},
        #{deliverymanLinkman,jdbcType=VARCHAR},
        #{deliverymanCar,jdbcType=VARCHAR}, #{attachments,jdbcType=VARCHAR}, #{companyId,jdbcType=BIGINT},
        #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR},CURRENT_TIMESTAMP,
        0)
    </insert>

    <select id="selectByCondition" resultMap="InWarehouseOrderDetailsMap">
        SELECT <include refid="Base_Select_List"/>
        from in_warehouse_order
        <where>
            company_id= #{companyId,jdbcType=BIGINT} <include refid="select_condition"/>
        </where>
    </select>

    <select id="selectDisRecords" resultMap="BaseResultMapOfDisRecords">
        select o.warehouse_id,o.warehouse_name,g.goods_name,g.goods_code,g.goods_barcode,SUM(g.receivalbe_amount) receivalbe_amount
        from in_warehouse_order o
        left join inorder_goods_info g on o.inorder_id=g.inorder_id
        where company_id= #{companyId,jdbcType=BIGINT} and plan_id = #{planId,jdbcType=BIGINT}
        group by o.warehouse_id,o.warehouse_name,g.goods_name,g.goods_code,g.goods_barcode
    </select>
</mapper>
