<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.warehouse.mapper.OutWarehouseOrderMapper">
    <resultMap id="BaseResultMap" type="com.lcdt.warehouse.entity.OutWarehouseOrder">
        <id column="outorder_id" jdbcType="BIGINT" property="outorderId" />
        <result column="out_plan_id" jdbcType="BIGINT" property="outPlanId" />
        <result column="outorder_no" jdbcType="VARCHAR" property="outorderNo" />
        <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
        <result column="group_id" jdbcType="BIGINT" property="groupId" />
        <result column="group_name" jdbcType="VARCHAR" property="groupName" />
        <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
        <result column="purchase_no" jdbcType="VARCHAR" property="purchaseNo" />
        <result column="customer_id" jdbcType="BIGINT" property="customerId" />
        <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
        <result column="customer_contact_name" jdbcType="VARCHAR" property="customerContactName" />
        <result column="customer_contact_phone" jdbcType="VARCHAR" property="customerContactPhone" />
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
        <result column="outbound_type" jdbcType="VARCHAR" property="outboundType" />
        <result column="outbound_plan_time" jdbcType="TIMESTAMP" property="outboundPlanTime" />
        <result column="outbound_time" jdbcType="TIMESTAMP" property="outboundTime" />
        <result column="out_plan_remark" jdbcType="VARCHAR" property="outPlanRemark" />
        <result column="outbound_remark" jdbcType="VARCHAR" property="outboundRemark" />
        <result column="pickup_unit" jdbcType="VARCHAR" property="pickupUnit" />
        <result column="pickup_linkman" jdbcType="VARCHAR" property="pickupLinkman" />
        <result column="pickup_identiycard" jdbcType="VARCHAR" property="pickupIdentiycard" />
        <result column="pickup_phone" jdbcType="VARCHAR" property="pickupPhone" />
        <result column="pickup_vehicle_num" jdbcType="VARCHAR" property="pickupVehicleNum" />
        <result column="attachments" jdbcType="VARCHAR" property="attachments" />
        <result column="outbound_man" jdbcType="VARCHAR" property="outboundMan" />
        <result column="company_id" jdbcType="BIGINT" property="companyId" />
        <result column="create_id" jdbcType="BIGINT" property="createId" />
        <result column="create_name" jdbcType="VARCHAR" property="createName" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_id" jdbcType="BIGINT" property="updateId" />
        <result column="update_name" jdbcType="VARCHAR" property="updateName" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    </resultMap>

    <resultMap id="OutWarehouseOrderDetailsMap" type="com.lcdt.warehouse.dto.OutWhOrderDto" extends="BaseResultMap">
        <collection property="outOrderGoodsInfoList" column="outorder_id" select="com.lcdt.warehouse.mapper.OutOrderGoodsInfoMapper.selectOutOrderGoodsDetail"/>
    </resultMap>

    <resultMap id="BaseResultMapOfDisRecords" type="com.lcdt.warehouse.dto.DistributionRecordsOutOrderDto">
        <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
        <collection property="outOrderGoodsInfoDtoList" ofType="com.lcdt.warehouse.dto.OutOrderGoodsInfoDto">
            <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
            <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
            <result column="goods_barcode" jdbcType="VARCHAR" property="goodsBarCode" />
            <result column="unit" jdbcType="VARCHAR" property="unit" />
            <result column="goods_num" jdbcType="REAL" property="goodsNum" />
            <result column="outbound_quantity" jdbcType="REAL" property="outboundQuantity" />
        </collection>
    </resultMap>

    <sql id="BaseSelectFields">
        outorder_id, out_plan_id, outorder_no, order_status, group_id, group_name,
        contract_no, purchase_no, customer_id, customer_name, customer_contact_name, customer_contact_phone,
        warehouse_id, warehouse_name, outbound_type, outbound_plan_time, outbound_time,out_plan_remark ,outbound_remark,
        pickup_unit, pickup_linkman, pickup_identiycard, pickup_phone,pickup_vehicle_num, attachments,outbound_man,
        company_id, create_id, create_name, create_date, update_id, update_name, update_date,
        is_deleted
    </sql>

    <sql id="selectCondition">
        <if test="outorderNo!=null and outorderNo!=''">
            and outorder_no like concat('%',#{outorderNo,jdbcType=VARCHAR},'%')
        </if>
        <if test="orderStatus!=null and orderStatus!='' and orderStatus.length>0">
            and order_status in
            <foreach collection="orderStatus" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="outPlanId!=null and outPlanId!=''">
            and out_plan_id = #{outPlanId,jdbcType=BIGINT}
        </if>
        <if test="warehouseId!=null and warehouseId!=''">
            and warehouse_id = #{warehouseId,jdbcType=BIGINT}
        </if>
        <if test="createName!=null and createName!=''">
            and create_name like concat('%',#{createName,jdbcType=VARCHAR},'%')
        </if>
        <if test="startCreateDate!=null and startCreateDate!=''">
            and create_date &gt;= CONCAT(STR_TO_DATE(#{startCreateDate,jdbcType=VARCHAR},'%Y-%m-%d'),' ','00:00:00')
        </if>
        <if test="endCreateDate!=null and endCreateDate!=''">
            and create_date &lt;= CONCAT(STR_TO_DATE(#{endCreateDate,jdbcType=VARCHAR},'%Y-%m-%d'),' ','23:59:59')
        </if>
        <if test="startOutboundTime!=null and startOutboundTime!=''">
            and outbound_time &gt;= CONCAT(STR_TO_DATE(#{startOutboundTime,jdbcType=VARCHAR},'%Y-%m-%d'),' ','00:00:00')
        </if>
        <if test="endOutboundTime!=null and endOutboundTime!=''">
            and outbound_time &lt;= CONCAT(STR_TO_DATE(#{endOutboundTime,jdbcType=VARCHAR},'%Y-%m-%d'),' ','23:59:59')
        </if>
        <if test="outboundType!=null and outboundType!=''">
            and outbound_type = #{outboundType,jdbcType=VARCHAR}
        </if>
        <if test="customerId!=null and customerId!=''">
            and customer_id = #{customerId,jdbcType=BIGINT}
        </if>
        <if test="customerName!=null and customerName!=''">
            and customer_name like concat('%',#{customerName,jdbcType=VARCHAR},'%')
        </if>
        <if test="outboundMan!=null and outboundMan!=''">
            and outbound_man like concat('%',#{outboundMan,jdbcType=VARCHAR},'%')
        </if>
        <if test="groupId!=null and groupId!=''">
            and group_id = #{groupId,jdbcType=BIGINT}
        </if>
        <if test="goodsInfo != null and goodsInfo!=''">
            and outorder_id in (SELECT DISTINCT outorder_id FROM out_order_goods_info WHERE goods_name like concat('%',#{goodsInfo,jdbcType=VARCHAR},'%'))
        </if>
        <if test="purchaseNo!=null and purchaseNo!=''">
            and purchase_no like concat('%',#{purchaseNo,jdbcType=VARCHAR},'%')
        </if>

    </sql>

    <insert id="insertOutWarehouseOrder" parameterType="com.lcdt.warehouse.entity.OutWarehouseOrder">
        <selectKey keyProperty="outorderId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into out_warehouse_order (out_plan_id, outorder_no, order_status,
        group_id, group_name, contract_no,
        purchase_no, customer_id, customer_name,
        customer_contact_name, customer_contact_phone,
        warehouse_id, warehouse_name, outbound_type,
        outbound_plan_time, outbound_time,out_plan_remark ,outbound_remark,
        pickup_unit, pickup_linkman, pickup_identiycard,
        pickup_phone,pickup_vehicle_num, attachments,outbound_man, company_id,
        create_id, create_name, create_date,
        is_deleted)
        values (#{outPlanId,jdbcType=BIGINT},
        <choose>
            <when test="outPlanId!=null and outPlanId!=''">
                F_OUT_ORDER_CODE_BY_PLAN(#{outorderNo,jdbcType=VARCHAR},#{outPlanId,jdbcType=BIGINT})
            </when>
            <otherwise>
                F_OUT_ORDER_CODE('ON')
            </otherwise>
        </choose>,
        #{orderStatus,jdbcType=INTEGER},
        #{groupId,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR},
        #{purchaseNo,jdbcType=VARCHAR}, #{customerId,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR},
        #{customerContactName,jdbcType=VARCHAR}, #{customerContactPhone,jdbcType=VARCHAR},
        #{warehouseId,jdbcType=BIGINT}, #{warehouseName,jdbcType=VARCHAR}, #{outboundType,jdbcType=VARCHAR},
        #{outboundPlanTime,jdbcType=TIMESTAMP}, #{outboundTime,jdbcType=TIMESTAMP},#{outPlanRemark,jdbcType=VARCHAR}, #{outboundRemark,jdbcType=VARCHAR},
        #{pickupUnit,jdbcType=VARCHAR}, #{pickupLinkman,jdbcType=VARCHAR}, #{pickupIdentiycard,jdbcType=VARCHAR},#{pickupPhone,jdbcType=VARCHAR},
        #{pickupVehicleNum,jdbcType=VARCHAR}, #{attachments,jdbcType=VARCHAR},#{outboundMan,jdbcType=VARCHAR}, #{companyId,jdbcType=BIGINT},
        #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, CURRENT_TIMESTAMP,
        0)
    </insert>

    <select id="selectByCondition" parameterType="com.lcdt.warehouse.dto.OutWhOrderSearchDto" resultMap="OutWarehouseOrderDetailsMap">
        select <include refid="BaseSelectFields"/>
        from out_warehouse_order
        <where>
            company_id= #{companyId,jdbcType=BIGINT} <include refid="selectCondition"/>
        </where>
        order by outorder_id desc
    </select>

    <select id="selectOutWarehouseOrder" resultMap="OutWarehouseOrderDetailsMap">
        SELECT <include refid="BaseSelectFields"/>
        FROM out_warehouse_order
        WHERE company_id= #{companyId,jdbcType=BIGINT} and outorder_id = #{outorderId,jdbcType=BIGINT}
    </select>

    <select id="selectOutOrderDisRecords" resultMap="BaseResultMapOfDisRecords">
        select o.warehouse_id,o.warehouse_name,g.goods_name,g.goods_code,g.goods_bar_code,g.unit,SUM(g.goods_num) goods_num,SUM(g.outbound_quantity)
        from out_warehouse_order o
        left join out_order_goods_info g on o.outorder_id=g.outorder_id
        where company_id= #{companyId,jdbcType=BIGINT} and out_plan_id = #{outPlanId,jdbcType=BIGINT}
        group by o.warehouse_id,o.warehouse_name,g.goods_code,g.goods_bar_code
    </select>


    <select id="selectOutWarehouseNum" resultType="map" >
        select date_format(outbound_time1, '%Y-%m-%d') outbound_time,sum(1) num from (
        select outbound_time outbound_time1,warehouse_id,customer_id,company_id from out_warehouse_order
        where 1=1   and outbound_time is not null
         and company_id= #{companyId,jdbcType=BIGINT}
        <include refid="selectCondition"/>
        )a GROUP BY outbound_time order by outbound_time
    </select>

    <select id="selectOutWarehouseProductNum" resultType="map" >
        select date_format(outbound_time1, '%Y-%m-%d') outbound_time,sum(outbound_quantity) num from (
        select owo.outbound_time outbound_time1,orgi.outbound_quantity from out_warehouse_order owo join out_order_goods_info orgi on owo.outorder_id = orgi.outorder_id
        where 1=1  and outbound_time is not null
        and company_id= #{companyId,jdbcType=BIGINT}
        and owo.order_status = 2
        <if test="startOutboundTime!=null and startOutboundTime!=''">
            and owo.outbound_time &gt;= CONCAT(STR_TO_DATE(#{startOutboundTime,jdbcType=VARCHAR},'%Y-%m-%d'),' ','00:00:00')
        </if>
        <if test="endOutboundTime!=null and endOutboundTime!=''">
            and owo.outbound_time &lt;= CONCAT(STR_TO_DATE(#{endOutboundTime,jdbcType=VARCHAR},'%Y-%m-%d'),' ','23:59:59')
        </if>
        <if test="warehouseId!=null and warehouseId!=''">
            and owo.warehouse_id = #{warehouseId,jdbcType=BIGINT}
        </if>
        <if test="customerId!=null and customerId!=''">
            and owo.customer_id = #{customerId,jdbcType=BIGINT}
        </if>
        )a GROUP BY outbound_time
    </select>

</mapper>
