<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.warehouse.mapper.OutWarehousePlanMapper">

    <sql id="Base_Column_List">
        outplan_id, plan_no,group_id,group_name,contract_no,customer_purchase_no,customer_id,customer_name,customer_contact_name,customer_contact_phone,
        ware_house_id,warehouse_name,storage_type,storage_plan_time,storage_remark,pickup_unit,pickup_linkman,pickup_identiycard,pickup_phone,pickup_car,
        plan_status,attachment,create_user_id,create_user_name,create_time,update_id,update_name,update_date,company_id

    </sql>

    <select id="outWarehousePlanList" parameterType="com.lcdt.warehouse.dto.OutWhPlanSearchParamsDto" resultType="com.lcdt.warehouse.entity.OutWarehousePlan">
        SELECT <include refid="Base_Column_List" />
        FROM out_warehouse_plan
        <where>
            <if test="companyId != null and companyId>0">
                and  company_id = #{companyId}
            </if>
            <if test="planStatus != null and planStatus!=''">
                and  plan_status = #{planStatus}
            </if>
            <if test="planNo!=null and planNo != ''">
                and plan_no like concat('%',#{planNo},'%')
            </if>
            <if test="createBeginStr != null and createBeginStr != ''">
                and  create_time >= #{createBeginStr}
            </if>
            <if test="createEndStr != null and createEndStr != ''">
                and  #{createEndStr} >= create_time
            </if>
            <if test="wareHouseId != null and wareHouseId>0">
                and  ware_house_id = #{wareHouseId}
            </if>
            <if test="createUserName!=null and createUserName != ''">
                and create_user_name like concat('%',#{createUserName},'%')
            </if>
            <if test="goodsName != null and goodsName!=''">
                and  outplan_id in (SELECT outplan_id FROM outplan_goods g1  WHERE g1.goods_name like concat('%',#{goodsName},'%')
                )
            </if>
            <if test="customerName!=null and customerName != ''">
                and customer_name like concat('%',#{customerName},'%')
            </if>
            <if test="storageType!=null and storageType != ''">
                and storage_type = #{storageType}
            </if>
            <if test="groupIds!=null and groupIds!=''">
                and group_id in (${groupIds})
            </if>
            <if test="customerPurchaseNo!=null and customerPurchaseNo != ''">
                and customer_purchase_no like concat('%',#{customerPurchaseNo},'%')
            </if>
            <if test="contractNo!=null and contractNo != ''">
                and contract_no like concat('%',#{contractNo},'%')
            </if>
        </where>
        ORDER BY outplan_id DESC
    </select>


    <select id="getPlanCode" resultType="java.lang.String">
        SELECT F_OUT_PLAN_CODE('CK')
    </select>

</mapper>
