<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcdt.warehouse.mapper.xml.ShiftGoodsDOMapper" >
  <resultMap id="BaseResultMap" type="com.lcdt.warehouse.entity.ShiftGoodsDO" >
    <id column="shift_goods_id" property="shiftGoodsId" jdbcType="BIGINT" />
    <result column="inventory_id" property="inventoryId" jdbcType="BIGINT" />
    <result column="shift_location" property="shiftLocation" jdbcType="VARCHAR" />
    <result column="shift_plan_num" property="shiftPlanNum" jdbcType="DECIMAL" />
    <result column="shift_num" property="shiftNum" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="shift_inventory_id" property="shiftInventoryId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    shift_goods_id, inventory_id, shift_location, shift_plan_num, shift_num, remark, 
    shift_inventory_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shift_goods
    where shift_goods_id = #{shiftGoodsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shift_goods
    where shift_goods_id = #{shiftGoodsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.warehouse.entity.ShiftGoodsDO" >
   insert into shift_goods (shift_goods_id, inventory_id, shift_location, 
      shift_plan_num, shift_num, remark, 
      shift_inventory_id)
    values (#{shiftGoodsId,jdbcType=BIGINT}, #{inventoryId,jdbcType=BIGINT}, #{shiftLocation,jdbcType=VARCHAR}, 
      #{shiftPlanNum,jdbcType=DECIMAL}, #{shiftNum,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{shiftInventoryId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lcdt.warehouse.entity.ShiftGoodsDO" >
   insert into shift_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shiftGoodsId != null" >
        shift_goods_id,
      </if>
      <if test="inventoryId != null" >
        inventory_id,
      </if>
      <if test="shiftLocation != null" >
        shift_location,
      </if>
      <if test="shiftPlanNum != null" >
        shift_plan_num,
      </if>
      <if test="shiftNum != null" >
        shift_num,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="shiftInventoryId != null" >
        shift_inventory_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shiftGoodsId != null" >
        #{shiftGoodsId,jdbcType=BIGINT},
      </if>
      <if test="inventoryId != null" >
        #{inventoryId,jdbcType=BIGINT},
      </if>
      <if test="shiftLocation != null" >
        #{shiftLocation,jdbcType=VARCHAR},
      </if>
      <if test="shiftPlanNum != null" >
        #{shiftPlanNum,jdbcType=DECIMAL},
      </if>
      <if test="shiftNum != null" >
        #{shiftNum,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="shiftInventoryId != null" >
        #{shiftInventoryId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lcdt.warehouse.entity.ShiftGoodsDO" >
   update shift_goods
    <set >
      <if test="inventoryId != null" >
        inventory_id = #{inventoryId,jdbcType=BIGINT},
      </if>
      <if test="shiftLocation != null" >
        shift_location = #{shiftLocation,jdbcType=VARCHAR},
      </if>
      <if test="shiftPlanNum != null" >
        shift_plan_num = #{shiftPlanNum,jdbcType=DECIMAL},
      </if>
      <if test="shiftNum != null" >
        shift_num = #{shiftNum,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="shiftInventoryId != null" >
        shift_inventory_id = #{shiftInventoryId,jdbcType=BIGINT},
      </if>
    </set>
    where shift_goods_id = #{shiftGoodsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.warehouse.entity.ShiftGoodsDO" >
     update shift_goods
    set inventory_id = #{inventoryId,jdbcType=BIGINT},
      shift_location = #{shiftLocation,jdbcType=VARCHAR},
      shift_plan_num = #{shiftPlanNum,jdbcType=DECIMAL},
      shift_num = #{shiftNum,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      shift_inventory_id = #{shiftInventoryId,jdbcType=BIGINT}
    where shift_goods_id = #{shiftGoodsId,jdbcType=BIGINT}
  </update>
  
  <insert id="insertShiftGoodsByBatch">
  insert into shift_goods (shift_goods_id, inventory_id, shift_location, 
      shift_plan_num, shift_num, remark, shift_inventory_id
      )
    values
    <foreach collection="list" index="index" open="" close="" separator="," item="item">
    (
    #{item.shiftGoodsId,jdbcType=BIGINT}, #{item.inventoryId,jdbcType=BIGINT}, #{item.shiftLocation,jdbcType=VARCHAR}, 
      #{item.shiftPlanNum,jdbcType=DECIMAL}, #{item.shiftNum,jdbcType=DECIMAL}, #{item.remark,jdbcType=VARCHAR},
      #{shiftInventoryId,jdbcType=BIGINT}
      )
    </foreach>
     </insert>
    
    
    
    <update id="updateShiftGoodsByBatch"  parameterType="java.util.List">
    update shift_goods
    <foreach collection="list" index="index" open="" close="" separator="," item="item">
    <set >
      <if test="inventoryId != null" >
        inventory_id = #{item.inventoryId,jdbcType=BIGINT},
      </if>
      <if test="shiftLocation != null" >
        shift_location = #{item.shiftLocation,jdbcType=VARCHAR},
      </if>
      <if test="shiftPlanNum != null" >
        shift_plan_num = #{item.shiftPlanNum,jdbcType=DECIMAL},
      </if>
      <if test="shiftNum != null" >
        shift_num = #{item.shiftNum,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{item.remark,jdbcType=VARCHAR},
      </if>
       <if test="shiftInventoryId != null" >
        shift_inventory_id = #{shiftInventoryId,jdbcType=BIGINT},
      </if>
    </set>
    where shift_goods_id = #{item.shiftGoodsId,jdbcType=BIGINT}
     </foreach>
  </update>
  
  <select id="getShiftGoodsDOList" resultMap="BaseResultMap">
  		select  <include refid="Base_Column_List" />
  	 	from shift_goods
  	 <where>
  	 	shift_inventory_id = #{shiftInventoryId,jdbcType=BIGINT}
  	 </where>
  </select>
  

 
  
  
  
  
  
  
  
  
  
  
  
</mapper>