<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="com.lcdt.warehouse.mapper.TransferInventoryListDOMapper" >
  <resultMap id="BaseResultMap" type="com.lcdt.warehouse.entity.TransferInventoryListDO" >
    <id column="transfers_id" property="transfersId" jdbcType="BIGINT" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="warehouse_id" property="warehouseId" jdbcType="BIGINT" />
    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="attachment_name" property="attachmentName" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="list_status" property="listStatus" jdbcType="TINYINT" />
    <result column="list_serial_no" property="listSerialNo" jdbcType="VARCHAR" />
    <result column="gmt_complete" property="gmtComplete" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    transfers_id, group_id, group_name, customer_id, customer_name, warehouse_id, warehouse_name, 
    remark, attachment_name, attachment, gmt_create, gmt_modified, create_user, create_user_id, 
    company_id, list_status, list_serial_no, gmt_complete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from transfers_inventory_list
    where transfers_id = #{transfersId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from transfers_inventory_list
    where transfers_id = #{transfersId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.warehouse.entity.TransferInventoryListDO" flushCache="true" keyColumn="transfers_id"
  keyProperty="transfersId" useGeneratedKeys="true">
    insert into transfers_inventory_list (transfers_id, group_id, group_name, 
      customer_id, customer_name, warehouse_id, 
      warehouse_name, remark, attachment_name, 
      attachment, gmt_create, gmt_modified, 
      create_user, create_user_id, company_id, 
      list_status, list_serial_no, gmt_complete
      )
    values (#{transfersId,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR}, #{warehouseId,jdbcType=BIGINT}, 
      #{warehouseName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{attachmentName,jdbcType=VARCHAR}, 
      #{attachment,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, 
      #{listStatus,jdbcType=TINYINT}, F_TRANSFER_NO(), #{gmtComplete,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.lcdt.warehouse.entity.TransferInventoryListDO" >
    insert into transfers_inventory_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="transfersId != null" >
        transfers_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="warehouseId != null" >
        warehouse_id,
      </if>
      <if test="warehouseName != null" >
        warehouse_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="attachmentName != null" >
        attachment_name,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="listStatus != null" >
        list_status,
      </if>
      <if test="listSerialNo != null" >
        list_serial_no,
      </if>
      <if test="gmtComplete != null" >
        gmt_complete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="transfersId != null" >
        #{transfersId,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=BIGINT},
      </if>
      <if test="warehouseName != null" >
        #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="attachmentName != null" >
        #{attachmentName,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="listStatus != null" >
        #{listStatus,jdbcType=TINYINT},
      </if>
      <if test="listSerialNo != null" >
        #{listSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="gmtComplete != null" >
        #{gmtComplete,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lcdt.warehouse.entity.TransferInventoryListDO" >
    update transfers_inventory_list
    <set >
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null" >
        warehouse_id = #{warehouseId,jdbcType=BIGINT},
      </if>
      <if test="warehouseName != null" >
        warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="attachmentName != null" >
        attachment_name = #{attachmentName,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="listStatus != null" >
        list_status = #{listStatus,jdbcType=TINYINT},
      </if>
      <if test="listSerialNo != null" >
        list_serial_no = #{listSerialNo,jdbcType=VARCHAR},
      </if>
      <if test="gmtComplete != null" >
        gmt_complete = #{gmtComplete,jdbcType=TIMESTAMP},
      </if>
    </set>
    where transfers_id = #{transfersId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.warehouse.entity.TransferInventoryListDO" >
    update transfers_inventory_list
    set group_id = #{groupId,jdbcType=BIGINT},
      group_name = #{groupName,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=BIGINT},
      customer_name = #{customerName,jdbcType=VARCHAR},
      warehouse_id = #{warehouseId,jdbcType=BIGINT},
      warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      attachment_name = #{attachmentName,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      company_id = #{companyId,jdbcType=BIGINT},
      list_status = #{listStatus,jdbcType=TINYINT},
      list_serial_no = #{listSerialNo,jdbcType=VARCHAR},
      gmt_complete = #{gmtComplete,jdbcType=TIMESTAMP}
    where transfers_id = #{transfersId,jdbcType=BIGINT}
  </update>  
  <!--   ————————————————————————————         华丽的分割线               ————————————————————————————   --> 
  
   <resultMap id="TransferInventoryListsDTOMap" type="com.lcdt.warehouse.dto.TransferInventoryListDTO"  extends="BaseResultMap">
    <collection property="transferGoodsDOList" ofType="com.lcdt.warehouse.entity.TransferGoodsDO" 
                javaType="ArrayList" select="com.lcdt.warehouse.mapper.TransferGoodsDOMapper.getTransferGoodsDOListByTransferId" 
    			column="transferId = transfers_id">
    </collection>
  </resultMap>
  
  <resultMap type="com.lcdt.warehouse.dto.TransferInventoryListDTO" id="TransferInventoryListDTOMap" extends="BaseResultMap">
   <collection property="transferGoodsDOList" ofType="com.lcdt.warehouse.entity.TransferGoodsDO" 
                javaType="ArrayList" select="com.lcdt.warehouse.mapper.TransferGoodsDOMapper.getTransferGoodsDOListByCondition" 
    			column="{transferId = transfers_id, materialProduct, finishedProduct}">
    </collection>
  </resultMap>
  
  <resultMap type="com.lcdt.warehouse.dto.TransferInventoryListDTO" id="TransferInventoryListDTOWithoutGoodsMap" extends="BaseResultMap"></resultMap>
  
  <select id="getTransferInventoryListDTOLists" parameterType="com.lcdt.warehouse.dto.TransferInventoryListDTO" resultMap="TransferInventoryListsDTOMap">
    select 
    <include refid="Base_Column_List" />
    from transfers_inventory_list
    where
    company_id = #{companyId,jdbcType=BIGINT}
    <if test="customName != null and customName != ''">
    and customer_name like concat('%', #{customName, jdbcType=VARCHAR}, '%')
    </if>
  </select>
  
  <select id="getTransferInventoryListDTO" resultMap="TransferInventoryListsDTOMap" parameterType="java.lang.Long">
    select
   <include refid="Base_Column_List" />
  	from transfers_inventory_list
    where
    transfers_id = #{transfersId, jdbcType=BIGINT}
  </select>
  
  <select id="getTransferInventoryListDTOList" parameterType="com.lcdt.warehouse.dto.TransferListDTO" resultMap="TransferInventoryListDTOWithoutGoodsMap">
  select 
    <include refid="Base_Column_List" />
    from transfers_inventory_list
    where
    company_id = #{companyId,jdbcType=BIGINT}
    <if test="customName != null and customName != ''">
    and customer_name like concat('%', #{customName, jdbcType=VARCHAR}, '%')
    </if>
    <if test="whId != null">
    and warehouse_id = #{whId, jdbcType=BIGINT}
    </if>
    <if test="listStatus != null">
    and list_status = #{listStatus,jdbcType=TINYINT}
    </if>
  </select>
  
  
  
</mapper>  