<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.warehouse.mapper.TransferGoodsDOMapper" >
  <resultMap id="BaseResultMap" type="com.lcdt.warehouse.entity.TransferGoodsDO" >
    <id column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="origin_goods_id" property="originGoodsId" jdbcType="BIGINT" />
    <result column="inventory_id" property="inventoryId" jdbcType="BIGINT" />
    <result column="transfer_num" property="transferNum" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="transfer_id" property="transferId" jdbcType="BIGINT" />
    <result column="wh_loc_id" property="whLocId" jdbcType="BIGINT" />
    <result column="wh_loc_code" property="whLocCode" jdbcType="VARCHAR" />
    <result column="goods_batch" property="goodsBatch" jdbcType="VARCHAR" />
    <result column="is_material" property="isMaterial" jdbcType="TINYINT" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
    <result column="goods_barcode" property="goodsBarcode" jdbcType="VARCHAR" />
    <result column="goods_spec" property="goodsSpec" jdbcType="VARCHAR" />
    <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    goods_id, origin_goods_id, inventory_id, transfer_num, remark, transfer_id, wh_loc_id, 
    wh_loc_code, goods_batch, is_material, goods_name, goods_code, goods_barcode, goods_spec, 
    goods_unit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from transfers_goods
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from transfers_goods
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.warehouse.entity.TransferGoodsDO" >
    insert into transfers_goods (goods_id, origin_goods_id, inventory_id, 
      transfer_num, remark, transfer_id, 
      wh_loc_id, wh_loc_code, goods_batch, 
      is_material, goods_name, goods_code, 
      goods_barcode, goods_spec, goods_unit
      )
    values (#{goodsId,jdbcType=BIGINT}, #{originGoodsId,jdbcType=BIGINT}, #{inventoryId,jdbcType=BIGINT}, 
      #{transferNum,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{transferId,jdbcType=BIGINT}, 
      #{whLocId,jdbcType=BIGINT}, #{whLocCode,jdbcType=VARCHAR}, #{goodsBatch,jdbcType=VARCHAR}, 
      #{isMaterial,jdbcType=TINYINT}, #{goodsName,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR}, 
      #{goodsBarcode,jdbcType=VARCHAR}, #{goodsSpec,jdbcType=VARCHAR}, #{goodsUnit,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lcdt.warehouse.entity.TransferGoodsDO" >
    insert into transfers_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="originGoodsId != null" >
        origin_goods_id,
      </if>
      <if test="inventoryId != null" >
        inventory_id,
      </if>
      <if test="transferNum != null" >
        transfer_num,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="transferId != null" >
        transfer_id,
      </if>
      <if test="whLocId != null" >
        wh_loc_id,
      </if>
      <if test="whLocCode != null" >
        wh_loc_code,
      </if>
      <if test="goodsBatch != null" >
        goods_batch,
      </if>
      <if test="isMaterial != null" >
        is_material,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsCode != null" >
        goods_code,
      </if>
      <if test="goodsBarcode != null" >
        goods_barcode,
      </if>
      <if test="goodsSpec != null" >
        goods_spec,
      </if>
      <if test="goodsUnit != null" >
        goods_unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="originGoodsId != null" >
        #{originGoodsId,jdbcType=BIGINT},
      </if>
      <if test="inventoryId != null" >
        #{inventoryId,jdbcType=BIGINT},
      </if>
      <if test="transferNum != null" >
        #{transferNum,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="transferId != null" >
        #{transferId,jdbcType=BIGINT},
      </if>
      <if test="whLocId != null" >
        #{whLocId,jdbcType=BIGINT},
      </if>
      <if test="whLocCode != null" >
        #{whLocCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsBatch != null" >
        #{goodsBatch,jdbcType=VARCHAR},
      </if>
      <if test="isMaterial != null" >
        #{isMaterial,jdbcType=TINYINT},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsBarcode != null" >
        #{goodsBarcode,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpec != null" >
        #{goodsSpec,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnit != null" >
        #{goodsUnit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lcdt.warehouse.entity.TransferGoodsDO" >
    update transfers_goods
    <set >
      <if test="originGoodsId != null" >
        origin_goods_id = #{originGoodsId,jdbcType=BIGINT},
      </if>
      <if test="inventoryId != null" >
        inventory_id = #{inventoryId,jdbcType=BIGINT},
      </if>
      <if test="transferNum != null" >
        transfer_num = #{transferNum,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="transferId != null" >
        transfer_id = #{transferId,jdbcType=BIGINT},
      </if>
      <if test="whLocId != null" >
        wh_loc_id = #{whLocId,jdbcType=BIGINT},
      </if>
      <if test="whLocCode != null" >
        wh_loc_code = #{whLocCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsBatch != null" >
        goods_batch = #{goodsBatch,jdbcType=VARCHAR},
      </if>
      <if test="isMaterial != null" >
        is_material = #{isMaterial,jdbcType=TINYINT},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsBarcode != null" >
        goods_barcode = #{goodsBarcode,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpec != null" >
        goods_spec = #{goodsSpec,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnit != null" >
        goods_unit = #{goodsUnit,jdbcType=VARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.warehouse.entity.TransferGoodsDO" >
    update transfers_goods
    set origin_goods_id = #{originGoodsId,jdbcType=BIGINT},
      inventory_id = #{inventoryId,jdbcType=BIGINT},
      transfer_num = #{transferNum,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      transfer_id = #{transferId,jdbcType=BIGINT},
      wh_loc_id = #{whLocId,jdbcType=BIGINT},
      wh_loc_code = #{whLocCode,jdbcType=VARCHAR},
      goods_batch = #{goodsBatch,jdbcType=VARCHAR},
      is_material = #{isMaterial,jdbcType=TINYINT},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      goods_barcode = #{goodsBarcode,jdbcType=VARCHAR},
      goods_spec = #{goodsSpec,jdbcType=VARCHAR},
      goods_unit = #{goodsUnit,jdbcType=VARCHAR}
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </update>
  
    <insert id="insertTransferGoodsDOByBatch" flushCache="true">
    insert into transfers_goods (goods_id, origin_goods_id, inventory_id, 
      transfer_num, remark, transfer_id, 
      wh_loc_id, wh_loc_code, goods_batch, 
      is_material, goods_name, goods_code, 
      goods_barcode, goods_spec, goods_unit
      )
    values
     <foreach collection="list" open="" close="" separator="," item="item" index="index">
       (#{item.goodsId,jdbcType=BIGINT}, #{item.originGoodsId,jdbcType=BIGINT}, #{item.inventoryId,jdbcType=BIGINT}, 
       #{item.transferNum,jdbcType=DECIMAL}, #{item.remark,jdbcType=VARCHAR}, #{item.transferId,jdbcType=BIGINT},
       #{item.whLocId,jdbcType=BIGINT}, #{item.whLocCode,jdbcType=VARCHAR}, #{item.goodsBatch,jdbcType=VARCHAR},
       #{item.isMaterial,jdbcType=TINYINT}, #{item.goodsName,jdbcType=VARCHAR}, #{item.goodsCode,jdbcType=VARCHAR}, 
       #{item.goodsBarcode,jdbcType=VARCHAR}, #{item.goodsSpec,jdbcType=VARCHAR}, #{item.goodsUnit,jdbcType=VARCHAR})
     </foreach>
   </insert>
   
   <update id="updateTransferGoodsDOByBatch" flushCache="true">
   <foreach collection="list" open="" close="" index="index" separator=";" item="item">
    update transfers_goods
    set origin_goods_id = #{item.originGoodsId,jdbcType=BIGINT},
      inventory_id = #{item.inventoryId,jdbcType=BIGINT},
      transfer_num = #{item.transferNum,jdbcType=DECIMAL},
      remark = #{item.remark,jdbcType=VARCHAR},
      transfer_id = #{item.transferId,jdbcType=BIGINT},
      wh_loc_id = #{item.whLocId,jdbcType=BIGINT},
      wh_loc_code = #{item.whLocCode,jdbcType=VARCHAR},
      goods_batch = #{item.goodsBatch,jdbcType=VARCHAR},
      is_material = #{item.isMaterial,jdbcType=TINYINT},
      goods_name = #{item.goodsName,jdbcType=VARCHAR},
      goods_code = #{item.goodsCode,jdbcType=VARCHAR},
      goods_barcode = #{item.goodsBarcode,jdbcType=VARCHAR},
      goods_spec = #{item.goodsSpec,jdbcType=VARCHAR},
      goods_unit = #{item.goodsUnit,jdbcType=VARCHAR}
    where goods_id = #{item.goodsId,jdbcType=BIGINT}
   </foreach>
   </update>
   
   <select id="getTransferGoodsDOListByTransferIds" resultMap="BaseResultMap" >
    select 
   <include refid="Base_Column_List" />
    from transfers_goods
   	where transfer_id 
   	in 
   	 <foreach collection="array" index="index" item="item" separator="," close=")" open="(">
  	 #{item,jdbcType=BIGINT}
   </foreach>  
   </select>
   
   <select id="getTransferGoodsDOListByCondition" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from transfers_goods
    where 
   transfer_id = #{transferId, jdbcType=BIGINT}
   <if test="materialProduct != null and materialProduct != ''">
   and (goods_name = #{materialProduct,jdbcType=VARCHAR} or goods_code = #{materialProduct,jdbcType=VARCHAR} or goods_barcode = #{materialProduct,jdbcType=VARCHAR}) and is_material = 0
   </if>
   <if test="finishedProduct != null and finishedProduct != ''">
   and (goods_name = #{finishedProduct,jdbcType=VARCHAR} or goods_code = #{finishedProduct,jdbcType=VARCHAR} or goods_barcode = #{finishedProduct,jdbcType=VARCHAR}) and is_material = 1
   </if>
   </select>
   
   <select id="getTransferGoodsDOListByConditions" resultMap="BaseResultMap" parameterType="java.util.Map">
   select 
    <include refid="Base_Column_List" />
    from transfers_goods
    where 
    transfer_id in
    <foreach collection="transferIds" open="(" close=")" item="item" index="index" separator=",">
    #{item,jdbcType=BIGINT}
    </foreach>
    and (goods_name = #{arg1,jdbcType=VARCHAR} or goods_code = #{arg1,jdbcType=VARCHAR} or goods_barcode = #{arg1,jdbcType=VARCHAR})
    and is_material = #{arg2, jdbcType=TINYINT}
   </select>
   
   <select id="getTransferGoodsDOListByTransferId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transfers_goods
    where 
   transfer_id = #{transferId, jdbcType=BIGINT}
   </select>
</mapper>