<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.warehouse.mapper.WarehousseLocMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.warehouse.entity.WarehouseLoc">
    <id column="wh_loc_id" jdbcType="BIGINT" property="whLocId" />
    <result column="wh_id" jdbcType="BIGINT" property="whId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="loc_type" jdbcType="SMALLINT" property="locType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_warehouse_loc
    where wh_loc_id = #{whLocId,jdbcType=BIGINT}
  </delete>
  <update id="updateIsDeteleByPrimaryKey" parameterType="java.lang.Long">
    update t_warehouse_loc
    set is_deleted = 1
    where wh_loc_id = #{whLocId,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.lcdt.warehouse.entity.WarehouseLoc">
    <selectKey keyProperty="whLocId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_warehouse_loc (wh_id, code, loc_type, 
      name, status, remark, 
      create_id, create_name, create_date, 
      update_id, update_name, update_time, 
      is_deleted, company_id)
    values (#{whId,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{locType,jdbcType=SMALLINT},
      #{name,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{remark,jdbcType=VARCHAR}, 
      #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=BIGINT}, #{updateName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=SMALLINT}, #{companyId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.warehouse.entity.WarehouseLoc">
    update t_warehouse_loc
    set wh_id = #{whId,jdbcType=BIGINT},
      code = #{code,jdbcType=VARCHAR},
      loc_type = #{locType,jdbcType=SMALLINT},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT},
      update_name = #{updateName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=SMALLINT},
      company_id = #{companyId,jdbcType=BIGINT}
    where wh_loc_id = #{whLocId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select wh_loc_id, wh_id, code, loc_type, name, status, remark, create_id, create_name, 
    create_date, update_id, update_name, update_time, is_deleted, company_id
    from t_warehouse_loc
    where wh_loc_id = #{whLocId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select wh_loc_id, wh_id, code, loc_type, name, status, remark, create_id, create_name, 
    create_date, update_id, update_name, update_time, is_deleted, company_id
    from t_warehouse_loc
  </select>

  <select id="selectByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    select wh_loc_id, wh_id, code, loc_type, name, status, remark, create_id,
    create_name, create_date, update_id, update_name, update_time, is_deleted, company_id
    from t_warehouse_loc
    <where>
      company_id = #{companyId,jdbcType=BIGINT}
      <if test="isDeleted!=null">
        and is_deleted = #{isDeleted,jdbcType=SMALLINT}
      </if>
      <if test="whId!=null">
        and wh_id = #{whId,jdbcType=BIGINT}
      </if>
      <if test="locType!=null">
        and loc_type = #{locType,jdbcType=SMALLINT}
      </if>
      <if test="code!=null">
        and code like concat('%',#{code,jdbcType=VARCHAR},'%')
      </if>
    </where>
    order by wh_id desc
  </select>
  <update id="updateIsDeleteByPrimaryKey" parameterType="java.lang.Long">
    update t_warehouse_loc
    set is_deleted = 1
    where wh_loc_id = #{whLocId,jdbcType=BIGINT}
  </update>

  <select id="selectByCode" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*)
    from t_warehouse_loc
    where code = #{code,jdbcType=VARCHAR}
  </select>
</mapper>