<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.contract.dao.ContractLogMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.contract.model.ContractLog">
    <id column="log_id" jdbcType="BIGINT" property="logId" />
    <result column="contract_id" jdbcType="BIGINT" property="contractId" />
    <result column="log_name" jdbcType="VARCHAR" property="logName" />
    <result column="log_content" jdbcType="VARCHAR" property="logContent" />
    <result column="attachment_classify_id" jdbcType="BIGINT" property="attachmentClassifyId" />
    <result column="attachment_classify_name" jdbcType="VARCHAR" property="attachmentClassifyName" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="operator_dept_ids" jdbcType="BIGINT" property="operatorDeptIds" />
    <result column="operator_dept_names" jdbcType="VARCHAR" property="operatorDeptNames" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    log_id, contract_id, log_name, log_content, attachment_classify_id, attachment_classify_name, operator_id, operator_name,
    operator_dept_ids, operator_dept_names, create_time, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_contract_log
    where log_id = #{logId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_contract_log
    where log_id = #{logId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.contract.model.ContractLog">
    <selectKey keyProperty="logId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_contract_log (contract_id, log_name, log_content, 
      attachment_classify_id, attachment_classify_name, operator_id, operator_name,
      operator_dept_ids, operator_dept_names, create_time, is_deleted
      )
    values (#{contractId,jdbcType=BIGINT}, #{logName,jdbcType=VARCHAR}, #{logContent,jdbcType=VARCHAR}, 
      #{attachmentClassifyId,jdbcType=BIGINT}, #{attachmentClassifyName,jdbcType=VARCHAR}, #{operatorId,jdbcType=BIGINT}, #{operatorName,jdbcType=VARCHAR},
      #{operatorDeptIds,jdbcType=BIGINT}, #{operatorDeptNames,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{isDeleted,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lcdt.contract.model.ContractLog">
    <selectKey keyProperty="logId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_contract_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contractId != null">
        contract_id,
      </if>
      <if test="logName != null">
        log_name,
      </if>
      <if test="logContent != null">
        log_content,
      </if>
      <if test="attachmentClassifyId != null">
        attachment_classify_id,
      </if>
      <if test="attachmentClassifyName != null">
        attachment_classify_name,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="operatorDeptIds != null">
        operator_dept_ids,
      </if>
      <if test="operatorDeptNames != null">
        operator_dept_names,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contractId != null">
        #{contractId,jdbcType=BIGINT},
      </if>
      <if test="logName != null">
        #{logName,jdbcType=VARCHAR},
      </if>
      <if test="logContent != null">
        #{logContent,jdbcType=VARCHAR},
      </if>
      <if test="attachmentClassifyId != null">
        #{attachmentClassifyId,jdbcType=BIGINT},
      </if>
      <if test="attachmentClassifyName != null">
        #{attachmentClassifyName,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorDeptIds != null">
        #{operatorDeptIds,jdbcType=BIGINT},
      </if>
      <if test="operatorDeptNames != null">
        #{operatorDeptNames,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lcdt.contract.model.ContractLog">
    update t_contract_log
    <set>
      <if test="contractId != null">
        contract_id = #{contractId,jdbcType=BIGINT},
      </if>
      <if test="logName != null">
        log_name = #{logName,jdbcType=VARCHAR},
      </if>
      <if test="logContent != null">
        log_content = #{logContent,jdbcType=VARCHAR},
      </if>
      <if test="attachmentClassifyId != null">
        attachment_classify_id = #{attachmentClassifyId,jdbcType=BIGINT},
      </if>
      <if test="attachmentClassifyName != null">
        attachment_classify_name = #{attachmentClassifyName,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorDeptIds != null">
        operator_dept_ids = #{operatorDeptIds,jdbcType=BIGINT},
      </if>
      <if test="operatorDeptNames != null">
        operator_dept_names = #{operatorDeptNames,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=SMALLINT},
      </if>
    </set>
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.contract.model.ContractLog">
    update t_contract_log
    set contract_id = #{contractId,jdbcType=BIGINT},
      log_name = #{logName,jdbcType=VARCHAR},
      log_content = #{logContent,jdbcType=VARCHAR},
      attachment_classify_id = #{attachmentClassifyId,jdbcType=BIGINT},
      attachment_classify_name = #{attachmentClassifyName,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=BIGINT},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      operator_dept_ids = #{operatorDeptIds,jdbcType=BIGINT},
      operator_dept_names = #{operatorDeptNames,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=SMALLINT}
    where log_id = #{logId,jdbcType=BIGINT}
  </update>

  <delete id="deleteByCompanyId" parameterType="java.lang.Long">
    delete from t_contract_log
    where contract_id in (select contract_id from t_contract where company_id = #{companyId,jdbcType=BIGINT})
  </delete>
  <select id="selectByContractId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_contract_log
    where contract_id = #{contractId,jdbcType=BIGINT}
    order by create_time desc
  </select>
</mapper>