<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.contract.dao.ContractMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.contract.model.Contract">
    <id column="contract_id" jdbcType="BIGINT" property="contractId" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sign_date" jdbcType="TIMESTAMP" property="signDate" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="contract_status" jdbcType="SMALLINT" property="contractStatus" />
    <result column="approval_status" jdbcType="SMALLINT" property="approvalStatus" />
    <result column="approval_process" jdbcType="VARCHAR" property="approvalProcess" />
    <result column="approval_process_id" jdbcType="BIGINT" property="approvalProcessId" />
    <result column="cycle" jdbcType="VARCHAR" property="cycle" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="party_a_id" jdbcType="BIGINT" property="partyAId" />
    <result column="party_a_name" jdbcType="VARCHAR" property="partyAName" />
    <result column="party_a_principal" jdbcType="VARCHAR" property="partyAPrincipal" />
    <result column="party_b_id" jdbcType="BIGINT" property="partyBId" />
    <result column="party_b_name" jdbcType="VARCHAR" property="partyBName" />
    <result column="party_b_principal" jdbcType="VARCHAR" property="partyBPrincipal" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="approval_start_date" jdbcType="TIMESTAMP" property="approvalStartDate" />
    <result column="approval_end_date" jdbcType="TIMESTAMP" property="approvalEndDate" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="terms" jdbcType="VARCHAR" property="terms" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="is_draft" jdbcType="TIMESTAMP" property="isDraft" />
    <result column="summation" jdbcType="DECIMAL" property="summation" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="effective_time" jdbcType="TIMESTAMP" property="effectiveTime" />
    <result column="termination_time" jdbcType="TIMESTAMP" property="terminationTime" />
    <result column="sign_place" jdbcType="VARCHAR" property="signPlace" />
    <result column="attachment1_name" jdbcType="VARCHAR" property="attachment1Name" />
    <result column="attachment1" jdbcType="VARCHAR" property="attachment1" />
    <result column="attachment2_name" jdbcType="VARCHAR" property="attachment2Name" />
    <result column="attachment2" jdbcType="VARCHAR" property="attachment2" />
    <result column="attachment3_name" jdbcType="VARCHAR" property="attachment3Name" />
    <result column="attachment3" jdbcType="VARCHAR" property="attachment3" />
    <result column="attachment4_name" jdbcType="VARCHAR" property="attachment4Name" />
    <result column="attachment4" jdbcType="VARCHAR" property="attachment4" />
    <result column="attachment5_name" jdbcType="VARCHAR" property="attachment5Name" />
    <result column="attachment5" jdbcType="VARCHAR" property="attachment5" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_contract
    where contract_id = #{contractId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.contract.model.Contract" useGeneratedKeys="true" keyProperty="contractId">
    insert into t_contract (contract_id, contract_code, serial_no, title,
      sign_date, type, contract_status, approval_status,approval_process,approval_process_id,
      cycle, pay_type, party_a_id, party_a_name,
      party_a_principal, party_b_id, party_b_name, party_b_principal,
      start_date, end_date,approval_start_date, approval_end_date, summary,
      terms, file_url, group_id,company_id, is_draft, summation, create_id, create_name, create_time,
      effective_time, termination_time, sign_place,
      attachment1_name, attachment1, attachment2_name, attachment2,
      attachment3_name, attachment3, attachment4_name, attachment4,
      attachment5_name, attachment5
      )
    values (#{contractId,jdbcType=BIGINT}, #{contractCode,jdbcType=VARCHAR},
    <choose>
      <when test="type==0">
        SERIAL_NO_CONTRACT("PC"),
      </when>
      <when test="type==1">
     	SERIAL_NO_CONTRACT("SC"),
      </when>
      <otherwise>  
      </otherwise>
    </choose>
      #{title,jdbcType=VARCHAR},
      #{signDate,jdbcType=TIMESTAMP}, #{type,jdbcType=SMALLINT}, #{contractStatus,jdbcType=SMALLINT},
      #{approvalStatus,jdbcType=SMALLINT},#{approvalProcess,jdbcType=VARCHAR},#{approvalProcessId,jdbcType=BIGINT},
      #{cycle,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR}, #{partyAId,jdbcType=BIGINT}, #{partyAName,jdbcType=VARCHAR},
      #{partyAPrincipal,jdbcType=VARCHAR}, #{partyBId,jdbcType=BIGINT}, #{partyBName,jdbcType=VARCHAR}, #{partyBPrincipal,jdbcType=VARCHAR},
      #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP},#{approvalStartDate,jdbcType=TIMESTAMP},
      #{approvalEndDate,jdbcType=TIMESTAMP},  #{summary,jdbcType=VARCHAR},
      #{terms,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR}, #{groupId,jdbcType=BIGINT},#{companyId,jdbcType=BIGINT},
      #{isDraft,jdbcType=SMALLINT}, #{summation,jdbcType=DECIMAL}, #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{effectiveTime,jdbcType=TIMESTAMP}, #{terminationTime,jdbcType=TIMESTAMP}, #{signPlace,jdbcType=VARCHAR}, #{attachment1Name,jdbcType=VARCHAR}, #{attachment1,jdbcType=VARCHAR},
      #{attachment2Name,jdbcType=VARCHAR}, #{attachment2,jdbcType=VARCHAR}, #{attachment3Name,jdbcType=VARCHAR}, #{attachment3,jdbcType=VARCHAR},
      #{attachment4Name,jdbcType=VARCHAR}, #{attachment4,jdbcType=VARCHAR}, #{attachment5Name,jdbcType=VARCHAR}, #{attachment5,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.contract.model.Contract">
    update t_contract
    set contract_code = #{contractCode,jdbcType=VARCHAR},
      serial_no = #{serialNo,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      sign_date = #{signDate,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=SMALLINT},
      contract_status = #{contractStatus,jdbcType=SMALLINT},
      approval_status = #{approvalStatus,jdbcType=SMALLINT},
      approval_process = #{approvalProcess,jdbcType=VARCHAR},
      cycle = #{cycle,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=VARCHAR},
      party_a_id = #{partyAId,jdbcType=BIGINT},
      party_a_name = #{partyAName,jdbcType=VARCHAR},
      party_a_principal = #{partyAPrincipal,jdbcType=VARCHAR},
      party_b_id = #{partyBId,jdbcType=BIGINT},
      party_b_name = #{partyBName,jdbcType=VARCHAR},
      party_b_principal = #{partyBPrincipal,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      approval_start_date = #{approvalStartDate,jdbcType=TIMESTAMP},
      approval_end_date = #{approvalEndDate,jdbcType=TIMESTAMP},
      summary = #{summary,jdbcType=VARCHAR},
      terms = #{terms,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=BIGINT},
      company_id = #{companyId,jdbcType=BIGINT},
      is_draft = #{isDraft,jdbcType=SMALLINT},
      summation = #{summation,jdbcType=DECIMAL},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      effective_time = #{effectiveTime,jdbcType=TIMESTAMP},
      termination_time = #{terminationTime,jdbcType=TIMESTAMP},
      sign_place = #{signPlace,jdbcType=VARCHAR},
      attachment1_name = #{attachment1Name,jdbcType=VARCHAR},
      attachment1 = #{attachment1,jdbcType=VARCHAR},
      attachment2_name = #{attachment2Name,jdbcType=VARCHAR},
      attachment2 = #{attachment2,jdbcType=VARCHAR},
      attachment3_name = #{attachment3Name,jdbcType=VARCHAR},
      attachment3 = #{attachment3,jdbcType=VARCHAR},
      attachment4_name = #{attachment4Name,jdbcType=VARCHAR},
      attachment4 = #{attachment4,jdbcType=VARCHAR},
      attachment5_name = #{attachment5Name,jdbcType=VARCHAR},
      attachment5 = #{attachment5,jdbcType=VARCHAR}
    where contract_id = #{contractId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.lcdt.contract.web.dto.ContractDto">
    select contract_id contractId, contract_code contractCode, serial_no serialNo, title, sign_date signDate, type,
    contract_status contractStatus, approval_status approvalStatus,approval_process approvalProcess, approval_process_id approvalProcessId, cycle,
    pay_type payType, party_a_id partyAId, party_a_name partyAName, party_a_principal partyAPrincipal,
    party_b_id partyBId, party_b_name partyBName, party_b_principal partyBPrincipal,
    start_date startDate, end_date endDate, approval_start_date approvalStartDate, approval_end_date approvalEndDate,
    summary, terms, file_url fileUrl, group_id groupId,company_id companyId, is_draft isDraft, summation, create_id createId,
    create_name createName, create_time createTime, effective_time effectiveTime, termination_time terminationTime, sign_place signPlace,
    attachment1_name attachment1Name, attachment1, attachment2_name attachment2Name, attachment2,
    attachment3_name attachment3Name, attachment3, attachment4_name attachment4Name, attachment4, attachment5_name attachment5Name, attachment5
    from t_contract
    where contract_id = #{contractId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select contract_id, contract_code, serial_no, title, sign_date, type, contract_status,approval_status, approval_process, approval_process_id, cycle,
    pay_type, party_a_id, party_a_name, party_a_principal, party_b_id, party_b_name, party_b_principal, start_date, end_date,approval_start_date, approval_end_date,
    summary, terms, file_url, group_id,company_id, is_draft, summation, create_id, create_name, create_time, effective_time, termination_time, sign_place,
    attachment1_name, attachment1, attachment2_name, attachment2,
    attachment3_name, attachment3, attachment4_name, attachment4, attachment5_name, attachment5
    from t_contract
  </select>


  <delete id="deleteByCompanyId" parameterType="java.lang.Long">
    delete from t_contract
    where company_id = #{companyId,jdbcType=BIGINT}
  </delete>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.lcdt.contract.web.dto.ContractDto">
    select contract_id, contract_code, serial_no, title, sign_date, type, contract_status,approval_status, approval_process, approval_process_id, cycle,
    pay_type, party_a_id, party_a_name, party_a_principal, party_b_id, party_b_name, party_b_principal, start_date, end_date,approval_start_date, approval_end_date,
    summary, terms, file_url, group_id,company_id, is_draft, summation, create_id, create_name, create_time, effective_time, termination_time, sign_place,
    attachment1_name, attachment1, attachment2_name, attachment2,
    attachment3_name, attachment3, attachment4_name, attachment4, attachment5_name, attachment5
    from t_contract
    <where>
      type = #{type,jdbcType=VARCHAR} and company_id = #{companyId,jdbcType=BIGINT}
      <if test="title!=null and title!=''">
        and (title like concat('%',#{title,jdbcType=VARCHAR},'%') or serial_no like concat('%',#{title,jdbcType=VARCHAR},'%'))
      </if>
      <if test="contractCode!=null and contractCode!=''">
        and contract_code like concat('%',#{contractCode,jdbcType=VARCHAR},'%')
      </if>
      <if test="beginTime != null and beginTime != ''">
        and start_date <![CDATA[>=]]> #{beginTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime != null and endTime != ''">
        and #{endTime,jdbcType=TIMESTAMP} <![CDATA[>=]]> start_date
      </if>
      <if test="contractStatus!=null">
        and contract_status = #{contractStatus,jdbcType=SMALLINT}
      </if>
      <if test="groupId!=null">
        and group_id = #{groupId,jdbcType=BIGINT}
      </if>
      <if test="approvalStatus!=null and approvalStatus!=-1">
        and approval_status = #{approvalStatus,jdbcType=SMALLINT}
        and is_draft=1
      </if>
      <if test="approvalStatus!=null and approvalStatus==-1">
        and is_draft=0
      </if>
      <if test="createBeginTime != null and createBeginTime != '' ">
       create_time &gt; concat(#{createBeginTime,jdbcType=TIMESTAMP},' 00:00:00')
      </if>
      <if test="createEndTime != null and createEndTime != '' ">
       and create_time &lt; concat(#{createEndTime,jdbcType=TIMESTAMP},' 23:59:59')
      </if>
    </where>
    order by
    <if test="contractStatus==null or contractStatus==2 or contractStatus==4">
      create_time
    </if>
    <if test="contractStatus==0 or contractStatus==1">
      start_date
    </if>
    <if test="contractStatus==3">
      end_date
    </if>
    desc
  </select>

  <update id="updateContractStatus" parameterType="com.lcdt.contract.model.Contract">
    update t_contract
    set contract_status = #{contractStatus,jdbcType=SMALLINT}
    <if test="startDate!=null">
      ,start_date = #{startDate,jdbcType=TIMESTAMP}
    </if>
    <if test="endDate!=null">
      ,end_date = #{endDate,jdbcType=TIMESTAMP}
    </if>
    <if test="isDraft!=null">
      ,is_draft = #{isDraft,jdbcType=SMALLINT}
    </if>
    where contract_id = #{contractId,jdbcType=BIGINT}
  </update>

  <update id="updateApprovalStatus" >
    update t_contract
    set approval_status = #{arg2},
    approval_end_date = CURRENT_TIMESTAMP
    where contract_id = #{arg0} and company_id = #{arg1}
  </update>
   <update id="updateByPrimaryKeySelective" parameterType="com.lcdt.contract.model.Contract" >
    update t_contract
    <set >
      <if test="contractCode != null" >
        contract_code = #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="serialNo != null" >
        serial_no = #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null" >
        sign_date = #{signDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="contractStatus != null" >
        contract_status = #{contractStatus,jdbcType=SMALLINT},
      </if>
      <if test="approvalStatus != null" >
        approval_status = #{approvalStatus,jdbcType=SMALLINT},
        <if test="approvalStatus == 0">
          approval_process = null,
          approval_process_id = null,
          approval_start_date = null,
        </if>
      </if>
      <if test="approvalProcess != null" >
        approval_process = #{approvalProcess,jdbcType=VARCHAR},
      </if>
      <if test="approvalProcessId != null" >
        approval_process_id = #{approvalProcessId,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null" >
        cycle = #{cycle,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="partyAId != null" >
        party_a_id = #{partyAId,jdbcType=BIGINT},
      </if>
      <if test="partyAName != null" >
        party_a_name = #{partyAName,jdbcType=VARCHAR},
      </if>
      <if test="partyAPrincipal != null" >
        party_a_principal = #{partyAPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="partyBId != null" >
        party_b_id = #{partyBId,jdbcType=BIGINT},
      </if>
      <if test="partyBName != null" >
        party_b_name = #{partyBName,jdbcType=VARCHAR},
      </if>
      <if test="partyBPrincipal != null" >
        party_b_principal = #{partyBPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalStartDate != null" >
        approval_start_date = #{approvalStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalEndDate != null" >
        approval_end_date = #{approvalEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="terms != null" >
        terms = #{terms,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="isDraft != null" >
        is_draft = #{isDraft,jdbcType=SMALLINT},
      </if>
      <if test="summation != null" >
        summation = #{summation,jdbcType=DECIMAL},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTime != null" >
        effective_time = #{effectiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="terminationTime != null" >
        termination_time = #{terminationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signPlace != null" >
        sign_place = #{signPlace,jdbcType=VARCHAR},
      </if>
      <if test="attachment1Name != null" >
        attachment1_name = #{attachment1Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment1 != null" >
        attachment1 = #{attachment1,jdbcType=VARCHAR},
      </if>
      <if test="attachment2Name != null" >
        attachment2_name = #{attachment2Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment2 != null" >
        attachment2 = #{attachment2,jdbcType=VARCHAR},
      </if>
      <if test="attachment3Name != null" >
        attachment3_name = #{attachment3Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment3 != null" >
        attachment3 = #{attachment3,jdbcType=VARCHAR},
      </if>
      <if test="attachment4Name != null" >
        attachment4_name = #{attachment4Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment4 != null" >
        attachment4 = #{attachment4,jdbcType=VARCHAR},
      </if>
      <if test="attachment5Name != null" >
        attachment5_name = #{attachment5Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment5 != null" >
        attachment5 = #{attachment5,jdbcType=VARCHAR},
      </if>
    </set>
    where contract_id = #{contractId,jdbcType=BIGINT}
  </update>

</mapper>