<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.contract.dao.OverviewMapper">
<resultMap type="com.lcdt.contract.web.dto.OrderOverviewDto" id="BaseResultMap">
	<result property="numOfOrders" column="num_of_orders" jdbcType="INTEGER"/>
	<result property="totalOrderAmount" column="total_order_amount" jdbcType="DECIMAL"/>
	<result property="customerUnitPrice" column="customer_unit_price" jdbcType="DECIMAL"/>
	<result property="numOfProduct" column="num_of_product" jdbcType="INTEGER"/>
	<result property="averagePriceOfProduce" column="average_price_of_produce" jdbcType="DECIMAL"/>
	<result property="waitingReleasedContract" column="waiting_released_contract" jdbcType="INTEGER"/>
	<result property="waitingEffectiveContract" column="waiting_effective_contract" jdbcType="INTEGER"/>
	<result property="inEffectContract" column="in_effect_contract" jdbcType="INTEGER"/>
	<result property="defunctContract" column="defunct_contract" jdbcType="INTEGER"/>
	<result property="waitingReleasedOrder" column="waiting_released_order" jdbcType="INTEGER"/>
	<result property="waitingMoneyGatheringOrder" column="waiting_money_gathering_order" jdbcType="INTEGER"/>
	<result property="moneyCollectingOrder" column="money_collecting_order" jdbcType="INTEGER"/>
	<result property="moneyReceivedOrder" column="money_received_order" jdbcType="INTEGER"/>
</resultMap>
	 <resultMap id="OrderResultMap" type="com.lcdt.contract.model.Order">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <id column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="order_type" jdbcType="SMALLINT" property="orderType" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="approval_status" jdbcType="SMALLINT" property="approvalStatus" />
    <result column="approval_process" jdbcType="VARCHAR" property="approvalProcess" />
    <result column="approval_process_id" jdbcType="BIGINT" property="approvalProcessId" />
    <result column="dispatching_type" jdbcType="SMALLINT" property="dispatchingType" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="receive_warehouse" jdbcType="VARCHAR" property="receiveWarehouse" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="sender" jdbcType="VARCHAR" property="sender" />
    <result column="sender_phone" jdbcType="VARCHAR" property="senderPhone" />
    <result column="send_province" jdbcType="VARCHAR" property="sendProvince" />
    <result column="send_city" jdbcType="VARCHAR" property="sendCity" />
    <result column="send_district" jdbcType="VARCHAR" property="sendDistrict" />
    <result column="send_address" jdbcType="VARCHAR" property="sendAddress" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="pack_require" jdbcType="VARCHAR" property="packRequire" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="receiver_province" jdbcType="VARCHAR" property="receiverProvince" />
    <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity" />
    <result column="receive_district" jdbcType="VARCHAR" property="receiveDistrict" />
    <result column="receive_address" jdbcType="VARCHAR" property="receiveAddress" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="approval_start_date" jdbcType="TIMESTAMP" property="approvalStartDate" />
    <result column="approval_end_date" jdbcType="TIMESTAMP" property="approvalEndDate" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="order_serial_no" jdbcType="VARCHAR" property="orderSerialNo" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="traffic_plan" property="trafficPlan" jdbcType="VARCHAR" />
    <result column="warehouse_plan" property="warehousePlan" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="ContractResultMap" type="com.lcdt.contract.model.Contract">
    <id column="contract_id" jdbcType="BIGINT" property="contractId" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sign_date" jdbcType="TIMESTAMP" property="signDate" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="contract_status" jdbcType="SMALLINT" property="contractStatus" />
    <result column="approval_status" jdbcType="SMALLINT" property="approvalStatus" />
    <result column="approval_process" jdbcType="VARCHAR" property="approvalProcess" />
    <result column="approval_process_id" jdbcType="BIGINT" property="approvalProcessId" />
    <result column="cycle" jdbcType="VARCHAR" property="cycle" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="party_a_id" jdbcType="BIGINT" property="partyAId" />
    <result column="party_a_name" jdbcType="VARCHAR" property="partyAName" />
    <result column="party_a_principal" jdbcType="VARCHAR" property="partyAPrincipal" />
    <result column="party_b_id" jdbcType="BIGINT" property="partyBId" />
    <result column="party_b_name" jdbcType="VARCHAR" property="partyBName" />
    <result column="party_b_principal" jdbcType="VARCHAR" property="partyBPrincipal" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="approval_start_date" jdbcType="TIMESTAMP" property="approvalStartDate" />
    <result column="approval_end_date" jdbcType="TIMESTAMP" property="approvalEndDate" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="terms" jdbcType="VARCHAR" property="terms" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="is_draft" jdbcType="TIMESTAMP" property="isDraft" />
    <result column="summation" jdbcType="DECIMAL" property="summation" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="effective_time" jdbcType="TIMESTAMP" property="effectiveTime" />
    <result column="termination_time" jdbcType="TIMESTAMP" property="terminationTime" />
    <result column="sign_place" jdbcType="VARCHAR" property="signPlace" />
    <result column="attachment1_name" jdbcType="VARCHAR" property="attachment1Name" />
    <result column="attachment1" jdbcType="VARCHAR" property="attachment1" />
    <result column="attachment2_name" jdbcType="VARCHAR" property="attachment2Name" />
    <result column="attachment2" jdbcType="VARCHAR" property="attachment2" />
    <result column="attachment3_name" jdbcType="VARCHAR" property="attachment3Name" />
    <result column="attachment3" jdbcType="VARCHAR" property="attachment3" />
    <result column="attachment4_name" jdbcType="VARCHAR" property="attachment4Name" />
    <result column="attachment4" jdbcType="VARCHAR" property="attachment4" />
    <result column="attachment5_name" jdbcType="VARCHAR" property="attachment5Name" />
    <result column="attachment5" jdbcType="VARCHAR" property="attachment5" />
  </resultMap>
  
  
  
  





	<select id="getOverviewOrderList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
	</select>

	<select id="getOrderOverviewList" parameterType="java.util.HashMap" resultMap="OrderResultMap">
	select order_id orderId, supplier, order_no orderNo, order_type orderType, contract_code contractCode, dispatching_type dispatchingType, 
    pay_type payType, receive_warehouse receiveWarehouse,sender, sender_phone senderPhone, send_province sendProvince, send_city sendCity, 
    send_district sendDistrict, send_address sendAddress, send_time sendTime, pack_require packRequire, receiver, receiver_phone receiverPhone, receiver_province receiverProvince, 
    receiver_city receiverCity, receive_district receiveDistrict, receive_address receiveAddress, remarks, create_time createTime, group_id groupId,company_id companyId,
    receive_time receiveTime,approval_start_date approvalStartDate,approval_end_date approvalEndDate,create_user_id createUserId,order_serial_no orderSerialNo,
    approval_status approvalStatus,approval_process approvalProcess,approval_process_id approvalProcessId,supplier_id supplierId,is_draft isDraft,receive_require receiveRequire,summation,warehouse_id warehouseId,
    attachment1_name attachment1Name,attachment1,attachment2_name attachment2Name,attachment2,attachment3_name attachment3Name,attachment3,attachment4_name attachment4Name,attachment4,
    attachment5_name attachment5Name,attachment5,traffic_plan, 
    warehouse_plan
    from t_order
	<where>
	company_id = #{companyId,jdbcType=BIGINT} and is_draft = 1
	<if test="type != null">
	and order_type = #{type,jdbcType=SMALLINT}
	</if>
	<if test="beginTime != null and beginTime !=''">
	and create_time &gt; concat(#{beginTime,jdbcType=TIMESTAMP},' 00:00:00')
	</if>
	<if test="endTime != null and endTime !=''">
	and create_time &lt; concat(#{endTime,jdbcType=TIMESTAMP},' 23:59:59')
	</if>
	<if test="groups != null">
	and group_id in
	<foreach collection="groups" open="(" close=")" index="index" item="group" separator=",">
	#{group,jdbcType=BIGINT}
	</foreach>
	</if>
	</where>
	</select>
	
	<select id="getPaymentApplicationListByOrderId" parameterType="java.lang.Long" resultType="com.lcdt.contract.model.PaymentApplication">
	select pa_id, order_id, application_serial_no,
      application_date, approval_status, approval_process_id,
      approval_process, approval_start_date, approval_end_date,
      contract_code, order_serial_no, order_no,
      purchase_sum, supplier_id, supplier,
      receipt_unit, receipt_unit_bank, receipt_unit_account,
      payment_sum, payment_unit, payment_time,
      payment_name, payment_time_sure, payment_name_sure,
      manager, payment_directions, remark,
      attachment1, attachment1_name, attachment2,
      attachment2_name, company_id, create_id,
      create_name, create_time
	  from t_payment_application
	  where order_id = #{orderId,jdbcType=BIGINT}
	</select>
	
	<select id="getContractOverviewList" parameterType="java.util.HashMap" resultMap="ContractResultMap">
	select contract_id contractId, contract_code contractCode, serial_no serialNo, title, sign_date signDate, type,
    contract_status contractStatus, approval_status approvalStatus,approval_process approvalProcess, approval_process_id approvalProcessId, cycle,
    pay_type payType, party_a_id partyAId, party_a_name partyAName, party_a_principal partyAPrincipal,
    party_b_id partyBId, party_b_name partyBName, party_b_principal partyBPrincipal,
    start_date startDate, end_date endDate, approval_start_date approvalStartDate, approval_end_date approvalEndDate,
    summary, terms, file_url fileUrl, group_id groupId,company_id companyId, is_draft isDraft, summation, create_id createId,
    create_name createName, create_time createTime, effective_time effectiveTime, termination_time terminationTime, sign_place signPlace,
    attachment1_name attachment1Name, attachment1, attachment2_name attachment2Name, attachment2,
    attachment3_name attachment3Name, attachment3, attachment4_name attachment4Name, attachment4, attachment5_name attachment5Name, attachment5
    from t_contract
	<where>
	company_id = #{companyId,jdbcType=BIGINT}
	<if test="type != null">
	and type = #{type,jdbcType=SMALLINT}
	</if>
	<if test="beginTime != null and beginTime !=''">
	and create_time &gt; concat(#{beginTime,jdbcType=TIMESTAMP},' 00:00:00')
	</if>
	<if test="endTime != null and endTime !=''">
	and create_time &lt; concat(#{endTime,jdbcType=TIMESTAMP},' 23:59:59')
	</if>
	<if test="groups != null">
	and group_id in
	<foreach collection="groups" open="(" close=")" index="index" item="group" separator=",">
	#{group,jdbcType=BIGINT}
	</foreach>
	</if>
	</where>
	</select>
	
	<select id="countPurchaseOrderByOverviewDto" resultType="java.lang.Integer" parameterType="com.lcdt.contract.web.dto.OverviewDto">
	select count(order_id) from t_order 
	<where>
	company_id = #{companyId,jdbcType=BIGINT} and is_draft = 1 and order_type = 0
	<if test="beginTime != null and beginTime !=''">
	and create_time &gt; concat(#{beginTime,jdbcType=TIMESTAMP},' 00:00:00')
	</if>
	<if test="endTime != null and endTime !=''">
	and create_time &lt; concat(#{endTime,jdbcType=TIMESTAMP},' 23:59:59')
	</if>
	<if test="groupId != null">
	and group_id = #{groupId,jdbcType=BIGINT}
	</if>
	</where>
	</select>
	
	<select id="countSalesOrderByOverviewDto" resultType="java.lang.Integer" parameterType="com.lcdt.contract.web.dto.OverviewDto">
	select count(order_id) from t_order 
	<where>
	company_id = #{companyId,jdbcType=BIGINT} and is_draft = 1 and order_type = 1
	<if test="beginTime != null and beginTime !=''">
	and create_time &gt; concat(#{beginTime,jdbcType=TIMESTAMP},' 00:00:00')
	</if>
	<if test="endTime != null and endTime !=''">
	and create_time &lt; concat(#{endTime,jdbcType=TIMESTAMP},' 23:59:59')
	</if>
	<if test="groupId != null">
	and group_id = #{groupId,jdbcType=BIGINT}
	</if>
	</where>
	</select>

	<select id="countContractByOverviewDto" resultType="java.lang.Integer" parameterType="com.lcdt.contract.web.dto.OverviewDto">
	select count(contract_id) from t_contract 
	<where>
	company_id = #{companyId,jdbcType=BIGINT} 
	<if test="beginTime != null and beginTime !=''">
	and create_time &gt; concat(#{beginTime,jdbcType=TIMESTAMP},' 00:00:00')
	</if>
	<if test="endTime != null and endTime !=''">
	and create_time &lt; concat(#{endTime,jdbcType=TIMESTAMP},' 23:59:59')
	</if>
	<if test="groupId != null">
	and group_id = #{groupId,jdbcType=BIGINT}
	</if>
	</where>
	</select>













</mapper>













