<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.contract.dao.PaApprovalMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.contract.model.PaApproval">
    <id column="paa_id" jdbcType="BIGINT" property="paaId" />
    <result column="pa_id" jdbcType="BIGINT" property="paId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="result" jdbcType="SMALLINT" property="result" />
    <result column="action_type" jdbcType="SMALLINT" property="actionType" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    paa_id, pa_id, user_id, user_name, dept_name, sort, result, action_type, status, 
    content, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pa_approval
    where paa_id = #{paaId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_pa_approval
    where paa_id = #{paaId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.contract.model.PaApproval">
    insert into t_pa_approval (pa_id, user_id,
      user_name, dept_name, sort, 
      result, action_type, status, 
      content, time)
    values (#{paId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
      #{userName,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{result,jdbcType=SMALLINT}, #{actionType,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, 
      #{content,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lcdt.contract.model.PaApproval">
    insert into t_pa_approval
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paaId != null">
        paa_id,
      </if>
      <if test="paId != null">
        pa_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="actionType != null">
        action_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paaId != null">
        #{paaId,jdbcType=BIGINT},
      </if>
      <if test="paId != null">
        #{paId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        #{result,jdbcType=SMALLINT},
      </if>
      <if test="actionType != null">
        #{actionType,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lcdt.contract.model.PaApproval">
    update t_pa_approval
    <set>
      <if test="paId != null">
        pa_id = #{paId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=SMALLINT},
      </if>
      <if test="actionType != null">
        action_type = #{actionType,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where paa_id = #{paaId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.contract.model.PaApproval">
    update t_pa_approval
    set pa_id = #{paId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      result = #{result,jdbcType=SMALLINT},
      action_type = #{actionType,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      content = #{content,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where paa_id = #{paaId,jdbcType=BIGINT}
  </update>

  <insert id="insertBatch">
    insert into t_pa_approval (pa_id, user_id,
    user_name, dept_name, sort,
    result, action_type, status,
    content, time)
    values
    <foreach item="item" collection="list" separator=",">
      (#{item.paId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT},
      #{item.userName,jdbcType=VARCHAR}, #{item.deptName,jdbcType=VARCHAR}, #{item.sort,jdbcType=INTEGER},
      #{item.result,jdbcType=SMALLINT}, #{item.actionType,jdbcType=SMALLINT}, #{item.status,jdbcType=SMALLINT},
      #{item.content,jdbcType=VARCHAR}, #{item.time,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

  <resultMap id="PaApprovalDtoMap" type="com.lcdt.contract.web.dto.PaApprovalDto">
    <id column="pa_id" jdbcType="BIGINT" property="paId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="application_serial_no" jdbcType="VARCHAR" property="applicationSerialNo" />
    <result column="application_date" jdbcType="TIMESTAMP" property="applicationDate" />
    <result column="approval_status" jdbcType="SMALLINT" property="approvalStatus" />
    <result column="approval_process_id" jdbcType="BIGINT" property="approvalProcessId" />
    <result column="approval_process" jdbcType="VARCHAR" property="approvalProcess" />
    <result column="approval_start_date" jdbcType="TIMESTAMP" property="approvalStartDate" />
    <result column="approval_end_date" jdbcType="TIMESTAMP" property="approvalEndDate" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="order_serial_no" jdbcType="VARCHAR" property="orderSerialNo" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="purchase_sum" jdbcType="DECIMAL" property="purchaseSum" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="receipt_unit" jdbcType="VARCHAR" property="receiptUnit" />
    <result column="receipt_unit_bank" jdbcType="VARCHAR" property="receiptUnitBank" />
    <result column="receipt_unit_account" jdbcType="VARCHAR" property="receiptUnitAccount" />
    <result column="payment_sum" jdbcType="DECIMAL" property="paymentSum" />
    <result column="payment_unit" jdbcType="VARCHAR" property="paymentUnit" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="payment_name" jdbcType="VARCHAR" property="paymentName" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="payment_directions" jdbcType="VARCHAR" property="paymentDirections" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="attachment1" jdbcType="VARCHAR" property="attachment1" />
    <result column="attachment1_name" jdbcType="VARCHAR" property="attachment1Name" />
    <result column="attachment2" jdbcType="VARCHAR" property="attachment2" />
    <result column="attachment2_name" jdbcType="VARCHAR" property="attachment2Name" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <collection property="paApprovalList" select="selectPaApproval"
                ofType="com.lcdt.contract.model.PaApproval" column="{p1=pa_id}" >
    </collection>
  </resultMap>

  <select id="selectPaApprovalByCondition" resultMap="PaApprovalDtoMap">
    select t1.pa_id, t1.order_id,t1.approval_status,t1.application_date, t1.application_serial_no,t1.order_no, t1.order_serial_no,t1.contract_code,t1.supplier, t1.purchase_sum, t1.payment_sum,
    t1.approval_start_date, t1.approval_end_date,t1.company_id
    from t_payment_application t1 left join t_pa_approval t2 on t1.pa_id = t2.pa_id
    <where>
      t1.company_id = #{companyId,jdbcType=BIGINT}
      <if test="paymentTimeStart!=null and paymentTimeStart!=''">
        and t1.application_date &gt; #{paymentTimeStart,jdbcType=TIMESTAMP} and t1.application_date &lt; #{paymentTimeEnd,jdbcType=TIMESTAMP}
      </if>
      <if test="orderSerialNo!=null and orderSerialNo!=''">
        and t1.order_serial_no like concat('%',#{orderSerialNo,jdbcType=VARCHAR},'%')
      </if>
      <if test="orderNo!=null and orderNo!=''">
        and t1.order_no like concat('%',#{orderNo,jdbcType=VARCHAR},'%')
      </if>
      <if test="supplier!=null and supplier!=''">
        and t1.supplier like concat('%',#{supplier,jdbcType=VARCHAR},'%')
      </if>
      <if test="contractCode!=null and contractCode!=''">
        and t1.contract_code like concat('%',#{contractCode,jdbcType=VARCHAR},'%')
      </if>
      <if test="approvalStatus!=null and approvalStatus!=''">
        <choose>
          <when test="tempStatus==3">
            and t1.approval_status = 2
          </when>
          <otherwise>
            and t1.approval_status = #{approvalStatus,jdbcType=SMALLINT}
          </otherwise>
        </choose>
      </if>
      and t1.approval_status != 0
      <if test="tempStatus!=null and tempStatus==0">
        and t2.user_id = #{userId,jdbcType=BIGINT} and t2.sort = 0
      </if>
      <if test="tempStatus!=null and tempStatus==1">
        and t2.user_id = #{userId,jdbcType=BIGINT} and t2.status = 1
      </if>
      <if test="tempStatus!=null and tempStatus==2">
        and t2.user_id = #{userId,jdbcType=BIGINT} and t2.status in(2,4,5) and t2.sort>0
      </if>
      <if test="tempStatus!=null and tempStatus==3">
        and t2.user_id = #{userId,jdbcType=BIGINT} and t2.action_type = 1  and t1.approval_status=2
      </if>
    </where>
    order by t1.pa_id desc
  </select>
  <select id="selectPaApproval" resultMap="BaseResultMap">
    select paa_id, user_id, user_name, dept_name, sort, result, status, action_type, content, time from t_pa_approval
    <where>
      and pa_id = #{p1}
    </where>
    order by sort,paa_id
  </select>
  <select id="selectPendingNum" resultType="int">
    select count(t1.pa_id) num from t_contract t1 left join t_contract_approval t2 on t1.pa_id = t2.pa_id
    where t2.user_id = #{arg0} and t2.status = 1 and t1.company_id = #{arg1} and t1.approval_status != 0
  </select>
  <update id="updateStatus" parameterType="com.lcdt.contract.model.PaApproval" useGeneratedKeys="true" keyProperty="paaId">
    update t_pa_approval
    <set>
      status = #{status,jdbcType=SMALLINT},
      <if test="result!=null">
        result = #{result,jdbcType=SMALLINT},
      </if>
      <if test="content!=null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="time!=null">
        time = CURRENT_TIMESTAMP,
      </if>
    </set>
    where paa_id = #{paaId,jdbcType=BIGINT}
  </update>
  <select id="selectByPaId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select paa_id, pa_id, user_id, user_name, dept_name, sort, action_type, result, status, content,time
    from t_pa_approval
    where pa_id = #{arg0} and action_type = 0 and status != 5 and sort &gt; 0 order by sort
  </select>
  <select id="selectCC" resultMap="BaseResultMap">
    select paa_id, pa_id, user_id, user_name, dept_name, sort, action_type, result, status, content,time
    from t_pa_approval
    where pa_id = #{arg0} and action_type=1 and user_id in
    <foreach item="item" index="index" collection="arg1" open="(" separator="," close=")">
      #{item.userId,jdbcType=BIGINT}
    </foreach>
  </select>
</mapper>