<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.contract.dao.ProcessApproverMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.contract.model.ProcessApprover">
    <id column="approver_id" jdbcType="BIGINT" property="approverId" />
    <result column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_process_approver
    where approver_id = #{approverId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.contract.model.ProcessApprover">
    insert into t_process_approver (approver_id, process_id, user_id, 
      name, dept_name, sort
      )
    values (#{approverId,jdbcType=BIGINT}, #{processId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.contract.model.ProcessApprover">
    update t_process_approver
    set process_id = #{processId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER}
    where approver_id = #{approverId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select approver_id, process_id, user_id, name, dept_name, sort
    from t_process_approver
    where approver_id = #{approverId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select approver_id, process_id, user_id, name, dept_name, sort
    from t_process_approver
  </select>

  <insert id="insertBatch">
    insert into t_process_approver (process_id, user_id,
    name, dept_name, sort
    ) values
    <foreach item="item" collection="list" separator=",">
      (#{item.processId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT},
      #{item.name,jdbcType=VARCHAR}, #{item.deptName,jdbcType=VARCHAR}, #{item.sort,jdbcType=INTEGER}
      )
    </foreach>
  </insert>

  <delete id="delByProcessId" parameterType="java.lang.Long">
    delete from t_process_approver
    where process_id = #{arg0}
  </delete>
</mapper>