<!doctype html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>关于我们</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.css" rel="stylesheet">
  <Link href="../style/style.min.css" rel="stylesheet">
  <Link href="../style/style.min.css.map" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top bs-docs-nav" id="top">
        <div th:replace="/nav::nav_div"></div>
    </nav>
  <div class="jumbotron">
    <div class="header" style="background-image: url(https://img.datuodui.com/ws/contact.jpg);">

    </div>
    <div class="row jumbotron-bottom">
      <div class="col-sm-6 barlink">
        <a href="">已逐步应用在各行各业，专注行业，只为您更专业</a>
      </div>
      <div class="col-sm-6 barlink">
        <a href="">了解 大驼队 案例，重新定义您的商业模式</a>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="container" style="margin-bottom: 30px;">
      <div class="content" style="text-align: center;">
        <h3 style="text-align: left;">办公地点</h3><img src="https://img.datuodui.com/ws/offAdress.jpg" alt=""></div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 ">
          <h4>公司介绍</h4>
          <p>济南邻商网络科技有限公司主营业务为互联网供应链软件研发与销售，供应链咨询、整合运作等服务。主要产品是面向货运行业的协同运输管理三大产品： 大驼队cTMS、管车宝、司机宝等系列软件。通过大驼队cTMS及配套硬件和生态化综合服务体系，努力帮助用户实现全供应链的商流、信息流、资金流和实物流融合，为用户打造智慧、高效、协同的新一代互联网供应链信息系统。</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h4>济南&nbsp;</h4>
          <p><b>济南邻商网络科技有限公司</b><br>济南公司新地址 : 济南市高新区新泺大街1666号齐盛广场2号楼14层1401室</p>
        </div>
      </div>
      <hr class="m-sx-40">
      <div class="content" style="text-align: center;">
        <h3 style="text-align: left;">客户联系</h3></div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h5>服务邮箱：datuodui@lichendt.com</h5>
          <h5> 服务热线：400-180-5656</h5></div>
      </div>
    </div>
    <div class="footer">
        <div th:replace="/footer::ft_div"></div>
    </div>

  </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.js"></script>

</body>

</html>
