<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta name="copyright" content="datuodui.com">
    <meta name="description" th:content="${notice.noticeSummary}">
    <meta name="keywords" th:content="${notice.keyWords}">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <Link href="../style/style.min.css" rel="stylesheet">
    <Link href="../style/style.min.css.map" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top bs-docs-nav" id="top">
    <div th:replace="/nav::nav_div"></div>
</nav>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/news-list.html">资讯</a></li>
        <li><a href="/news-list.html">公司新闻</a></li>
        <li class="active" th:text="${notice.noticeTitle}"></li>
    </ol>
</div>

<div class="main-container">
    <div class="container news-content">
       <h1><span th:text="${notice.noticeTitle}"></span></h1>
        <p th:text="${{notice.publishTime}}+'　来源: '+${notice.publisher}">　</p>
        <hr>
        <div class="content">
            <p th:text="${notice.noticeContent}">
            </p>
        </div>
        <p style="text-align: right" th:text="${{notice.publishTime}}+'　来源: '+${notice.publisher}">
        </p>
        <hr>
    </div>
    <div class="next-post">
        <div class="container">
        <div  th:if="${nextNotice}">

                <p class="tips">阅读下一篇</p>
                <p class="next-title"><a style="color: black" th:href="@{/news.html(id=${nextNotice.noticeId})}"><span th:text="${nextNotice.noticeTitle}"></span></a></p>
                <p class="next-contet">
                    <a style="color: black" th:href="@{/news.html(id=${nextNotice.noticeId})}"><span th:text="${nextNotice.noticeSummary}"></span></a>
                </p>

        </div>
        <div th:if="${nextNotice}==null">

                <p class="tips">没有下一篇了</p>
                <p class="next-title"></p>
                <p class="next-contet"></p>

        </div>

        <p class="back-btn">
            <a href="/index.html">返回首页</a>
            <a href="/news-list.html">返回资讯首页</a>
        </p>
        </div>
    </div>
    <div class="footer">
        <div th:replace="/footer::ft_div"></div>
    </div>

</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="./js/can.min.js" type="text/javascript"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
