<!doctype html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>大驼队|资讯</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <!--<link href="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.css" rel="stylesheet">-->
  <Link href="../style/style.min.css" rel="stylesheet">
  <Link href="../style/style.min.css.map" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default navbar-static-top bs-docs-nav" id="top">
    <div th:replace="/nav::nav_div"></div>
</nav>
  <div class="jumbotron">
    <div class="header" style="background-image: url(https://img.datuodui.com/ws/zixun.jpg);">
      <div class="container">
        <p>新500强企业的选择</p>
        <p class="head-title">协同运输管理系统，高效协同可视透明！</p>
        <!--<p><a class="try-btn">免费试用</a></p>-->
      </div>
    </div>
    <div class="row jumbotron-bottom">
      <div class="col-sm-6 barlink" >
        <a href="" >已逐步应用在各行各业，专注行业，只为您更专业</a>
      </div>
      <div class="col-sm-6 barlink" >
        <a href="" >了解大驼队案例，重新定义您的商业模式</a>
      </div>
    </div>
  </div>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">新闻列表</a></li>
      <li class="active">公司新闻</li>
    </ol>
  </div>

  <div class="main-container">

    <div class="container" style="margin-bottom: 50px;">

    <div class="row news-block news-page">
      <div class="col-md-12 col-xs-12">
        <ul class="news-list" th:each="notice : ${notices}">
            <li>
                <div >
                    <div class="list-img">
                        <span th:if="${notice.coverImageUrl}">
                            <a th:href="@{/portal/news.html(id=${notice.noticeId})}"><img th:src="${notice.coverImageUrl}"></a>
                        </span>
                    </div>
                    <div class="list-content">
                        <p class="title"><a th:href="@{/portal/news.html(id=${notice.noticeId})}"><span th:text="${notice.noticeTitle}"></span></a></p>
                        <p class="content">
                            <span class="label label-default" th:text="${notice.categoryName}"></span>
                            <!--<span class="label label-default">签约新闻</span>-->
                            <span th:text="${{notice.publishTime}}"></span>
                            <a th:href="@{/portal/news.html(id=${notice.noticeId})}">查看更多</a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
          <nav aria-label="Page navigation">
              <ul class="pagination" th:each="page:${pageNums}">
                  <li th:if="${page.isPrevious||page.isPrevious=='true'}">
                      <a th:href="'/portal/news-list.html?start='+${page.num}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  <li th:if="${!page.isPrevious&&page.isPrevious!='true'&&!page.isNext&&page.isNext!='false'}" th:class="${page.isCurrent}?'active':''"><a th:href="'/portal/news-list.html?start='+${page.num}"><span th:text="${page.num}"></span></a></li>
                  <li th:if="${page.isNext||page.isNext=='true'}">
                      <a th:href="'/portal/news-list.html?start='+${page.num}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
      <!-- <div class="col-md-4 col-xs-12">

      </div> -->
    </div>
    </div>
    <div class="footer">
        <div th:replace="/footer::ft_div"></div>
    </div>

  </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.js"></script>


</body>

</html>
