<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.manage.mapper.TNoticeCategoryMapper">
    <resultMap id="BaseResultMap" type="com.lcdt.manage.entity.TNoticeCategory">
        <id column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="category_name" jdbcType="BIGINT" property="categoryName" />
        <result column="sequence_number" jdbcType="VARCHAR" property="sequenceNumber" />
        <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    </resultMap>

    <select id="findListByParam" parameterType="com.lcdt.manage.dto.CategoryParamDto" resultMap="BaseResultMap">
      SELECT category_id,category_name,sequence_number,is_delete
      FROM `t_notice_category`
      ORDER BY  sequence_number ,category_id DESC
    </select>

    <select id="findAllExceptDelete" resultMap="BaseResultMap">
        SELECT category_id,category_name,sequence_number,is_delete
        FROM `t_notice_category`
        WHERE  1=1
        AND is_delete = 0
        ORDER BY  sequence_number ,category_id DESC
    </select>
</mapper>
