<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.userinfo.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.userinfo.model.Company">
    <id column="comp_id" jdbcType="BIGINT" property="compId" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="authentication" jdbcType="SMALLINT" property="authentication" />
    <result column="authentication_remark" jdbcType="VARCHAR" property="authenticationRemark" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="tel_no" jdbcType="VARCHAR" property="telNo" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="comp_intro" jdbcType="VARCHAR" property="compIntro" />
    <result column="link_man" jdbcType="VARCHAR" property="linkMan" />
    <result column="link_duty" jdbcType="VARCHAR" property="linkDuty" />
    <result column="link_tel" jdbcType="VARCHAR" property="linkTel" />
    <result column="link_email" jdbcType="VARCHAR" property="linkEmail" />
    <result column="link_remark" jdbcType="VARCHAR" property="linkRemark" />
    <result column="invoice_title" jdbcType="VARCHAR" property="invoiceTitle" />
    <result column="registration_no" jdbcType="VARCHAR" property="registrationNo" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_no" jdbcType="VARCHAR" property="bankNo" />
    <result column="registration_address" jdbcType="VARCHAR" property="registrationAddress" />
    <result column="tel_no1" jdbcType="VARCHAR" property="telNo1" />
    <result column="invoice_remark" jdbcType="VARCHAR" property="invoiceRemark" />
    <result column="company_logo" jdbcType="VARCHAR" property="companyLogo" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <result column="create_phone" jdbcType="VARCHAR" property="createPhone"></result>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_uc_company
    where comp_id = #{compId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.userinfo.model.Company"  useGeneratedKeys="true" keyProperty="compId">
    insert into t_uc_company (full_name, short_name, authentication,
      authentication_remark, industry, province, 
      city, county, detail_address, 
      post_code, tel_no, fax, 
      comp_intro, link_man, link_duty, 
      link_tel, link_email, link_remark, 
      invoice_title, registration_no, bank_name, 
      bank_no, registration_address, tel_no1, 
      invoice_remark, company_logo,create_id,create_name,enable)
    values (#{fullName,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, #{authentication,jdbcType=SMALLINT}, 
      #{authenticationRemark,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{detailAddress,jdbcType=VARCHAR}, 
      #{postCode,jdbcType=VARCHAR}, #{telNo,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, 
      #{compIntro,jdbcType=VARCHAR}, #{linkMan,jdbcType=VARCHAR}, #{linkDuty,jdbcType=VARCHAR}, 
      #{linkTel,jdbcType=VARCHAR}, #{linkEmail,jdbcType=VARCHAR}, #{linkRemark,jdbcType=VARCHAR}, 
      #{invoiceTitle,jdbcType=VARCHAR}, #{registrationNo,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, 
      #{bankNo,jdbcType=VARCHAR}, #{registrationAddress,jdbcType=VARCHAR}, #{telNo1,jdbcType=VARCHAR}, 
      #{invoiceRemark,jdbcType=VARCHAR}, #{companyLogo,jdbcType=VARCHAR},#{createId,jdbcType=BIGINT},
      #{createName,jdbcType=VARCHAR},#{enable,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.userinfo.model.Company">
    update t_uc_company
    set full_name = #{fullName,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      authentication = #{authentication,jdbcType=SMALLINT},
      authentication_remark = #{authenticationRemark,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      post_code = #{postCode,jdbcType=VARCHAR},
      tel_no = #{telNo,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      comp_intro = #{compIntro,jdbcType=VARCHAR},
      link_man = #{linkMan,jdbcType=VARCHAR},
      link_duty = #{linkDuty,jdbcType=VARCHAR},
      link_tel = #{linkTel,jdbcType=VARCHAR},
      link_email = #{linkEmail,jdbcType=VARCHAR},
      link_remark = #{linkRemark,jdbcType=VARCHAR},
      invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      registration_no = #{registrationNo,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_no = #{bankNo,jdbcType=VARCHAR},
      registration_address = #{registrationAddress,jdbcType=VARCHAR},
      tel_no1 = #{telNo1,jdbcType=VARCHAR},
      invoice_remark = #{invoiceRemark,jdbcType=VARCHAR},
      company_logo = #{companyLogo,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=BIT}
    where comp_id = #{compId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select comp_id, full_name, short_name, authentication, authentication_remark, industry,
    province, city, county, detail_address, post_code, tel_no, fax, comp_intro, link_man, 
    link_duty, link_tel, link_email, link_remark, invoice_title, registration_no, bank_name, 
    bank_no, registration_address, tel_no1, invoice_remark, company_logo,create_id,create_name,create_date,enable
    from t_uc_company
    where comp_id = #{compId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select comp_id, full_name, short_name, authentication, authentication_remark, industry,
    province, city, county, detail_address, post_code, tel_no, fax, comp_intro, link_man, 
    link_duty, link_tel, link_email, link_remark, invoice_title, registration_no, bank_name, 
    bank_no, registration_address, tel_no1, invoice_remark, company_logo,create_id,create_name,create_date,enable
    from t_uc_company
  </select>
  <select id="selectByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    select comp_id, full_name, short_name, authentication, authentication_remark, industry,
    province, city, county, detail_address, post_code, tel_no, fax, comp_intro, link_man,
    link_duty, link_tel, link_email, link_remark, invoice_title, registration_no, bank_name,
    bank_no, registration_address, tel_no1, invoice_remark, company_logo,create_id,create_name,create_date,enable
    from t_uc_company
    WHERE 1=1
    <trim prefix="" suffix="" suffixOverrides="">
      <if test="fullName != null &amp;&amp; fullName != ''">
        and full_name = #{fullName,jdbcType=BIGINT}
      </if>
    </trim>
    order by comp_id
  </select>

  <select id="selectByCompanyDto" parameterType="com.lcdt.userinfo.dto.CompanyQueryDto"
    resultMap="BaseResultMap"
  >
     select c.comp_id, c.full_name, c.short_name, authentication, authentication_remark, industry,
    province, city, county, detail_address, post_code, tel_no, fax, comp_intro, link_man,
    link_duty, link_tel, link_email, link_remark, invoice_title, registration_no, bank_name,
    bank_no, registration_address, tel_no1, invoice_remark, company_logo,c.create_id,c.create_name,c.create_date,c.enable,
    u.phone as create_phone
    from t_uc_company c
    left join t_uc_user u on c.create_id = u.user_id
    <where>

      <if test="compId != null and compId != ''">
        c.comp_id = #{compId}
      </if>

      <if test="fullName != null and fullName != ''">
        c.full_name like   concat(concat('%',#{fullName}),'%')
      </if>

      <if test="adminphone != null and adminphone != ''">
       and u.phone like   concat(concat('%',#{adminphone}),'%')
      </if>
      <if test="province != null and province != ''">
       and  c.province = #{province}
      </if>

      <if test="city != null and city != ''">
        and c.city = #{city}
      </if>

      <if test="county != null and county != ''">
        and c.county = #{county}
      </if>

      <if test="industry != null and industry != ''">
       and  c.industry = #{industry}
      </if>

      <if test="industry != null and industry != ''">
        and c.industry = #{industry}
      </if>

      <if test="authentication != null and authentication != ''">
        and c.authentication = #{authentication}
      </if>


      <if test="enable != null and enable != ''">
        and c.enable = #{enable}
      </if>

      <if test="createDateSince != null ">
        and c.create_date  &gt;= #{enable}
      </if>
      <if test="createDateUntil != null ">
        and c.create_date  &lt;=  #{createDateUntil}
      </if>


    </where>
  </select>

</mapper>