<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.userinfo.dao.DriverVehicleAuthMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.userinfo.model.DriverVehicleAuth">
    <id column="auth_id" jdbcType="BIGINT" property="authId" />
    <result column="driver_id" jdbcType="BIGINT" property="driverId" />
    <result column="vehicle_num" jdbcType="VARCHAR" property="vehicleNum" />
    <result column="vehicle_trailers_num" jdbcType="VARCHAR" property="vehicleTrailersNum" />
    <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType" />
    <result column="vehicle_load" jdbcType="DECIMAL" property="vehicleLoad" />
    <result column="vehicle_length" jdbcType="DECIMAL" property="vehicleLength" />
    <result column="auth_status" jdbcType="VARCHAR" property="authStatus" />
    <result column="vehicle_photo" jdbcType="VARCHAR" property="vehiclePhoto" />
    <result column="vehicle_trailers_photo" jdbcType="VARCHAR" property="vehicleTrailersPhoto" />
    <result column="vehicle_driving_photo" jdbcType="VARCHAR" property="vehicleDrivingPhoto" />
    <result column="vehicle_operating_photo" jdbcType="VARCHAR" property="vehicleOperatingPhoto" />
    <result column="vehicle_trailers_operating_photo" jdbcType="VARCHAR" property="vehicleTrailersOperatingPhoto" />
    <result column="is_default" jdbcType="BIT" property="isDefault" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_driver_vehicle_auth
    where auth_id = #{authId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.userinfo.model.DriverVehicleAuth">
    <selectKey keyProperty="authId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_driver_vehicle_auth (driver_id, vehicle_num, vehicle_trailers_num, 
      vehicle_type, vehicle_load, vehicle_length, 
      auth_status, vehicle_photo, vehicle_trailers_photo, 
      vehicle_driving_photo, vehicle_operating_photo, 
      vehicle_trailers_operating_photo, is_default, create_name, 
      create_date, create_id, update_id, 
      update_name, update_date, is_deleted
      )
    values (#{driverId,jdbcType=BIGINT}, #{vehicleNum,jdbcType=VARCHAR}, #{vehicleTrailersNum,jdbcType=VARCHAR}, 
      #{vehicleType,jdbcType=VARCHAR}, #{vehicleLoad,jdbcType=DECIMAL}, #{vehicleLength,jdbcType=DECIMAL}, 
      #{authStatus,jdbcType=VARCHAR}, #{vehiclePhoto,jdbcType=VARCHAR}, #{vehicleTrailersPhoto,jdbcType=VARCHAR}, 
      #{vehicleDrivingPhoto,jdbcType=VARCHAR}, #{vehicleOperatingPhoto,jdbcType=VARCHAR}, 
      #{vehicleTrailersOperatingPhoto,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT}, #{createName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createId,jdbcType=BIGINT}, #{updateId,jdbcType=BIGINT}, 
      #{updateName,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.userinfo.model.DriverVehicleAuth">
    update t_driver_vehicle_auth
    set driver_id = #{driverId,jdbcType=BIGINT},
      vehicle_num = #{vehicleNum,jdbcType=VARCHAR},
      vehicle_trailers_num = #{vehicleTrailersNum,jdbcType=VARCHAR},
      vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      vehicle_load = #{vehicleLoad,jdbcType=DECIMAL},
      vehicle_length = #{vehicleLength,jdbcType=DECIMAL},
      auth_status = #{authStatus,jdbcType=VARCHAR},
      vehicle_photo = #{vehiclePhoto,jdbcType=VARCHAR},
      vehicle_trailers_photo = #{vehicleTrailersPhoto,jdbcType=VARCHAR},
      vehicle_driving_photo = #{vehicleDrivingPhoto,jdbcType=VARCHAR},
      vehicle_operating_photo = #{vehicleOperatingPhoto,jdbcType=VARCHAR},
      vehicle_trailers_operating_photo = #{vehicleTrailersOperatingPhoto,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=BIT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=BIGINT},
      update_id = #{updateId,jdbcType=BIGINT},
      update_name = #{updateName,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where auth_id = #{authId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select auth_id, driver_id, vehicle_num, vehicle_trailers_num, vehicle_type, vehicle_load, 
    vehicle_length, auth_status, vehicle_photo, vehicle_trailers_photo, vehicle_driving_photo, 
    vehicle_operating_photo, vehicle_trailers_operating_photo, is_default, create_name, 
    create_date, create_id, update_id, update_name, update_date, is_deleted
    from t_driver_vehicle_auth
    where auth_id = #{authId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select auth_id, driver_id, vehicle_num, vehicle_trailers_num, vehicle_type, vehicle_load, 
    vehicle_length, auth_status, vehicle_photo, vehicle_trailers_photo, vehicle_driving_photo, 
    vehicle_operating_photo, vehicle_trailers_operating_photo, is_default, create_name, 
    create_date, create_id, update_id, update_name, update_date, is_deleted
    from t_driver_vehicle_auth
  </select>
  <resultMap id="BaseResultMap" type="com.lcdt.userinfo.model.DriverVehicleAuth">
    <id column="auth_id" jdbcType="BIGINT" property="authId" />
    <result column="driver_id" jdbcType="BIGINT" property="driverId" />
    <result column="vehicle_num" jdbcType="VARCHAR" property="vehicleNum" />
    <result column="vehicle_trailers_num" jdbcType="VARCHAR" property="vehicleTrailersNum" />
    <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType" />
    <result column="vehicle_load" jdbcType="DECIMAL" property="vehicleLoad" />
    <result column="vehicle_length" jdbcType="DECIMAL" property="vehicleLength" />
    <result column="auth_status" jdbcType="VARCHAR" property="authStatus" />
    <result column="vehicle_photo" jdbcType="VARCHAR" property="vehiclePhoto" />
    <result column="vehicle_trailers_photo" jdbcType="VARCHAR" property="vehicleTrailersPhoto" />
    <result column="vehicle_driving_photo" jdbcType="VARCHAR" property="vehicleDrivingPhoto" />
    <result column="vehicle_operating_photo" jdbcType="VARCHAR" property="vehicleOperatingPhoto" />
    <result column="vehicle_trailers_operating_photo" jdbcType="VARCHAR" property="vehicleTrailersOperatingPhoto" />
    <result column="is_default" jdbcType="TINYINT" property="isDefault" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_driver_vehicle_auth
    where auth_id = #{authId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.userinfo.model.DriverVehicleAuth">
    <selectKey keyProperty="authId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_driver_vehicle_auth (driver_id, vehicle_num, vehicle_trailers_num, 
      vehicle_type, vehicle_load, vehicle_length, 
      auth_status, vehicle_photo, vehicle_trailers_photo, 
      vehicle_driving_photo, vehicle_operating_photo, 
      vehicle_trailers_operating_photo, is_default, 
      create_name, create_date, create_id, 
      update_id, update_name, update_date, 
      is_deleted)
    values (#{driverId,jdbcType=BIGINT}, #{vehicleNum,jdbcType=VARCHAR}, #{vehicleTrailersNum,jdbcType=VARCHAR}, 
      #{vehicleType,jdbcType=VARCHAR}, #{vehicleLoad,jdbcType=DECIMAL}, #{vehicleLength,jdbcType=DECIMAL}, 
      #{authStatus,jdbcType=VARCHAR}, #{vehiclePhoto,jdbcType=VARCHAR}, #{vehicleTrailersPhoto,jdbcType=VARCHAR}, 
      #{vehicleDrivingPhoto,jdbcType=VARCHAR}, #{vehicleOperatingPhoto,jdbcType=VARCHAR}, 
      #{vehicleTrailersOperatingPhoto,jdbcType=VARCHAR}, #{isDefault,jdbcType=TINYINT}, 
      #{createName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createId,jdbcType=BIGINT}, 
      #{updateId,jdbcType=BIGINT}, #{updateName,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.userinfo.model.DriverVehicleAuth">
    update t_driver_vehicle_auth
    set driver_id = #{driverId,jdbcType=BIGINT},
      vehicle_num = #{vehicleNum,jdbcType=VARCHAR},
      vehicle_trailers_num = #{vehicleTrailersNum,jdbcType=VARCHAR},
      vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      vehicle_load = #{vehicleLoad,jdbcType=DECIMAL},
      vehicle_length = #{vehicleLength,jdbcType=DECIMAL},
      auth_status = #{authStatus,jdbcType=VARCHAR},
      vehicle_photo = #{vehiclePhoto,jdbcType=VARCHAR},
      vehicle_trailers_photo = #{vehicleTrailersPhoto,jdbcType=VARCHAR},
      vehicle_driving_photo = #{vehicleDrivingPhoto,jdbcType=VARCHAR},
      vehicle_operating_photo = #{vehicleOperatingPhoto,jdbcType=VARCHAR},
      vehicle_trailers_operating_photo = #{vehicleTrailersOperatingPhoto,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=TINYINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=BIGINT},
      update_id = #{updateId,jdbcType=BIGINT},
      update_name = #{updateName,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where auth_id = #{authId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select auth_id, driver_id, vehicle_num, vehicle_trailers_num, vehicle_type, vehicle_load, 
    vehicle_length, auth_status, vehicle_photo, vehicle_trailers_photo, vehicle_driving_photo, 
    vehicle_operating_photo, vehicle_trailers_operating_photo, is_default, create_name, 
    create_date, create_id, update_id, update_name, update_date, is_deleted
    from t_driver_vehicle_auth
    where auth_id = #{authId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select auth_id, driver_id, vehicle_num, vehicle_trailers_num, vehicle_type, vehicle_load, 
    vehicle_length, auth_status, vehicle_photo, vehicle_trailers_photo, vehicle_driving_photo, 
    vehicle_operating_photo, vehicle_trailers_operating_photo, is_default, create_name, 
    create_date, create_id, update_id, update_name, update_date, is_deleted
    from t_driver_vehicle_auth
  </select>
  <resultMap id="BaseResultMap" type="com.lcdt.userinfo.model.DriverVehicleAuth">
    <id column="auth_id" jdbcType="BIGINT" property="authId" />
    <result column="driver_id" jdbcType="BIGINT" property="driverId" />
    <result column="vehicle_num" jdbcType="VARCHAR" property="vehicleNum" />
    <result column="vehicle_trailers_num" jdbcType="VARCHAR" property="vehicleTrailersNum" />
    <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType" />
    <result column="vehicle_load" jdbcType="DECIMAL" property="vehicleLoad" />
    <result column="vehicle_length" jdbcType="DECIMAL" property="vehicleLength" />
    <result column="auth_status" jdbcType="VARCHAR" property="authStatus" />
    <result column="vehicle_photo" jdbcType="VARCHAR" property="vehiclePhoto" />
    <result column="vehicle_trailers_photo" jdbcType="VARCHAR" property="vehicleTrailersPhoto" />
    <result column="vehicle_driving_photo" jdbcType="VARCHAR" property="vehicleDrivingPhoto" />
    <result column="vehicle_operating_photo" jdbcType="VARCHAR" property="vehicleOperatingPhoto" />
    <result column="vehicle_trailers_operating_photo" jdbcType="VARCHAR" property="vehicleTrailersOperatingPhoto" />
    <result column="is_default" jdbcType="SMALLINT" property="isDefault" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_driver_vehicle_auth
    where auth_id = #{authId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.userinfo.model.DriverVehicleAuth">
    <selectKey keyProperty="authId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_driver_vehicle_auth (driver_id, vehicle_num, vehicle_trailers_num, 
      vehicle_type, vehicle_load, vehicle_length, 
      auth_status, vehicle_photo, vehicle_trailers_photo, 
      vehicle_driving_photo, vehicle_operating_photo, 
      vehicle_trailers_operating_photo, is_default, 
      create_name, create_date, create_id, 
      update_id, update_name, update_date, 
      is_deleted)
    values (#{driverId,jdbcType=BIGINT}, #{vehicleNum,jdbcType=VARCHAR}, #{vehicleTrailersNum,jdbcType=VARCHAR}, 
      #{vehicleType,jdbcType=VARCHAR}, #{vehicleLoad,jdbcType=DECIMAL}, #{vehicleLength,jdbcType=DECIMAL}, 
      #{authStatus,jdbcType=VARCHAR}, #{vehiclePhoto,jdbcType=VARCHAR}, #{vehicleTrailersPhoto,jdbcType=VARCHAR}, 
      #{vehicleDrivingPhoto,jdbcType=VARCHAR}, #{vehicleOperatingPhoto,jdbcType=VARCHAR}, 
      #{vehicleTrailersOperatingPhoto,jdbcType=VARCHAR}, #{isDefault,jdbcType=SMALLINT}, 
      #{createName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createId,jdbcType=BIGINT}, 
      #{updateId,jdbcType=BIGINT}, #{updateName,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=SMALLINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.userinfo.model.DriverVehicleAuth">
    update t_driver_vehicle_auth
    set driver_id = #{driverId,jdbcType=BIGINT},
      vehicle_num = #{vehicleNum,jdbcType=VARCHAR},
      vehicle_trailers_num = #{vehicleTrailersNum,jdbcType=VARCHAR},
      vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      vehicle_load = #{vehicleLoad,jdbcType=DECIMAL},
      vehicle_length = #{vehicleLength,jdbcType=DECIMAL},
      auth_status = #{authStatus,jdbcType=VARCHAR},
      vehicle_photo = #{vehiclePhoto,jdbcType=VARCHAR},
      vehicle_trailers_photo = #{vehicleTrailersPhoto,jdbcType=VARCHAR},
      vehicle_driving_photo = #{vehicleDrivingPhoto,jdbcType=VARCHAR},
      vehicle_operating_photo = #{vehicleOperatingPhoto,jdbcType=VARCHAR},
      vehicle_trailers_operating_photo = #{vehicleTrailersOperatingPhoto,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=SMALLINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=BIGINT},
      update_id = #{updateId,jdbcType=BIGINT},
      update_name = #{updateName,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=SMALLINT}
    where auth_id = #{authId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select auth_id, driver_id, vehicle_num, vehicle_trailers_num, vehicle_type, vehicle_load, 
    vehicle_length, auth_status, vehicle_photo, vehicle_trailers_photo, vehicle_driving_photo, 
    vehicle_operating_photo, vehicle_trailers_operating_photo, is_default, create_name, 
    create_date, create_id, update_id, update_name, update_date, is_deleted
    from t_driver_vehicle_auth
    where auth_id = #{authId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select auth_id, driver_id, vehicle_num, vehicle_trailers_num, vehicle_type, vehicle_load, 
    vehicle_length, auth_status, vehicle_photo, vehicle_trailers_photo, vehicle_driving_photo, 
    vehicle_operating_photo, vehicle_trailers_operating_photo, is_default, create_name, 
    create_date, create_id, update_id, update_name, update_date, is_deleted
    from t_driver_vehicle_auth
  </select>
  <resultMap id="BaseResultMap" type="com.lcdt.userinfo.model.DriverVehicleAuth">
    <id column="auth_id" jdbcType="BIGINT" property="authId" />
    <result column="driver_id" jdbcType="BIGINT" property="driverId" />
    <result column="vehicle_num" jdbcType="VARCHAR" property="vehicleNum" />
    <result column="vehicle_trailers_num" jdbcType="VARCHAR" property="vehicleTrailersNum" />
    <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType" />
    <result column="vehicle_load" jdbcType="DOUBLE" property="vehicleLoad" />
    <result column="vehicle_length" jdbcType="DOUBLE" property="vehicleLength" />
    <result column="auth_status" jdbcType="VARCHAR" property="authStatus" />
    <result column="vehicle_photo" jdbcType="VARCHAR" property="vehiclePhoto" />
    <result column="vehicle_trailers_photo" jdbcType="VARCHAR" property="vehicleTrailersPhoto" />
    <result column="vehicle_driving_photo" jdbcType="VARCHAR" property="vehicleDrivingPhoto" />
    <result column="vehicle_operating_photo" jdbcType="VARCHAR" property="vehicleOperatingPhoto" />
    <result column="vehicle_trailers_operating_photo" jdbcType="VARCHAR" property="vehicleTrailersOperatingPhoto" />
    <result column="is_default" jdbcType="SMALLINT" property="isDefault" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_driver_vehicle_auth
    where auth_id = #{authId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.userinfo.model.DriverVehicleAuth">
    <selectKey keyProperty="authId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_driver_vehicle_auth (driver_id, vehicle_num, vehicle_trailers_num, 
      vehicle_type, vehicle_load, vehicle_length, 
      auth_status, vehicle_photo, vehicle_trailers_photo, 
      vehicle_driving_photo, vehicle_operating_photo, 
      vehicle_trailers_operating_photo, is_default, 
      create_name, create_date, create_id, 
      update_id, update_name, update_date, 
      is_deleted)
    values (#{driverId,jdbcType=BIGINT}, #{vehicleNum,jdbcType=VARCHAR}, #{vehicleTrailersNum,jdbcType=VARCHAR}, 
      #{vehicleType,jdbcType=VARCHAR}, #{vehicleLoad,jdbcType=DOUBLE}, #{vehicleLength,jdbcType=DOUBLE}, 
      #{authStatus,jdbcType=VARCHAR}, #{vehiclePhoto,jdbcType=VARCHAR}, #{vehicleTrailersPhoto,jdbcType=VARCHAR}, 
      #{vehicleDrivingPhoto,jdbcType=VARCHAR}, #{vehicleOperatingPhoto,jdbcType=VARCHAR}, 
      #{vehicleTrailersOperatingPhoto,jdbcType=VARCHAR}, #{isDefault,jdbcType=SMALLINT}, 
      #{createName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createId,jdbcType=BIGINT}, 
      #{updateId,jdbcType=BIGINT}, #{updateName,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=SMALLINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.userinfo.model.DriverVehicleAuth">
    update t_driver_vehicle_auth
    set driver_id = #{driverId,jdbcType=BIGINT},
      vehicle_num = #{vehicleNum,jdbcType=VARCHAR},
      vehicle_trailers_num = #{vehicleTrailersNum,jdbcType=VARCHAR},
      vehicle_type = #{vehicleType,jdbcType=VARCHAR},
      vehicle_load = #{vehicleLoad,jdbcType=DOUBLE},
      vehicle_length = #{vehicleLength,jdbcType=DOUBLE},
      auth_status = #{authStatus,jdbcType=VARCHAR},
      vehicle_photo = #{vehiclePhoto,jdbcType=VARCHAR},
      vehicle_trailers_photo = #{vehicleTrailersPhoto,jdbcType=VARCHAR},
      vehicle_driving_photo = #{vehicleDrivingPhoto,jdbcType=VARCHAR},
      vehicle_operating_photo = #{vehicleOperatingPhoto,jdbcType=VARCHAR},
      vehicle_trailers_operating_photo = #{vehicleTrailersOperatingPhoto,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=SMALLINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=BIGINT},
      update_id = #{updateId,jdbcType=BIGINT},
      update_name = #{updateName,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=SMALLINT}
    where auth_id = #{authId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select auth_id, driver_id, vehicle_num, vehicle_trailers_num, vehicle_type, vehicle_load, 
    vehicle_length, auth_status, vehicle_photo, vehicle_trailers_photo, vehicle_driving_photo, 
    vehicle_operating_photo, vehicle_trailers_operating_photo, is_default, create_name, 
    create_date, create_id, update_id, update_name, update_date, is_deleted
    from t_driver_vehicle_auth
    where auth_id = #{authId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select auth_id, driver_id, vehicle_num, vehicle_trailers_num, vehicle_type, vehicle_load, 
    vehicle_length, auth_status, vehicle_photo, vehicle_trailers_photo, vehicle_driving_photo, 
    vehicle_operating_photo, vehicle_trailers_operating_photo, is_default, create_name, 
    create_date, create_id, update_id, update_name, update_date, is_deleted
    from t_driver_vehicle_auth
  </select>
</mapper>