<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.userinfo.dao.TUserGroupWarehouseRelationMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.userinfo.model.TUserGroupWarehouseRelation">
    <id column="relation_id" jdbcType="BIGINT" property="relationId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="ware_house_id" jdbcType="BIGINT" property="wareHouseId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
<!--    内嵌关联结果 仓库数据 必须添加 column 和 id 属性 否则会有性能问题 -->
    <association property="wareHouse" javaType="com.lcdt.warehouse.entity.Warehouse" autoMapping="true" column="ware_house_id"   >
      <id column="wh_id" jdbcType="BIGINT" property="whId" />
      <result column="wh_name" jdbcType="VARCHAR" property="whName" />
      <result column="wh_code" jdbcType="VARCHAR" property="whCode" />
      <result column="wh_type" jdbcType="SMALLINT" property="whType" />
      <result column="wh_status" jdbcType="SMALLINT" property="whStatus" />
      <result column="customer_id" jdbcType="BIGINT" property="customerId" />
      <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
      <result column="principal" jdbcType="VARCHAR" property="principal" />
      <result column="mobile" jdbcType="VARCHAR" property="mobile" />
      <result column="mail" jdbcType="VARCHAR" property="mail" />
      <result column="tel_num" jdbcType="VARCHAR" property="telNum" />
      <result column="fax" jdbcType="VARCHAR" property="fax" />
      <result column="province" jdbcType="VARCHAR" property="province" />
      <result column="city" jdbcType="VARCHAR" property="city" />
      <result column="county" jdbcType="VARCHAR" property="county" />
      <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
      <result column="post_code" jdbcType="VARCHAR" property="postCode" />
      <result column="remark" jdbcType="VARCHAR" property="remark" />
      <result column="create_id" jdbcType="BIGINT" property="createId" />
      <result column="create_name" jdbcType="VARCHAR" property="createName" />
      <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
      <result column="update_id" jdbcType="BIGINT" property="updateId" />
      <result column="update_name" jdbcType="VARCHAR" property="updateName" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
      <result column="company_id" jdbcType="BIGINT" property="companyId" />
    </association>

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_group_warehouse_relation
    where relation_id = #{relationId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.userinfo.model.TUserGroupWarehouseRelation">
    <selectKey keyProperty="relationId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user_group_warehouse_relation (user_id, ware_house_id, create_date, 
      version,company_id,group_id)
    values (#{userId,jdbcType=BIGINT}, #{wareHouseId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=INTEGER},#{companyId,jdbcType=INTEGER},#{groupId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.userinfo.model.TUserGroupWarehouseRelation">
    update t_user_group_warehouse_relation
    set user_id = #{userId,jdbcType=BIGINT},
      ware_house_id = #{wareHouseId,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where relation_id = #{relationId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select relation_id, user_id, ware_house_id, create_date, version
    from t_user_group_warehouse_relation
    where relation_id = #{relationId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select relation_id, user_id, ware_house_id, create_date, version
    from t_user_group_warehouse_relation
  </select>

  <select id="selectAddedUserGroupWareHouse" resultMap="BaseResultMap">
     select r.relation_id, r.user_id, r.ware_house_id, r.create_date, r.version,r.group_id,r.company_id, w.*
    from t_user_group_warehouse_relation r
    left join t_warehouse w
    on r.ware_house_id = w.wh_id
    where r.group_id = #{groupId} and r.company_id = #{companyId}
</select>

  <!--查询所有没有和group关联的 仓库-->
  <select id="selectNotAddUserGroupWareHouse" resultMap="BaseResultMap">
SELECT w.* ,re.*  from t_warehouse w
  left join t_user_group_warehouse_relation re on w.wh_id = re.ware_house_id
where w.wh_id not in (SELECT r.ware_house_id from t_user_group_warehouse_relation r
  WHERE r.company_id = #{companyId} and r.group_id = #{groupId}
) and w.company_id =#{companyId}

  </select>



</mapper>