<!doctype html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>大驼队 | 行业案例 | 大车队管理</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.css" rel="stylesheet">
  <Link href="../../style/style.min.css" rel="stylesheet">
  <Link href="../../style/style.min.css.map" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top bs-docs-nav" id="top">
        <div th:replace="/nav::nav_div"></div>
    </nav>
  <div class="jumbotron">
    <div class="header" style="background-image: url(https://img.datuodui.com/ws/zixun.jpg);">
      <div class="container">
         <p>为企业赋能</p>
              <p class="head-title">让物流信息化管理简单、有效</p>
        <p>
          <!--<a class="try-btn">免费试用</a>-->
        </p>
      </div>
    </div>
    <div class="row jumbotron-bottom">
      <div class="col-sm-6 barlink">
        <a href="">已逐步应用在各行各业，专注行业，只为您更专业</a>
      </div>
      <div class="col-sm-6 barlink">
        <a href="">了解大驼队案例，重新定义您的商业模式</a>
      </div>
    </div>
  </div>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">行业案例</a></li>
      <li class="active">大车队管理</li>
    </ol>
  </div>
  <div class="main-container">
    <div class="container" style="margin-bottom: 50px;">
      <div class="content" style="text-align: center;">
        <h2>简介</h2>
        <p>大驼队近年来物流用车持续放量，在需求端，网购等新兴消费引爆城市物流，重卡负责跨多省的干线运输，
          而中轻卡则承担了以支线、派送线为主的城市物流运输。城市物流主要以网点配送、社区配送为主，多为短途且路线相对固定。</p>
        <h2>行业背景及需求分析</h2>
        <p>近年来物流用车持续放量，在需求端，网购等新兴消费引爆城市物流，重卡负责跨多省的干线运输，而中轻卡则承担了以支线、派送线为主的城市物流运输。城市物流主要以网点配送、社区配送为主，多为短途且路线相对固定。</p>
        <h2>功能介绍</h2>
        <img src="https://img.datuodui.com/ws/case-cd.jpg" alt="">
      </div>
    </div>
      <div class="footer">
          <div th:replace="/footer::ft_div"></div>
      </div>

  </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.js"></script>

</body>

</html>
