<!doctype html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>大驼队 | 行业案例 | 仓配一体化</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.css" rel="stylesheet">
  <Link href="../../style/style.min.css" rel="stylesheet">
  <Link href="../../style/style.min.css.map" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default navbar-static-top bs-docs-nav" id="top">
    <div th:replace="/nav::nav_div"></div>
</nav>
  <div class="jumbotron">
    <div class="header" style="background-image: url(https://img.datuodui.com/ws/zixun.jpg);">
      <div class="container">
           <p>为企业赋能</p>
                <p class="head-title">让物流信息化管理简单、有效</p>
        <p>
          <!--<a class="try-btn">免费试用</a>-->
        </p>
      </div>
    </div>
    <div class="row jumbotron-bottom">
      <div class="col-sm-6 barlink">
        <a href="">已逐步应用在各行各业，专注行业，只为您更专业</a>
      </div>
      <div class="col-sm-6 barlink">
        <a href="">了解大驼队案例，重新定义您的商业模式</a>
      </div>
    </div>
  </div>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">行业案例</a></li>
      <li class="active">仓配一体化</li>
    </ol>
  </div>
  <div class="main-container">
    <div class="container" style="margin-bottom: 50px;">
      <div class="content" style="text-align: center;">
        <h2>简介</h2>
        <p>只有把整个供应链的商流、信息流、物流和资金流都数据化了，才能更好的服务整个供应链：更好的生产预测，更好的组织供应活动，更精准安全的进行供应链金融
          服务（服务核心企业的上下游的资金需求，将核心企业的信用背书化整为零，用于上下游的企业，而这一切都源于供应链的“数据化”，而SAAS化的仓配一体化供应链系统，恰好是最方便，有效的解决方案。</p>
        <p>大驼队仓配一体化解决方案解决了企业从订单业务到仓储业务再到运输业务的信息流打通难题，无缝对接企业ERP系统，且支持用户多仓方案，该解决方案可适用于多种不同行业以及不同品类商品的企业仓配业务，实现了用户库存可视化、配送路线可视化的全流程可视化体验，使用户更精准的把控自己的生产节奏。</p>
        <h2>功能需求</h2>
        <img src="https://img.datuodui.com/ws/case-yth1.png" alt="">
        <h2>解决方案</h2>
        <img src="https://img.datuodui.com/ws/case-yth2.png" alt="">
      </div>
    </div>
      <div class="footer">
          <div th:replace="/footer::ft_div"></div>
      </div>

  </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/responsive-nav.js/1.12/responsive-nav.min.js"></script>

</body>

</html>
