html,
body {
  height: 100%;
  margin:0;
  padding: 0;
  background: #f9fafb;
  color: #333;
}
nav{
  width: 900px;
  margin:auto;
  height: 60px;
  line-height: 60px;
  color: #333;
  border-bottom: 1px solid #ccc;
}
  nav .logo{
    display: inline-block;
  }
nav .logo img{
  height: 26px;
  vertical-align: middle;
}
.logo-title{
  font-size: 14px;
  color: #333;
}
.nav-head{
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.user-menu{
  font-size: 16px;
  float: right;
  line-height: 60px;
}
.user-menu a{
  margin-left: 20px;
}
.user-menu a i{
  font-size: 120%;
  margin-right: 5px;
}
/*  */
html,body{
  height: 100%;
  background:#f9fafb;
  color: #333;
  margin:0;
  padding: 0;
}

button{
  border: none;
}
a:link {text-decoration: none;color: #F60;}a:visited {text-decoration: none;color: inherit;}a:hover {text-decoration: none;}a:active {text-decoration: none;font-size: 14px;font-weight: bold;}
input{
  border: none;
}
input.error:focus{
  outline: 0;
  border:1px solid  red;
}
input.error{
  border:1px solid  red;
}
.form-row label.error{
  color: red;
    width: 100%;
    font-size: 12px;
    left: 0;
    top: 48px;
    text-align: left;
}
label{
  text-align: right;
  display: inline-block;
}
.signin-box{
  background:rgba(255,255,255,0.8);
  border: 1px solid #f0f0f0;
  width: 484px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 30px 30px ;
  border-radius: 12px;
  transition:all .3s;
}
.signin-box:hover{
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
border-color: transparent;
}

.logo-box{
  height: 63px;
  margin-bottom: 30px;
  background: #fff url(../image/logo.png) no-repeat center;
}
.inline-btn-row button:last-child{
  float: right;
}
#reset-form .inline-btn-row{
  padding: 0 30px 0 90px;
}
.inline-btn-row button{
  width: 144px;
}
.clms-input p{
  line-height: 43px;
  margin: 0
}
.signin-form{
  border-top: 1px solid #f0f0f0;
  padding: 40px 33px 0 33px;
}
.form-row{
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 12px;
}
.form-row>label {
  vertical-align: top;
  margin-top: 11px;
}
.form-row label{
  width:80px;
  margin-right: 8px;
}
.clms-input input{
padding: 10px;
border: 1px solid #ccc;
width: 100%;
line-height: 21px;
font-size: 16px;
border-radius: 4px;
box-sizing: border-box;
}
.sms_capcha_btn,.sms_capcha_btn .inline-btn{
  display: inline-block;
  padding: 2px;
  width:137px;
}
.clms-input.capcha_input{
  width: 190px;
}
.clms-input.sms-capcha-input,.clms-input.sms-capcha-input .inline-btn{
  width: 153px;
}

button.normal{
  background: #F2F2F2;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  height: 48px;
  width: 100%;
}
button.inline-btn.normal{
  height: 44px;
}
.clms-input{
  border-radius: 4px;
  position: relative;
  display: inline-block;
  width: 300px;
  box-sizing:border-box;
}
.clms-input span,.clms-input img{
  position: absolute;
}
.clms-input span{
    line-height: 21px;
    z-index: 999;
    margin: 10px 8px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}
.page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.clms-input span+input{
  padding-left: 60px;
}

.login-btn-row.form-row{
  width: 300px;
  margin-left: 90px;
}
.capcha_img{
  display: inline-block;
  border:1px solid #acacac;
  padding: 2px;
  width:90px;
  vertical-align: top;
  margin-top: 4px;
  height:32px;
}
.clms-input.capcha_input{
  width: 190px;
}
.login-btn{
  width: 100%;
  height: 48px;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  display: inline-block;
  background: #0891fb;
  border-radius: 4px;
}
.login-btn-row.form-row .default-btn{
  float: right;
}
.login-btn-row.form-row .primary-btn{
color:#0891fb;
}




































/*dd*/
