<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.traffic.dao.DriverGroupMapper">
  <cache />
  <resultMap id="BaseResultMap" type="com.lcdt.traffic.model.DriverGroup">
    <id column="driver_group_id" jdbcType="BIGINT" property="driverGroupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="group_remark" jdbcType="VARCHAR" property="groupRemark" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_driver_group
    where driver_group_id = #{driverGroupId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.traffic.model.DriverGroup">
    insert into t_driver_group (group_name, group_remark,
      create_id, create_name, create_date, company_id)
    values (#{groupName,jdbcType=VARCHAR}, #{groupRemark,jdbcType=VARCHAR},
      #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR},
      CURRENT_TIMESTAMP , #{companyId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.traffic.model.DriverGroup">
    update t_driver_group
    <set>
      <if test="groupName!=null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupRemark!=null">
        group_remark = #{groupRemark,jdbcType=VARCHAR},
      </if>
      update_id = #{updateId,jdbcType=BIGINT},
      update_name = #{updateName,jdbcType=VARCHAR},
      update_date = CURRENT_TIMESTAMP
    </set>
    where driver_group_id = #{driverGroupId,jdbcType=BIGINT} and company_id = #{companyId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select driver_group_id, group_name, group_remark, create_id, create_name, create_date, update_id, 
    update_name, update_date, is_deleted, company_id
    from t_driver_group
    where driver_group_id = #{driverGroupId,jdbcType=BIGINT}
  </select>
  <update id="deleteByUpdate" parameterType="com.lcdt.traffic.model.DriverGroup">
    update t_driver_group
    set is_deleted = 1,
    update_id = #{updateId,jdbcType=BIGINT},
    update_name = #{updateName,jdbcType=VARCHAR},
    update_date = CURRENT_TIMESTAMP
    where driver_group_id = #{driverGroupId,jdbcType=BIGINT} and company_id = #{companyId,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select driver_group_id, group_name, group_remark, company_id
    from t_driver_group where company_id = #{companyId,jdbcType=BIGINT} and is_deleted = 0
  </select>
  <select id="selectByGroupName" resultType="java.lang.Integer">
    select count(driver_group_id)
    from t_driver_group
    where company_id = #{arg0,jdbcType=BIGINT} and group_name = #{arg1,jdbcType=VARCHAR}
    <if test="arg2!=null and arg2!=''">
      and driver_group_id != #{arg2,jdbcType=BIGINT}
    </if>
    and is_deleted = 0
  </select>


  <resultMap id="BaseResultMapDto" type="com.lcdt.traffic.web.dto.DriverGroupDto">
    <id column="driver_group_id" jdbcType="BIGINT" property="driverGroupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="group_remark" jdbcType="VARCHAR" property="groupRemark" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="dgr_id" jdbcType="BIGINT" property="dgrId" />
  </resultMap>


  <select id="selectRelationship" resultMap="BaseResultMapDto">
    select t1.driver_group_id, t1.group_name, t1.group_remark, t1.company_id,
    t2.dgr_id
    from t_driver_group t1 left join t_driver_group_relationship t2 on t1.driver_group_id = t2.driver_group_id
    where t1.company_id = #{arg0} and is_deleted = 0
  </select>


  <!-- ——————————————————————————————————————————华丽分割线—————————————————————————————————————————————— -->
<!--
  <resultMap id="DriverAndGroupResultMap" type="com.lcdt.traffic.model.DriverAndGroup">
    <id column="driver_group_id" jdbcType="BIGINT" property="driverGroupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="group_remark" jdbcType="VARCHAR" property="groupRemark" />
    <collection property="driverList" ofType="com.lcdt.traffic.model.OwnDriver">
      <id column="own_driver_id" jdbcType="BIGINT" property="ownDriverId" />
      <result column="driver_name" jdbcType="VARCHAR" property="driverName" />
      <result column="driver_phone" jdbcType="VARCHAR" property="driverPhone" />
    </collection>
  </resultMap>
  <select id="selectDriverAndGroup" resultMap="DriverAndGroupResultMap">
    select t.driver_group_id,t.group_name,t.group_remark,t2.own_driver_id,t2.driver_name,t2.driver_phone
    from t_driver_group t LEFT JOIN t_driver_group_relationship t1 ON t.driver_group_id=t1.driver_group_id
    LEFT JOIN t_own_driver t2 ON t1.own_driver_id = t2.own_driver_id
    where t.company_id=#{0} and t.is_deleted=0
  </select>
  -->
  <resultMap id="DriverAndGroupResultMap" type="com.lcdt.traffic.model.DriverAndGroup">
    <id column="driver_group_id" jdbcType="BIGINT" property="driverGroupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="group_remark" jdbcType="VARCHAR" property="groupRemark" />
    <collection property="driverList" ofType="com.lcdt.traffic.model.OwnDriver" select="selectDriverByGroup"
                column="{p1=driver_group_id,p2=company_id}">
    </collection>
  </resultMap>
  <resultMap id="driverResult" type="com.lcdt.traffic.model.OwnDriver">
    <id column="own_driver_id" jdbcType="BIGINT" property="ownDriverId" />
    <result column="driver_name" jdbcType="VARCHAR" property="driverName" />
    <result column="driver_phone" jdbcType="VARCHAR" property="driverPhone" />
  </resultMap>
  <select id="selectDriverAndGroup" resultMap="DriverAndGroupResultMap">
    select driver_group_id,group_name,group_remark,company_id
    from t_driver_group
    where company_id=#{arg0} and is_deleted=0 order by driver_group_id
  </select>
  <select id="selectDriverByGroup" resultMap="driverResult">
    select t1.driver_group_id,t2.own_driver_id,t2.driver_name,t2.driver_phone
    from t_driver_group_relationship t1
    LEFT JOIN t_own_driver t2 ON t1.own_driver_id = t2.own_driver_id
    where t1.driver_group_id=#{p1} and t2.company_id=#{p2} and t2.is_deleted=0
  </select>

  <resultMap id="DriverGroupDto2ResultMap" type="com.lcdt.traffic.web.dto.DriverGroupDto2">
    <id column="driver_group_id" jdbcType="BIGINT" property="driverGroupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <collection property="driverList" resultMap="OwnDriverDto2Dto">
    </collection>
  </resultMap>
  <resultMap id="OwnDriverDto2Dto" type="com.lcdt.traffic.web.dto.OwnDriverDto2">
    <id column="own_driver_id" jdbcType="BIGINT" property="ownDriverId" />
    <result column="driver_name" jdbcType="VARCHAR" property="driverName" />
  </resultMap>
  <select id="selectDriverByGroupIds2" resultMap="DriverGroupDto2ResultMap">
    select t1.driver_group_id,t1.group_name, t3.own_driver_id, t3.driver_name,t2.dgr_id
    from t_driver_group t1 left join t_driver_group_relationship t2 on t1.driver_group_id = t2.driver_group_id
    left join t_own_driver t3 on t2.own_driver_id = t3.own_driver_id
    where t1.company_id = #{companyId} and t2.driver_group_id in
    <foreach collection="groupIds" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
</mapper>