<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.traffic.dao.DriverGroupRelationshipMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.traffic.model.DriverGroupRelationship">
    <id column="dgr_id" jdbcType="BIGINT" property="dgrId" />
    <result column="own_driver_id" jdbcType="BIGINT" property="ownDriverId" />
    <result column="driver_group_id" jdbcType="BIGINT" property="driverGroupId" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_driver_group_relationship
    where dgr_id = #{dgrId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.traffic.model.DriverGroupRelationship">
    insert into t_driver_group_relationship (dgr_id, own_driver_id, driver_group_id,
      create_id, create_name, create_date, 
      update_id, update_name, update_date, 
      company_id)
    values (#{dgrId,jdbcType=BIGINT}, #{ownDriverId,jdbcType=BIGINT}, #{driverGroupId,jdbcType=BIGINT},
      #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=BIGINT}, #{updateName,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{companyId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.traffic.model.DriverGroupRelationship">
    update t_driver_group_relationship
    set own_driver_id = #{ownDriverId,jdbcType=BIGINT},
      driver_group_id = #{driverGroupId,jdbcType=BIGINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT},
      update_name = #{updateName,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      company_id = #{companyId,jdbcType=BIGINT}
    where driver_group_id = #{driverGroupId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select dgr_id, own_driver_id, driver_group_id, create_id, create_name, create_date, update_id,
    update_name, update_date, company_id
    from t_driver_group_relationship
    where dgr_id = #{dgrId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select dgr_id, own_driver_id, driver_group_id, create_id, create_name, create_date, update_id,
    update_name, update_date, company_id
    from t_driver_group_relationship
  </select>
  <delete id="deleteByOwnDriverId">
    delete from t_driver_group_relationship
    where own_driver_id = #{arg0} and company_id= #{arg1}
  </delete>
  <insert id="insertBatch" useGeneratedKeys="true" keyProperty="dgrId">
    insert into t_driver_group_relationship (own_driver_id, driver_group_id,
    create_id, create_name, create_date,
    company_id) values
    <foreach collection="list" item="item" separator=",">
    (#{item.ownDriverId,jdbcType=BIGINT}, #{item.driverGroupId,jdbcType=BIGINT},
    #{item.createId,jdbcType=BIGINT}, #{item.createName,jdbcType=VARCHAR}, CURRENT_TIMESTAMP ,
    #{item.companyId,jdbcType=BIGINT})
    </foreach>
  </insert>
  <select id="selectByDriverGroupId" resultType="java.lang.Integer">
    select count(driver_group_id) from t_driver_group_relationship
    where driver_group_id = #{arg0} and company_id = #{arg1}
  </select>

  <!--司机抢单竞价组-->
  <select id="selectByDriverId" resultMap="BaseResultMap">
    SELECT * FROM t_driver_group_relationship where own_driver_id in (
      SELECT own_driver_id from t_own_driver where driver_id = #{arg1}
    )
  </select>


</mapper>