<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcdt.traffic.dao.FeeExchangeMapper" >
  <resultMap id="BaseResultMap" type="com.lcdt.traffic.model.FeeExchange" >
    <id column="exchange_id" property="exchangeId" jdbcType="BIGINT" />
    <result column="reconcile_id" property="reconcileId" jdbcType="BIGINT" />
    <result column="reconcile_code" property="reconcileCode" jdbcType="VARCHAR" />
    <result column="payer_name" property="payerName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="account_amount" property="accountAmount" jdbcType="DOUBLE" />
    <result column="this_amount" property="thisAmount" jdbcType="DOUBLE" />
    <result column="attachment1_name" property="attachment1Name" jdbcType="VARCHAR" />
    <result column="attachment1" property="attachment1" jdbcType="VARCHAR" />
    <result column="attachment2_name" property="attachment2Name" jdbcType="VARCHAR" />
    <result column="attachment2" property="attachment2" jdbcType="VARCHAR" />
    <result column="attachment3_name" property="attachment3Name" jdbcType="VARCHAR" />
    <result column="attachment3" property="attachment3" jdbcType="VARCHAR" />
    <result column="attachment4_name" property="attachment4Name" jdbcType="VARCHAR" />
    <result column="attachment4" property="attachment4" jdbcType="VARCHAR" />
    <result column="attachment5_name" property="attachment5Name" jdbcType="VARCHAR" />
    <result column="attachment5" property="attachment5" jdbcType="VARCHAR" />
    <result column="cancel_ok" property="cancelOk" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="exchange_type" property="exchangeType" jdbcType="VARCHAR" />
    <result column="exchange_account" property="exchangeAccount" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="operate_name" property="operateName" jdbcType="VARCHAR" />
    <result column="operate_id" property="operateId" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="exchange_name" property="exchangeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    exchange_id, reconcile_id, reconcile_code, payer_name, type, account_amount, this_amount, 
    attachment1_name, attachment1, attachment2_name, attachment2, attachment3_name, attachment3, 
    attachment4_name, attachment4, attachment5_name, attachment5, cancel_ok, create_time, 
    operate_time, exchange_type, exchange_account, company_id, operate_name, operate_id, 
    remark, exchange_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_fee_exchange
    where exchange_id = #{exchangeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_fee_exchange
    where exchange_id = #{exchangeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.traffic.model.FeeExchange" >
    insert into t_fee_exchange (exchange_id, reconcile_id, reconcile_code, 
      payer_name, type, account_amount, 
      this_amount, attachment1_name, attachment1, 
      attachment2_name, attachment2, attachment3_name, 
      attachment3, attachment4_name, attachment4, 
      attachment5_name, attachment5, cancel_ok, 
      create_time, operate_time, exchange_type, 
      exchange_account, company_id, operate_name, 
      operate_id, remark, exchange_name
      )
    values (#{exchangeId,jdbcType=BIGINT}, #{reconcileId,jdbcType=BIGINT}, #{reconcileCode,jdbcType=VARCHAR}, 
      #{payerName,jdbcType=VARCHAR}, #{type,jdbcType=SMALLINT}, #{accountAmount,jdbcType=DOUBLE}, 
      #{thisAmount,jdbcType=DOUBLE}, #{attachment1Name,jdbcType=VARCHAR}, #{attachment1,jdbcType=VARCHAR}, 
      #{attachment2Name,jdbcType=VARCHAR}, #{attachment2,jdbcType=VARCHAR}, #{attachment3Name,jdbcType=VARCHAR}, 
      #{attachment3,jdbcType=VARCHAR}, #{attachment4Name,jdbcType=VARCHAR}, #{attachment4,jdbcType=VARCHAR}, 
      #{attachment5Name,jdbcType=VARCHAR}, #{attachment5,jdbcType=VARCHAR}, #{cancelOk,jdbcType=SMALLINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{operateTime,jdbcType=TIMESTAMP}, #{exchangeType,jdbcType=VARCHAR}, 
      #{exchangeAccount,jdbcType=VARCHAR}, #{companyId,jdbcType=BIGINT}, #{operateName,jdbcType=VARCHAR}, 
      #{operateId,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{exchangeName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lcdt.traffic.model.FeeExchange" >
    insert into t_fee_exchange
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="exchangeId != null" >
        exchange_id,
      </if>
      <if test="reconcileId != null" >
        reconcile_id,
      </if>
      <if test="reconcileCode != null" >
        reconcile_code,
      </if>
      <if test="payerName != null" >
        payer_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="accountAmount != null" >
        account_amount,
      </if>
      <if test="thisAmount != null" >
        this_amount,
      </if>
      <if test="attachment1Name != null" >
        attachment1_name,
      </if>
      <if test="attachment1 != null" >
        attachment1,
      </if>
      <if test="attachment2Name != null" >
        attachment2_name,
      </if>
      <if test="attachment2 != null" >
        attachment2,
      </if>
      <if test="attachment3Name != null" >
        attachment3_name,
      </if>
      <if test="attachment3 != null" >
        attachment3,
      </if>
      <if test="attachment4Name != null" >
        attachment4_name,
      </if>
      <if test="attachment4 != null" >
        attachment4,
      </if>
      <if test="attachment5Name != null" >
        attachment5_name,
      </if>
      <if test="attachment5 != null" >
        attachment5,
      </if>
      <if test="cancelOk != null" >
        cancel_ok,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="exchangeType != null" >
        exchange_type,
      </if>
      <if test="exchangeAccount != null" >
        exchange_account,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="operateName != null" >
        operate_name,
      </if>
      <if test="operateId != null" >
        operate_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="exchangeName != null" >
        exchange_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="exchangeId != null" >
        #{exchangeId,jdbcType=BIGINT},
      </if>
      <if test="reconcileId != null" >
        #{reconcileId,jdbcType=BIGINT},
      </if>
      <if test="reconcileCode != null" >
        #{reconcileCode,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null" >
        #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="accountAmount != null" >
        #{accountAmount,jdbcType=DOUBLE},
      </if>
      <if test="thisAmount != null" >
        #{thisAmount,jdbcType=DOUBLE},
      </if>
      <if test="attachment1Name != null" >
        #{attachment1Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment1 != null" >
        #{attachment1,jdbcType=VARCHAR},
      </if>
      <if test="attachment2Name != null" >
        #{attachment2Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment2 != null" >
        #{attachment2,jdbcType=VARCHAR},
      </if>
      <if test="attachment3Name != null" >
        #{attachment3Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment3 != null" >
        #{attachment3,jdbcType=VARCHAR},
      </if>
      <if test="attachment4Name != null" >
        #{attachment4Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment4 != null" >
        #{attachment4,jdbcType=VARCHAR},
      </if>
      <if test="attachment5Name != null" >
        #{attachment5Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment5 != null" >
        #{attachment5,jdbcType=VARCHAR},
      </if>
      <if test="cancelOk != null" >
        #{cancelOk,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exchangeType != null" >
        #{exchangeType,jdbcType=VARCHAR},
      </if>
      <if test="exchangeAccount != null" >
        #{exchangeAccount,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="operateName != null" >
        #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="operateId != null" >
        #{operateId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="exchangeName != null" >
        #{exchangeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lcdt.traffic.model.FeeExchange" >
    update t_fee_exchange
    <set >
      <if test="reconcileId != null" >
        reconcile_id = #{reconcileId,jdbcType=BIGINT},
      </if>
      <if test="reconcileCode != null" >
        reconcile_code = #{reconcileCode,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null" >
        payer_name = #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="accountAmount != null" >
        account_amount = #{accountAmount,jdbcType=DOUBLE},
      </if>
      <if test="thisAmount != null" >
        this_amount = #{thisAmount,jdbcType=DOUBLE},
      </if>
      <if test="attachment1Name != null" >
        attachment1_name = #{attachment1Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment1 != null" >
        attachment1 = #{attachment1,jdbcType=VARCHAR},
      </if>
      <if test="attachment2Name != null" >
        attachment2_name = #{attachment2Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment2 != null" >
        attachment2 = #{attachment2,jdbcType=VARCHAR},
      </if>
      <if test="attachment3Name != null" >
        attachment3_name = #{attachment3Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment3 != null" >
        attachment3 = #{attachment3,jdbcType=VARCHAR},
      </if>
      <if test="attachment4Name != null" >
        attachment4_name = #{attachment4Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment4 != null" >
        attachment4 = #{attachment4,jdbcType=VARCHAR},
      </if>
      <if test="attachment5Name != null" >
        attachment5_name = #{attachment5Name,jdbcType=VARCHAR},
      </if>
      <if test="attachment5 != null" >
        attachment5 = #{attachment5,jdbcType=VARCHAR},
      </if>
      <if test="cancelOk != null" >
        cancel_ok = #{cancelOk,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exchangeType != null" >
        exchange_type = #{exchangeType,jdbcType=VARCHAR},
      </if>
      <if test="exchangeAccount != null" >
        exchange_account = #{exchangeAccount,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="operateName != null" >
        operate_name = #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="operateId != null" >
        operate_id = #{operateId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="exchangeName != null" >
        exchange_name = #{exchangeName,jdbcType=VARCHAR},
      </if>
    </set>
    where exchange_id = #{exchangeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.traffic.model.FeeExchange" >
    update t_fee_exchange
    set reconcile_id = #{reconcileId,jdbcType=BIGINT},
      reconcile_code = #{reconcileCode,jdbcType=VARCHAR},
      payer_name = #{payerName,jdbcType=VARCHAR},
      type = #{type,jdbcType=SMALLINT},
      account_amount = #{accountAmount,jdbcType=DOUBLE},
      this_amount = #{thisAmount,jdbcType=DOUBLE},
      attachment1_name = #{attachment1Name,jdbcType=VARCHAR},
      attachment1 = #{attachment1,jdbcType=VARCHAR},
      attachment2_name = #{attachment2Name,jdbcType=VARCHAR},
      attachment2 = #{attachment2,jdbcType=VARCHAR},
      attachment3_name = #{attachment3Name,jdbcType=VARCHAR},
      attachment3 = #{attachment3,jdbcType=VARCHAR},
      attachment4_name = #{attachment4Name,jdbcType=VARCHAR},
      attachment4 = #{attachment4,jdbcType=VARCHAR},
      attachment5_name = #{attachment5Name,jdbcType=VARCHAR},
      attachment5 = #{attachment5,jdbcType=VARCHAR},
      cancel_ok = #{cancelOk,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      exchange_type = #{exchangeType,jdbcType=VARCHAR},
      exchange_account = #{exchangeAccount,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=BIGINT},
      operate_name = #{operateName,jdbcType=VARCHAR},
      operate_id = #{operateId,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      exchange_name = #{exchangeName,jdbcType=VARCHAR}
    where exchange_id = #{exchangeId,jdbcType=BIGINT}
  </update>
  
  <insert id="insertByBatch">
   insert into t_fee_exchange (exchange_id, reconcile_id, reconcile_code, 
      payer_name, type, account_amount, 
      this_amount, attachment1_name, attachment1, 
      attachment2_name, attachment2, attachment3_name, 
      attachment3, attachment4_name, attachment4, 
      attachment5_name, attachment5, cancel_ok, 
      create_time, operate_time, exchange_type, 
      exchange_account, company_id, operate_name, 
      operate_id, remark, exchange_name
      )
      <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      values (#{item.exchangeId,jdbcType=BIGINT}, #{item.reconcileId,jdbcType=BIGINT}, #{item.reconcileCode,jdbcType=VARCHAR}, 
      #{item.payerName,jdbcType=VARCHAR}, #{item.type,jdbcType=SMALLINT}, #{item.accountAmount,jdbcType=DOUBLE}, 
      #{item.thisAmount,jdbcType=DOUBLE}, #{item.attachment1Name,jdbcType=VARCHAR}, #{item.attachment1,jdbcType=VARCHAR}, 
      #{item.attachment2Name,jdbcType=VARCHAR}, #{item.attachment2,jdbcType=VARCHAR}, #{item.attachment3Name,jdbcType=VARCHAR}, 
      #{item.attachment3,jdbcType=VARCHAR}, #{item.attachment4Name,jdbcType=VARCHAR}, #{item.attachment4,jdbcType=VARCHAR}, 
      #{item.attachment5Name,jdbcType=VARCHAR}, #{item.attachment5,jdbcType=VARCHAR}, #{item.cancelOk,jdbcType=SMALLINT}, 
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.operateTime,jdbcType=TIMESTAMP}, #{item.exchangeType,jdbcType=VARCHAR}, 
      #{item.exchangeAccount,jdbcType=VARCHAR}, #{item.companyId,jdbcType=BIGINT}, #{item.operateName,jdbcType=VARCHAR}, 
      #{item.operateId,jdbcType=BIGINT}, #{item.remark,jdbcType=VARCHAR}, #{item.exchangeName,jdbcType=VARCHAR}
      )
      </foreach>
  </insert>
  
  <select id="getFeeExchangeListByCondition">
  	 select 
    <include refid="Base_Column_List" />
    from t_fee_exchange
  	<where>
  	<if test="payerName !=null and payerName!=''">
  	 payer_name like concat('%',#{payerName,jdbcType=VARCHAR},'%')
  	</if>
  	<if test="reconcileCode!=null and reconcileCode!=''">
  	reconcileCode like concat('%',#{reconcileCode,jdbcType=VARCHAR},'%')
  	</if>
  	<if test="operateName!=null and operateName!=''">
  	operate_name like concat('%',#{operateName,jdbcType=VARCHAR},'%')
  	</if>
  	<if test="beginTime !=null and beginTime!=''"></if>
  	create_time &lt; concat(#{beginTime,jdbcType=VARCHAR},'000000')
  	</where>
  	<if test="endTime !=null and endTime !=''">
  	create_time &gt; concat(#{endTime,jdbcType=VARCHAR},'235959')
  	</if>
  </select>
  
  <update id="updateCancelOkByBatch">
  	update t_fee_exchange
  	<set>
  	cancel_ok =1 
  	</set>
  	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
  	<where>
  	exchange_id = #{item,jdbcType=BIGINT}
  	</where>
  	</foreach>
  	
  
  
  
  
  </update>
  
</mapper>