<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.traffic.dao.FeeFlowMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.traffic.model.FeeFlow">
    <id column="flow_id" jdbcType="BIGINT" property="flowId" />
    <result column="flow_code" jdbcType="VARCHAR" property="flowCode" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="pro_id" jdbcType="BIGINT" property="proId" />
    <result column="fee_property" jdbcType="VARCHAR" property="feeProperty" />
    <result column="money" jdbcType="REAL" property="money" />
    <result column="original_money" jdbcType="REAL" property="originalMoney" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_fee_flow
    where flow_id = #{flowId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.traffic.model.FeeFlow">
    <selectKey keyProperty="flowId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_fee_flow (flow_code, account_id, pro_id, 
      fee_property, money, original_money, 
      group_id, create_id, create_name, 
      create_date, update_id, update_name, 
      update_time, company_id, is_deleted
      )
    values (#{flowCode,jdbcType=VARCHAR}, #{accountId,jdbcType=BIGINT}, #{proId,jdbcType=BIGINT}, 
      #{feeProperty,jdbcType=VARCHAR}, #{money,jdbcType=REAL}, #{originalMoney,jdbcType=REAL}, 
      #{groupId,jdbcType=BIGINT}, #{createId,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateId,jdbcType=BIGINT}, #{updateName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{companyId,jdbcType=BIGINT}, #{isDeleted,jdbcType=SMALLINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.traffic.model.FeeFlow">
    update t_fee_flow
    set flow_code = #{flowCode,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=BIGINT},
      pro_id = #{proId,jdbcType=BIGINT},
      fee_property = #{feeProperty,jdbcType=VARCHAR},
      money = #{money,jdbcType=REAL},
      original_money = #{originalMoney,jdbcType=REAL},
      group_id = #{groupId,jdbcType=BIGINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_name = #{createName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT},
      update_name = #{updateName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      company_id = #{companyId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=SMALLINT}
    where flow_id = #{flowId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select flow_id, flow_code, account_id, pro_id, fee_property, money, original_money, 
    group_id, create_id, create_name, create_date, update_id, update_name, update_time, 
    company_id, is_deleted
    from t_fee_flow
    where flow_id = #{flowId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select flow_id, flow_code, account_id, pro_id, fee_property, money, original_money, 
    group_id, create_id, create_name, create_date, update_id, update_name, update_time, 
    company_id, is_deleted
    from t_fee_flow
  </select>
</mapper>