<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.traffic.dao.FeeMsgMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.traffic.model.FeeMsg">
    <id column="msg_id" jdbcType="BIGINT" property="msgId" />
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    msg_id, id, type, content, operator_id, operator_name, create_date, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_fee_msg
    where msg_id = #{msgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_fee_msg
    where msg_id = #{msgId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.traffic.model.FeeMsg">
    <selectKey keyProperty="msgId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_fee_msg (id, type, content, 
      operator_id, operator_name, create_date, 
      is_deleted)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=SMALLINT}, #{content,jdbcType=VARCHAR}, 
      #{operatorId,jdbcType=BIGINT}, #{operatorName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=SMALLINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.traffic.model.FeeMsg">
    update t_fee_msg
    set id = #{id,jdbcType=BIGINT},
      type = #{type,jdbcType=SMALLINT},
      content = #{content,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=BIGINT},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=SMALLINT}
    where msg_id = #{msgId,jdbcType=BIGINT}
  </update>
</mapper>