<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.traffic.dao.IndexOverviewMapper">

    <select id="selectPlan" resultType="Map" parameterType="Map">
        select sum(case when plan_status=30 then 1 else 0 end) as paidanzhong,
        sum(case when plan_status=15 then 1 else 0 end) as jingjiazhong,
        sum(case when send_card_status=1 then 1 else 0 end) as yipaidan,
        sum(case when send_card_status=2 then 1 else 0 end) as yipaiche,
        sum(case when plan_status=50 then 1 else 0 end) as yiwancheng
        from t_waybill_plan
        <where>
            company_id=#{companyId,jdbcType=BIGINT} and is_deleted=0
<!--            <if test="planType==0">
                and carrier_company_id=company_id
            </if>
            <if test="planType==1">
                and carrier_company_id!=company_id
            </if>-->
            <if test="groupIds!=null and groupIds.size>0">
                and group_id in
                <foreach item="item" index="index" collection="groupIds" open="(" separator="," close=")">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="date_interval!=null and date_interval!=''">
                and pubdate &lt;= CURDATE() and pubdate &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
              and pubdate &gt;= #{pubdate_start,jdbcType=TIMESTAMP} and pubdate &lt;= #{pubdate_end,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>



    <select id="selectPlanData" resultType="Map" parameterType="Map">
        SELECT t.dt t_date,ifnull(t1.paidanzhong,0) paidanzhong,ifnull(t1.jingjiazhong,0) jingjiazhong,ifnull(t1.yipaidan,0) yipaidan,
        ifnull(t1.yipaiche,0) yipaiche,ifnull(t1.yiwancheng,0) yiwancheng
        FROM t_date t
        LEFT JOIN (
            SELECT
            date(pubdate) as pub_date,
            sum(case when plan_status=30 then 1 else 0 end) as paidanzhong,
            sum(case when plan_status=15 then 1 else 0 end) as jingjiazhong,
            sum(case when send_card_status=1 then 1 else 0 end) as yipaidan,
            sum(case when send_card_status=2 then 1 else 0 end) as yipaiche,
            sum(case when plan_status=50 then 1 else 0 end) as yiwancheng
            FROM
            t_waybill_plan
            WHERE
            company_id =#{companyId,jdbcType=BIGINT} AND is_deleted = 0
            <if test="date_interval!=null and date_interval!=''">
                and date(pubdate) &lt;= CURDATE() and date(pubdate) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and date(pubdate) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(pubdate) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
            </if>
            <if test="groupIds!=null and groupIds.size>0">
                and group_id in
                <foreach item="item" index="index" collection="groupIds" open="(" separator="," close=")">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="planType==0">
                and carrier_company_id=company_id
            </if>
            <if test="planType==1">
                and carrier_company_id!=company_id
            </if>
            group by DATE(pub_date)
        ) t1 on t.dt= t1.pub_date
        WHERE
        1 = 1
        <if test="date_interval!=null and date_interval!=''">
            and date(t.dt) &lt;=CURDATE() and date(t.dt) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
        </if>
        <if test="pubdate_start!=null and pubdate_start!=''">
            and date(t.dt) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(t.dt) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
        </if>
    </select>
    <!--
    <select id="selectPlanData" resultType="Map" parameterType="Map">
        SELECT date(dday) t_date, count(*) - 1 as count
        FROM
        (
            SELECT dt as dday
            FROM t_date
            where 1=1
            <if test="date_interval!=null and date_interval!=''">
                and date(dt) &lt;=CURDATE() and date(dt) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and date(dt) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(dt) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
            </if>
        UNION ALL
            SELECT pubdate
            FROM t_waybill_plan
            where
            company_id=#{companyId,jdbcType=BIGINT} and is_deleted=0
            <if test="date_interval!=null and date_interval!=''">
                and date(pubdate) &lt;= CURDATE() and date(pubdate) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and date(pubdate) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(pubdate) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
            </if>
            <if test="groupIds!=null and groupIds.size>0">
                and group_id in
                <foreach item="item" index="index" collection="groupIds" open="(" separator="," close=")">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="planType==0">
                and carrier_company_id=company_id
            </if>
            <if test="planType==1">
                and carrier_company_id!=company_id
            </if>
        ) a
        GROUP BY t_date
    </select>
    -->
    <select id="selectWaybill" resultType="Map" parameterType="Map">
        select sum(case when waybill_status=1 then 1 else 0 end) as daifahuo,
        sum(case when waybill_status=2 then 1 else 0 end) as yiruchang,
        sum(case when waybill_status=3 then 1 else 0 end) as yichuku,
        sum(case when waybill_status=4 then 1 else 0 end) as yunshuzhong,
        sum(case when waybill_status=5 then 1 else 0 end) as yixiehuo,
        sum(case when waybill_status=6 then 1 else 0 end) as yiqianshou,
        sum(case when waybill_status=7 then 1 else 0 end) as yiwancheng
        from t_waybill
        <where>
            company_id=#{companyId,jdbcType=BIGINT} and is_deleted=0
            <if test="waybillType==0">
                and carrier_company_id=company_id
            </if>
            <if test="waybillType==1">
                and carrier_company_id!=company_id
            </if>
            <if test="groupIds!=null and groupIds.size>0">
                and group_id in
                <foreach item="item" index="index" collection="groupIds" open="(" separator="," close=")">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="date_interval!=null and date_interval!=''">
                and pub_date &lt;= CURDATE() and pub_date &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and pub_date &gt;= #{pubdate_start,jdbcType=TIMESTAMP} and pub_date &lt;= #{pubdate_end,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <select id="selectWaybillData" resultType="Map" parameterType="Map">
        SELECT t.dt t_date,ifnull(t1.daifahuo,0) daifahuo,ifnull(t1.yiruchang,0) yiruchang,ifnull(t1.yichuku,0) yichuku,
        ifnull(t1.yunshuzhong,0) yunshuzhong,ifnull(t1.yixiehuo,0) yixiehuo,ifnull(yiqianshou,0) yiqianshou,ifnull(yiwancheng,0) yiwancheng
        FROM t_date t LEFT JOIN
        (
            SELECT date(pub_date) as pub_date,
            sum(case when waybill_status=1 then 1 else 0 end) as daifahuo,
            sum(case when waybill_status=2 then 1 else 0 end) as yiruchang,
            sum(case when waybill_status=3 then 1 else 0 end) as yichuku,
            sum(case when waybill_status=4 then 1 else 0 end) as yunshuzhong,
            sum(case when waybill_status=5 then 1 else 0 end) as yixiehuo,
            sum(case when waybill_status=6 then 1 else 0 end) as yiqianshou,
            sum(case when waybill_status=7 then 1 else 0 end) as yiwancheng
            FROM t_waybill
            WHERE company_id = #{companyId,jdbcType=BIGINT} AND is_deleted = 0
            <if test="date_interval!=null and date_interval!=''">
                and date(pub_date) &lt;= CURDATE() and date(pub_date) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and date(pub_date) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(pub_date) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
            </if>
            <if test="groupIds!=null and groupIds.size>0">
                and group_id in
                <foreach item="item" index="index" collection="groupIds" open="(" separator="," close=")">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="waybillType==0">
                and carrier_company_id=company_id
            </if>
            <if test="waybillType==1">
                and carrier_company_id!=company_id
            </if>
            group by pub_date
        ) t1 on t.dt= t1.pub_date
        WHERE 1 = 1
        <if test="date_interval!=null and date_interval!=''">
            and date(dt) &lt;=CURDATE() and date(dt) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
        </if>
        <if test="pubdate_start!=null and pubdate_start!=''">
            and date(dt) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(dt) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
        </if>
    </select>
    <!--
    <select id="selectWaybillData" resultType="Map" parameterType="Map">
        SELECT date(dday) t_date, count(*) - 1 as count
        FROM
        (
        SELECT dt as dday
        FROM t_date
        where 1=1
        <if test="date_interval!=null and date_interval!=''">
            and date(dt) &lt;=CURDATE() and date(dt) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
        </if>
        <if test="pubdate_start!=null and pubdate_start!=''">
            and date(dt) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(dt) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
        </if>
        UNION ALL
        SELECT pub_date
        FROM t_waybill
        where
        company_id=#{companyId,jdbcType=BIGINT} and is_deleted=0
        <if test="date_interval!=null and date_interval!=''">
            and date(pub_date) &lt;= CURDATE() and date(pub_date) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
        </if>
        <if test="pubdate_start!=null and pubdate_start!=''">
            and date(pub_date) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(pub_date) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
        </if>
        <if test="groupIds!=null and groupIds.size>0">
            and group_id in
            <foreach item="item" index="index" collection="groupIds" open="(" separator="," close=")">
                #{item,jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="waybillType==0">
            and carrier_company_id=company_id
        </if>
        <if test="waybillType==1">
            and carrier_company_id!=company_id
        </if>
        ) a
        GROUP BY t_date
    </select>
    -->
    <select id="selectPlanAndWaybill" resultType="Map" parameterType="Long">
        select sum(case when (plan_status=15 or plan_status=20 or plan_status=30 or plan_status=40) then 1 else 0 end) as plan_waybill
        from t_waybill_plan where company_id=#{arg0} and is_deleted=0
        UNION ALL
        select sum(case when (waybill_status!=7 and waybill_status=8) then 1 else 0 end)
        from t_waybill where company_id=#{arg0} and is_deleted=0
    </select>
    <select id="selectVehicleAndDriver" resultType="Map" parameterType="Long">
        select count(1) as vehicle_driver from t_own_vehicle
        where company_id=#{arg0} and is_deleted=0
        UNION ALL
        select count(1) from t_own_driver
        where company_id=#{arg0} and is_deleted=0
    </select>
</mapper>