<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.traffic.dao.IndexOverviewMapper">

    <select id="selectPlan" resultType="Map" parameterType="Map">
        select sum(case when plan_status=30 then 1 else 0 end) as paidanzhong,
        sum(case when plan_status=15 then 1 else 0 end) as jingjiazhong,
        sum(case when send_card_status=1 then 1 else 0 end) as yipaidan,
        sum(case when plan_status=50 then 1 else 0 end) as yiwancheng
        from t_waybill_plan
        <where>
            company_id=#{companyId,jdbcType=BIGINT} and is_deleted=0
<!--            <if test="planType==0">
                and carrier_company_id=company_id
            </if>
            <if test="planType==1">
                and carrier_company_id!=company_id
            </if>-->
            <if test="groupIds!=null and groupIds.size>0">
                and group_id in
                <foreach item="item" index="index" collection="groupIds" open="(" separator="," close=")">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="date_interval!=null and date_interval!=''">
                and pubdate &lt;= CURDATE() and pubdate &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
              and pubdate &gt;= #{pubdate_start,jdbcType=TIMESTAMP} and pubdate &lt;= #{pubdate_end,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <select id="selectPlanData" resultType="Map" parameterType="Map">
        SELECT t.dt t_date,ifnull(t1.paidanzhong,0) paidanzhong,ifnull(t1.jingjiazhong,0) jingjiazhong,ifnull(t1.yipaidan,0) yipaidan,
        ifnull(t1.yiwancheng,0) yiwancheng
        FROM t_date t
        LEFT JOIN (
            SELECT
            date(pubdate) as pub_date,
            sum(case when plan_status=30 then 1 else 0 end) as paidanzhong,
            sum(case when plan_status=15 then 1 else 0 end) as jingjiazhong,
            sum(case when send_card_status=1 then 1 else 0 end) as yipaidan,
            sum(case when plan_status=50 then 1 else 0 end) as yiwancheng
            FROM
            t_waybill_plan
            WHERE
            company_id =#{companyId,jdbcType=BIGINT} AND is_deleted = 0
            <if test="date_interval!=null and date_interval!=''">
                and date(pubdate) &lt;= CURDATE() and date(pubdate) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and date(pubdate) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(pubdate) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
            </if>
            <if test="groupIds!=null and groupIds.size>0">
                and group_id in
                <foreach item="item" index="index" collection="groupIds" open="(" separator="," close=")">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
 <!--           <if test="planType==0 and carrier_company_id=company_id">
            </if>-->
<!--
            <if test="planType==1  and carrier_company_id!=company_id">

            </if>-->
            group by DATE(pub_date)
        ) t1 on t.dt= t1.pub_date
        WHERE
        1 = 1
        <if test="date_interval!=null and date_interval!=''">
            and date(t.dt) &lt;=CURDATE() and date(t.dt) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
        </if>
        <if test="pubdate_start!=null and pubdate_start!=''">
            and date(t.dt) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(t.dt) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
        </if>
    </select>


    <!--客户计划统计-->
    <select id="selectCustomerPlanData" resultType="Map" parameterType="Map">
        SELECT t.dt t_date,ifnull(t1.jingjiazhong,0) jingjiazhong,ifnull(t2.paichezhong,0) paichezhong,
        ifnull(t3.yipaiche,0) yipaiche,ifnull(t4.yiwancheng,0) yiwancheng,ifnull(t5.yibaojia,0) yibaojia
        FROM t_date t
        LEFT JOIN (
            SELECT
                  date(pubdate) as pub_date, count(1) jingjiazhong
            FROM t_waybill_plan wp
            WHERE  is_deleted = 0

        AND plan_status = '15' AND waybill_plan_id not in (SELECT waybill_plan_id FROM t_snatch_goods sn where plan_company_id = wp.company_id)
            <if test="date_interval!=null and date_interval!=''">
                and date(pubdate) &lt;= CURDATE() and date(pubdate) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and date(pubdate) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(pubdate) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
            </if>
            <if test="companyIds!=null and companyIds!=''">
                and ${companyIds}
            </if>
            <if test="carrierCollectionIds1!=null and carrierCollectionIds1!=''">
                and ${carrierCollectionIds1}
            </if>
            group by DATE(pub_date)
        ) t1 on t.dt= t1.pub_date

        LEFT JOIN  (
        SELECT
            date(wp.pubdate) as pub_date, count(1) paichezhong
        FROM t_split_goods sp
        LEFT JOIN t_waybill_plan wp
            on sp.waybill_plan_id = wp.waybill_plan_id
        WHERE wp.is_deleted = 0 and wp.plan_status!='60'
              and (select sum(remain_amount) from t_split_goods_detail spd where spd.split_goods_id=sp.split_goods_id)>0
            <if test="date_interval!=null and date_interval!=''">
                and date(pubdate) &lt;= CURDATE() and date(pubdate) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and date(pubdate) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(pubdate) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
            </if>
            <if test="companyIds!=null and companyIds!=''">
                and ${companyIds}
            </if>
            <if test="carrierCollectionIds2!=null and carrierCollectionIds2!=''">
                and ${carrierCollectionIds2}
            </if>
         group by DATE(pub_date)
        ) t2 on t.dt= t2.pub_date

        LEFT JOIN  (
        SELECT
        date(wp.pubdate) as pub_date, count(1) yipaiche
        FROM t_split_goods sp
        LEFT JOIN t_waybill_plan wp
        on sp.waybill_plan_id = wp.waybill_plan_id
        WHERE wp.is_deleted = 0 and wp.plan_status!='60'
        and (select sum(remain_amount) from t_split_goods_detail spd where spd.split_goods_id=sp.split_goods_id)=0
            <if test="date_interval!=null and date_interval!=''">
                and date(pubdate) &lt;= CURDATE() and date(pubdate) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and date(pubdate) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(pubdate) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
            </if>
            <if test="companyIds!=null and companyIds!=''">
                and ${companyIds}
            </if>
            <if test="carrierCollectionIds2!=null and carrierCollectionIds2!=''">
                and ${carrierCollectionIds2}
            </if>
           group by DATE(pub_date)
        ) t3 on t.dt= t3.pub_date

        LEFT JOIN  (
            SELECT
            date(wp.pubdate) as pub_date, count(1) yiwancheng
            FROM t_split_goods sp
            LEFT JOIN t_waybill_plan wp
            on sp.waybill_plan_id = wp.waybill_plan_id
            WHERE
            wp.is_deleted = 0
            <if test="date_interval!=null and date_interval!=''">
                and date(pubdate) &lt;= CURDATE() and date(pubdate) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and date(pubdate) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(pubdate) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
            </if>
            and (select sum(remain_amount) from t_split_goods_detail spd where spd.split_goods_id=sp.split_goods_id)=0
            and (SELECT count(1) from t_waybill wb where wb.split_goods_id=sp.split_goods_id and wb.company_id = sp.company_id and wb.is_deleted=0 AND wb.waybill_status!=7 )=0
            <if test="companyIds!=null and companyIds!=''">
                and ${companyIds}
            </if>
            <if test="carrierCollectionIds2!=null and carrierCollectionIds2!=''">
                and ${carrierCollectionIds2}
            </if>
            group by DATE(pub_date)
        ) t4 on t.dt= t4.pub_date
        LEFT JOIN  (
        SELECT
        date(pubdate) as pub_date, count(1) yibaojia
        FROM t_waybill_plan wp
        WHERE  1=1
        and waybill_plan_id in (SELECT waybill_plan_id FROM t_snatch_goods sn where sn.plan_company_id = wp.company_id and sn.is_deleted=0)
        and waybill_plan_id not in (SELECT waybill_plan_id FROM t_split_goods sg where sg.company_id = wp.company_id and sg.is_deleted=0)
        and plan_status != '60'
        and is_deleted = 0
        <if test="date_interval!=null and date_interval!=''">
            and date(pubdate) &lt;= CURDATE() and date(pubdate) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
        </if>
        <if test="pubdate_start!=null and pubdate_start!=''">
            and date(pubdate) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(pubdate) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
        </if>
        <if test="companyIds!=null and companyIds!=''">
            and ${companyIds}
        </if>
        <if test="carrierCollectionIds1!=null and carrierCollectionIds1!=''">
            and ${carrierCollectionIds1}
        </if>
        <if test="companyIds!=null and companyIds!=''">
            and ${companyIds}
        </if>

        group by DATE(pub_date)
        ) t5 on t.dt= t5.pub_date

        WHERE
         1 = 1
        <if test="date_interval!=null and date_interval!=''">
            and date(t.dt) &lt;=CURDATE() and date(t.dt) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
        </if>
        <if test="pubdate_start!=null and pubdate_start!=''">
            and date(t.dt) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(t.dt) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
        </if>
    </select>



    <!--
    <select id="selectPlanData" resultType="Map" parameterType="Map">
        SELECT date(dday) t_date, count(*) - 1 as count
        FROM
        (
            SELECT dt as dday
            FROM t_date
            where 1=1
            <if test="date_interval!=null and date_interval!=''">
                and date(dt) &lt;=CURDATE() and date(dt) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and date(dt) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(dt) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
            </if>
        UNION ALL
            SELECT pubdate
            FROM t_waybill_plan
            where
            company_id=#{companyId,jdbcType=BIGINT} and is_deleted=0
            <if test="date_interval!=null and date_interval!=''">
                and date(pubdate) &lt;= CURDATE() and date(pubdate) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and date(pubdate) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(pubdate) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
            </if>
            <if test="groupIds!=null and groupIds.size>0">
                and group_id in
                <foreach item="item" index="index" collection="groupIds" open="(" separator="," close=")">
                    #{item,jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="planType==0">
                and carrier_company_id=company_id
            </if>
            <if test="planType==1">
                and carrier_company_id!=company_id
            </if>
        ) a
        GROUP BY t_date
    </select>
    -->
    <select id="selectOwnWaybill" resultType="Map" parameterType="Map">
        select sum(case when waybill_status=1 then 1 else 0 end) as daifahuo,
        sum(case when waybill_status=2 then 1 else 0 end) as yiruchang,
        sum(case when waybill_status=3 then 1 else 0 end) as yichuku,
        sum(case when waybill_status=4 then 1 else 0 end) as yunshuzhong,
        sum(case when waybill_status=5 then 1 else 0 end) as yixiehuo,
        sum(case when waybill_status=6 then 1 else 0 end) as yiqianshou,
        sum(case when waybill_status=7 then 1 else 0 end) as yiwancheng
        from t_waybill
        <where>
            company_id = #{companyId,jdbcType=BIGINT} and is_deleted=0
            <if test="groupIds!=null and groupIds!=''">
                and  ${groupIds}
            </if>
            <if test="groupIds==null or groupIds==''">
                and  group_id is null
            </if>
            <if test="date_interval!=null and date_interval!=''">
                and date(pub_date) &lt;= SUBDATE(CURDATE(),-1) and date(pub_date) &gt;= SUBDATE(CURDATE(),(#{date_interval,jdbcType=SMALLINT}-1))
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and date(pub_date) &lt;= CONCAT(STR_TO_DATE(#{pubdate_end,jdbcType=TIMESTAMP},'%Y-%m-%d'),' ','00:00:00') and date(pub_date) &gt;=CONCAT(STR_TO_DATE(#{pubdate_start,jdbcType=TIMESTAMP},'%Y-%m-%d'),' ','23:59:59')
            </if>
        </where>
    </select>
    <select id="selectOwnWaybillData" resultType="Map" parameterType="Map">
        SELECT t.dt t_date,ifnull(t1.daifahuo,0) daifahuo,ifnull(t1.yiruchang,0) yiruchang,ifnull(t1.yichuku,0) yichuku,
        ifnull(t1.yunshuzhong,0) yunshuzhong,ifnull(t1.yixiehuo,0) yixiehuo,ifnull(yiqianshou,0) yiqianshou,ifnull(yiwancheng,0) yiwancheng
        FROM t_date t LEFT JOIN
        (
        SELECT date(pub_date) as pub_date,
        sum(case when waybill_status=1 then 1 else 0 end) as daifahuo,
        sum(case when waybill_status=2 then 1 else 0 end) as yiruchang,
        sum(case when waybill_status=3 then 1 else 0 end) as yichuku,
        sum(case when waybill_status=4 then 1 else 0 end) as yunshuzhong,
        sum(case when waybill_status=5 then 1 else 0 end) as yixiehuo,
        sum(case when waybill_status=6 then 1 else 0 end) as yiqianshou,
        sum(case when waybill_status=7 then 1 else 0 end) as yiwancheng
        FROM t_waybill
        WHERE company_id = #{companyId,jdbcType=BIGINT} AND is_deleted = 0
        <if test="date_interval!=null and date_interval!=''">
            and date(pub_date) &lt;= SUBDATE(CURDATE(),-1) and date(pub_date) &gt;= SUBDATE(CURDATE(),(#{date_interval,jdbcType=SMALLINT}-1))
        </if>
        <if test="pubdate_start!=null and pubdate_start!=''">
            and date(pub_date) &lt;= CONCAT(STR_TO_DATE(#{pubdate_end,jdbcType=TIMESTAMP},'%Y-%m-%d'),' ','00:00:00') and date(pub_date) &gt;=CONCAT(STR_TO_DATE(#{pubdate_start,jdbcType=TIMESTAMP},'%Y-%m-%d'),' ','23:59:59')
        </if>
        <if test="groupIds!=null and groupIds!=''">
            and  ${groupIds}
        </if>
        <if test="groupIds==null or groupIds==''">
            and  group_id is null
        </if>
        group by date(pub_date)
        ) t1 on t.dt= t1.pub_date
        WHERE 1 = 1
        <if test="date_interval!=null and date_interval!=''">
            and date(dt) &lt;= SUBDATE(CURDATE(),-1) and date(dt) &gt;= SUBDATE(CURDATE(),(#{date_interval,jdbcType=SMALLINT}-1))
        </if>
        <if test="pubdate_start!=null and pubdate_start!=''">
            and date(dt) &lt;= CONCAT(STR_TO_DATE(#{pubdate_end,jdbcType=TIMESTAMP},'%Y-%m-%d'),' ','00:00:00') and date(dt) &gt;= CONCAT(STR_TO_DATE(#{pubdate_start,jdbcType=TIMESTAMP},'%Y-%m-%d'),' ','23:59:59')
        </if>
    </select>

    <select id="selectCustomerWaybill" resultType="Map" parameterType="Map">
        select sum(case when waybill_status=1 then 1 else 0 end) as daifahuo,
        sum(case when waybill_status=2 then 1 else 0 end) as yiruchang,
        sum(case when waybill_status=3 then 1 else 0 end) as yichuku,
        sum(case when waybill_status=4 then 1 else 0 end) as yunshuzhong,
        sum(case when waybill_status=5 then 1 else 0 end) as yixiehuo,
        sum(case when waybill_status=6 then 1 else 0 end) as yiqianshou,
        sum(case when waybill_status=7 then 1 else 0 end) as yiwancheng
        from t_waybill
        <where>
            carrier_company_id = #{carrierCompanyId,jdbcType=BIGINT} and is_deleted = 0
            <if test="companyIds!=null">
                and ${companyIds}
            </if>
            <if test="companyIds==null">
                and company_id is null
            </if>
            <if test="date_interval!=null and date_interval!=''">
                and date(pub_date) &lt;= SUBDATE(CURDATE(),-1) and date(pub_date) &gt;= SUBDATE(CURDATE(),(#{date_interval,jdbcType=SMALLINT}-1))
            </if>
            <if test="pubdate_start!=null and pubdate_start!=''">
                and date(pub_date) &lt;= CONCAT(STR_TO_DATE(#{pubdate_end,jdbcType=TIMESTAMP},'%Y-%m-%d'),' ','00:00:00') and date(pub_date) &gt;=CONCAT(STR_TO_DATE(#{pubdate_start,jdbcType=TIMESTAMP},'%Y-%m-%d'),' ','23:59:59')
            </if>
        </where>
    </select>
    <select id="selectCustomerWaybillData" resultType="Map" parameterType="Map">
        SELECT t.dt t_date,ifnull(t1.daifahuo,0) daifahuo,ifnull(t1.yiruchang,0) yiruchang,ifnull(t1.yichuku,0) yichuku,
        ifnull(t1.yunshuzhong,0) yunshuzhong,ifnull(t1.yixiehuo,0) yixiehuo,ifnull(yiqianshou,0) yiqianshou,ifnull(yiwancheng,0) yiwancheng
        FROM t_date t LEFT JOIN
        (
        SELECT date(pub_date) as pub_date,
        sum(case when waybill_status=1 then 1 else 0 end) as daifahuo,
        sum(case when waybill_status=2 then 1 else 0 end) as yiruchang,
        sum(case when waybill_status=3 then 1 else 0 end) as yichuku,
        sum(case when waybill_status=4 then 1 else 0 end) as yunshuzhong,
        sum(case when waybill_status=5 then 1 else 0 end) as yixiehuo,
        sum(case when waybill_status=6 then 1 else 0 end) as yiqianshou,
        sum(case when waybill_status=7 then 1 else 0 end) as yiwancheng
        FROM t_waybill
        WHERE carrier_company_id = #{carrierCompanyId,jdbcType=BIGINT} AND is_deleted = 0
        <if test="date_interval!=null and date_interval!=''">
            and date(pub_date) &lt;= SUBDATE(CURDATE(),-1) and date(pub_date) &gt;= SUBDATE(CURDATE(),(#{date_interval,jdbcType=SMALLINT}-1))
        </if>
        <if test="pubdate_start!=null and pubdate_start!=''">
            and date(pub_date) &lt;= CONCAT(STR_TO_DATE(#{pubdate_end,jdbcType=TIMESTAMP},'%Y-%m-%d'),' ','00:00:00') and date(pub_date) &gt;=CONCAT(STR_TO_DATE(#{pubdate_start,jdbcType=TIMESTAMP},'%Y-%m-%d'),' ','23:59:59')
        </if>


        <if test="companyIds!=null">
            and ${companyIds}
        </if>
        <if test="companyIds==null">
            and company_id is null
        </if>
        group by date(pub_date)
        ) t1 on t.dt= t1.pub_date
        WHERE 1 = 1
        <if test="date_interval!=null and date_interval!=''">
            and date(dt) &lt;= SUBDATE(CURDATE(),-1) and date(dt) &gt;= SUBDATE(CURDATE(),(#{date_interval,jdbcType=SMALLINT}-1))
        </if>
        <if test="pubdate_start!=null and pubdate_start!=''">
            and date(dt) &lt;= CONCAT(STR_TO_DATE(#{pubdate_end,jdbcType=TIMESTAMP},'%Y-%m-%d'),' ','00:00:00') and date(dt) &gt;= CONCAT(STR_TO_DATE(#{pubdate_start,jdbcType=TIMESTAMP},'%Y-%m-%d'),' ','23:59:59')
        </if>
    </select>
    <!--
    <select id="selectWaybillData" resultType="Map" parameterType="Map">
        SELECT date(dday) t_date, count(*) - 1 as count
        FROM
        (
        SELECT dt as dday
        FROM t_date
        where 1=1
        <if test="date_interval!=null and date_interval!=''">
            and date(dt) &lt;=CURDATE() and date(dt) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
        </if>
        <if test="pubdate_start!=null and pubdate_start!=''">
            and date(dt) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(dt) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
        </if>
        UNION ALL
        SELECT pub_date
        FROM t_waybill
        where
        company_id=#{companyId,jdbcType=BIGINT} and is_deleted=0
        <if test="date_interval!=null and date_interval!=''">
            and date(pub_date) &lt;= CURDATE() and date(pub_date) &gt;= DATE_SUB(CURDATE(), INTERVAL #{date_interval,jdbcType=SMALLINT} DAY)
        </if>
        <if test="pubdate_start!=null and pubdate_start!=''">
            and date(pub_date) &lt;= #{pubdate_end,jdbcType=TIMESTAMP} and date(pub_date) &gt;= #{pubdate_start,jdbcType=TIMESTAMP}
        </if>
        <if test="groupIds!=null and groupIds.size>0">
            and group_id in
            <foreach item="item" index="index" collection="groupIds" open="(" separator="," close=")">
                #{item,jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="waybillType==0">
            and carrier_company_id=company_id
        </if>
        <if test="waybillType==1">
            and carrier_company_id!=company_id
        </if>
        ) a
        GROUP BY t_date
    </select>
    -->

      <!--进行中的计划-排出取消、完成状态的做为货主、或承运人-->
      <select id="selectOwnPlan4Doing" resultType="Long">
         select count(1) from t_waybill_plan where company_id=#{companyId} and is_deleted=0 and (plan_status!='50' and plan_status!='60')
          <if test="groupIds!=null and groupIds!=''">
              and  ${groupIds}
          </if>
      </select>
     <select id="selectCustomerPlan4Doing" resultType="Long">
        select count(1) from t_waybill_plan wp where is_deleted=0 and (plan_status!='50' and plan_status!='60')
        <if test="companyId!=null and companyId!=''">
            and company_id != #{companyId}
        </if>
        <if test="companyIds!=null and companyIds!=''">
            and ${companyIds}
        </if>
        <if test="carrierCollectionIds1!=null and carrierCollectionIds1!=''">
            and ${carrierCollectionIds1}
        </if>
    </select>




    <select id="selectPlanAndWaybill" resultType="Map" parameterType="Long">
        select sum(case when (plan_status=15 or plan_status=20 or plan_status=30 or plan_status=40) then 1 else 0 end) as plan_waybill
        from t_waybill_plan where company_id=#{arg0} and is_deleted=0
        UNION ALL
        select sum(case when (waybill_status!=7 and waybill_status=8) then 1 else 0 end)
        from t_waybill where company_id=#{arg0} and is_deleted=0
    </select>

    <select id="selectVehicleAndDriver" resultType="Map" parameterType="Long">
        select count(1) as vehicle_driver from t_own_vehicle
        where company_id=#{arg0} and is_deleted=0
        UNION ALL
        select count(1) from t_own_driver
        where company_id=#{arg0} and is_deleted=0
    </select>

    <select id="selectInTransitOwnWaybill" resultType="int" parameterType="Map">
        select sum(case when (waybill_status!=7 and waybill_status!=8) then 1 else 0 end) as waybill_nums
        from t_waybill where is_deleted=0 and company_id = #{companyId,jdbcType=BIGINT}
        <if test="groupIds!=null and groupIds!=''">
            and  ${groupIds}
        </if>
        <if test="groupIds==null or groupIds==''">
            and  group_id is null
        </if>
    </select>
    <select id="selectInTransitCustomerWaybill" resultType="int" parameterType="Map">
        select sum(case when (waybill_status!=7 and waybill_status!=8) then 1 else 0 end) as waybill_nums
        from t_waybill where is_deleted=0 and carrier_company_id = #{carrierCompanyId,jdbcType=BIGINT}
        <if test="companyIds!=null">
            and ${companyIds}
        </if>
        <if test="companyIds==null">
            and company_id is null
        </if>
    </select>
</mapper>