<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcdt.traffic.dao.MsgMapper">
  <resultMap id="BaseResultMap" type="com.lcdt.traffic.model.Msg">
    <id column="msg_id" jdbcType="BIGINT" property="msgId" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    msg_id, account_id, type, content, operator_id, operator_name, create_date, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_fee_msg
    where msg_id = #{msgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_fee_msg
    where msg_id = #{msgId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lcdt.traffic.model.Msg">
    insert into t_fee_msg (msg_id, account_id, type, 
      content, operator_id, operator_name, 
      create_date, is_deleted)
    values (#{msgId,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, #{type,jdbcType=SMALLINT}, 
      #{content,jdbcType=VARCHAR}, #{operatorId,jdbcType=BIGINT}, #{operatorName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lcdt.traffic.model.Msg">
    insert into t_fee_msg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msgId != null">
        msg_id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="msgId != null">
        #{msgId,jdbcType=BIGINT},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lcdt.traffic.model.Msg">
    update t_fee_msg
    <set>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="content != null and content!=''">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null and operatorName!=''">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=SMALLINT},
      </if>
    </set>
    where msg_id = #{msgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lcdt.traffic.model.Msg">
    update t_fee_msg
    set account_id = #{accountId,jdbcType=BIGINT},
      type = #{type,jdbcType=SMALLINT},
      content = #{content,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=BIGINT},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=SMALLINT}
    where msg_id = #{msgId,jdbcType=BIGINT}
  </update>
 
  <update id="updateIsDelete" parameterType="java.lang.Long">
 	update t_fee_msg
 	set 
  	is_deleted = 1
  	where msg_id = #{msgId,jdbcType=BIGINT}
  </update>
  
  <select id="selectByAccountId" parameterType="java.lang.Long" resultMap="BaseResultMap">
  select 
    <include refid="Base_Column_List" />
    from t_fee_msg
    where account_id = #{arg0,jdbcType=BIGINT} and
    type = #{arg1,jdbcType=SMALLINT}
  </select>
  
  <select id="selectSomeMsg" parameterType="com.lcdt.traffic.web.dto.MsgDto" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from t_fee_msg
  	<where>
      <if test=" type !=null and type !='' ">
        type = #{type,jdbcType=SMALLINT}
      </if>
      <if test=" accountId !=null">
        and account_id = #{accountId,jdbcType=BIGINT}
      </if>
      <if test="operatorId !=null">
        and operator_id = #{operatorId,jdbcType=BIGINT}
      </if>
      <if test="isDeleted !=null">
        and is_deleted = #{isDeleted,jdbcType=SMALLINT}
      </if>
  	</where>
  </select>
  
  <insert id="insertByBatch" useGeneratedKeys="true" keyProperty="msgId" keyColumn="msg_id">
   insert into t_fee_msg (msg_id, account_id, type, 
      content, operator_id, operator_name, 
      create_date, is_deleted)
    values 
  <foreach collection="list" item="m" open="" separator="," close="" index="index">
  (#{m.msgId,jdbcType=BIGINT}, #{m.accountId,jdbcType=BIGINT}, #{m.type,jdbcType=SMALLINT}, 
      #{m.content,jdbcType=VARCHAR}, #{m.operatorId,jdbcType=BIGINT}, #{m.operatorName,jdbcType=VARCHAR}, 
      CURRENT_TIMESTAMP, #{m.isDeleted,jdbcType=SMALLINT})
  </foreach>
  </insert>
  
  
  
  
</mapper>