<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcdt.traffic.dao.ReconcileMapper" >
  <resultMap id="BaseResultMap" type="com.lcdt.traffic.model.Reconcile" >
    <id column="reconcile_id" property="reconcileId" jdbcType="BIGINT" />
    <result column="reconcile_code" property="reconcileCode" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="transportation_expenses" property="transportationExpenses" jdbcType="DOUBLE" />
    <result column="operator_id" property="operatorId" jdbcType="BIGINT" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="cancel_ok" property="cancelOk" jdbcType="SMALLINT" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="waybill_id" property="waybillId" jdbcType="VARCHAR" />
    <result column="payee_type" property="payeeType" jdbcType="SMALLINT" />
    <result column="payer_id" property="payerId" jdbcType="BIGINT" />
    <result column="payer_name" property="payerName" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="other_expenses" property="otherExpenses" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    reconcile_id, reconcile_code, company_id, transportation_expenses, operator_id, operator_name, 
    create_time, cancel_ok, account_id, waybill_id, payee_type, payer_id, payer_name, 
    group_id, group_name, other_expenses
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_fee_reconcile
    where reconcile_id = #{reconcileId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_fee_reconcile
    where reconcile_id = #{reconcileId,jdbcType=BIGINT}
  </delete>
  
 <insert id="insert" parameterType="com.lcdt.traffic.model.Reconcile" >
   insert into t_fee_reconcile (reconcile_id, reconcile_code, company_id, 
      transportation_expenses, operator_id, operator_name, 
      create_time, cancel_ok, account_id, 
      waybill_id, payee_type, payer_id, 
      payer_name, group_id, group_name, 
      other_expenses)
    values (#{reconcileId,jdbcType=BIGINT}, 
	<choose>
    <when test="rec.payeeType==0">
    RECONCILE_CODE('YS'),
    </when>
    <when test="rec.payeeType==1">
    RECONCILE_CODE('YF'),
    </when>
    <otherwise>
    'null',
    </otherwise>
    </choose>
     #{companyId,jdbcType=BIGINT}, 
      #{transportationExpenses,jdbcType=DOUBLE}, #{operatorId,jdbcType=BIGINT}, #{operatorName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{cancelOk,jdbcType=SMALLINT}, #{accountId,jdbcType=VARCHAR}, 
      #{waybillId,jdbcType=VARCHAR}, #{payeeType,jdbcType=SMALLINT}, #{payerId,jdbcType=BIGINT}, 
      #{payerName,jdbcType=VARCHAR}, #{groupId,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR}, 
      #{otherExpenses,jdbcType=DOUBLE}
      )
  </insert>
  
 <update id="updateByPrimaryKeySelective" parameterType="com.lcdt.traffic.model.Reconcile" >
    update t_fee_reconcile
    <set >
      <if test="reconcileCode != null" >
        reconcile_code = #{reconcileCode,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="transportationExpenses != null" >
        transportation_expenses = #{transportationExpenses,jdbcType=DOUBLE},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelOk != null" >
        cancel_ok = #{cancelOk,jdbcType=SMALLINT},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="waybillId != null" >
        waybill_id = #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="payeeType != null" >
        payee_type = #{payeeType,jdbcType=SMALLINT},
      </if>
      <if test="payerId != null" >
        payer_id = #{payerId,jdbcType=BIGINT},
      </if>
      <if test="payerName != null" >
        payer_name = #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="otherExpenses != null" >
        other_expenses = #{otherExpenses,jdbcType=DOUBLE},
      </if>
    </set>
    where reconcile_id = #{reconcileId,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.lcdt.traffic.model.Reconcile" >
    update t_fee_reconcile
    set reconcile_code = #{reconcileCode,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=BIGINT},
      transportation_expenses = #{transportationExpenses,jdbcType=DOUBLE},
      operator_id = #{operatorId,jdbcType=BIGINT},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      cancel_ok = #{cancelOk,jdbcType=SMALLINT},
      account_id = #{accountId,jdbcType=VARCHAR},
      waybill_id = #{waybillId,jdbcType=VARCHAR},
      payee_type = #{payeeType,jdbcType=SMALLINT},
      payer_id = #{payerId,jdbcType=BIGINT},
      payer_name = #{payerName,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=BIGINT},
      group_name = #{groupName,jdbcType=VARCHAR},
      other_expenses = #{otherExpenses,jdbcType=DOUBLE}
    where reconcile_id = #{reconcileId,jdbcType=BIGINT}
  </update>
  
  <insert id="insertByBatch" useGeneratedKeys="true" keyProperty="reconcileId" keyColumn="reconcile_id">
    insert into t_fee_reconcile (reconcile_id, reconcile_code, company_id, 
      transportation_expenses, operator_id, operator_name, 
      create_time, cancel_ok, account_id, 
      waybill_id, payee_type, payer_id, 
      payer_name, group_id, group_name, 
      other_expenses)
      values 
  <foreach collection="list" index="index" item="rec" open="" separator="," close="">  
  (#{rec.reconcileId,jdbcType=BIGINT}, 
  <choose>
    <when test="rec.payeeType==0">
    RECONCILE_CODE('YS'),
    </when>
    <when test="rec.payeeType==1">
    RECONCILE_CODE('YF'),
    </when>
    <otherwise>
    'null',
    </otherwise>
    </choose>
      #{rec.companyId,jdbcType=BIGINT}, 
      #{rec.transportationExpenses,jdbcType=DOUBLE}, #{rec.operatorId,jdbcType=BIGINT}, #{rec.operatorName,jdbcType=VARCHAR}, 
      #{rec.createTime,jdbcType=TIMESTAMP}, #{rec.cancelOk,jdbcType=SMALLINT}, #{rec.accountId,jdbcType=VARCHAR}, 
      #{rec.waybillId,jdbcType=VARCHAR}, #{rec.payeeType,jdbcType=SMALLINT}, #{rec.payerId,jdbcType=BIGINT}, 
      #{rec.payerName,jdbcType=VARCHAR}, #{rec.groupId,jdbcType=BIGINT}, #{rec.groupName,jdbcType=VARCHAR}, 
      #{rec.otherExpenses,jdbcType=DOUBLE}
      )
  </foreach>
  </insert>
  
  <update id="cancelByBatch">
    update t_fee_reconcile
    <set>
    cancel_ok = 1
    </set>	
  	<where>
  	reconcile_id in
  	<foreach collection="array" open="(" close=")" item="id" separator=",">
    #{id,jdbcType=BIGINT}
    </foreach>
  	</where>
  </update>
  
  <select id="getReconcileList" resultType="com.lcdt.traffic.web.dto.ReconcileDto" parameterType="com.lcdt.traffic.web.dto.ReconcileDto">
    select 
    reconcile_id reconcileId, reconcile_code reconcileCode, company_id companyId,transportation_expenses transportationExpenses, operator_id operatorId, 
    operator_name operatorName, 
    create_time createTime, cancel_ok cancelOk, account_id accountId, waybill_id waybillId, payee_type payeeType, 
    payer_id payerId, payer_name payerName, 
    group_id groupId, group_name groupName,other_expenses otherExpenses
    from t_fee_reconcile
    <where>
    cancel_ok=0 and company_id =#{companyId,jdbcType=BIGINT} and  payee_type = #{payeeType,jdbcType=SMALLINT}
    <if test="beginTime!=null and beginTime!=''">
    and create_time &gt; concat(#{beginTime,jdbcType=VARCHAR},'000000')
    </if>
    <if test="endTime!=null and endTime!=''">
    and create_time &lt; concat(#{endTime,jdbcType=VARCHAR},'235959')
    </if>
    <if test="payerName!=null and payerName!=''">
    and payer_name like concat('%',#{payerName,jdbcType=VARCHAR},'%')
    </if>
    <if test="reconcileCode!=null and reconcileCode!=''">
    and reconcile_code like concat('%',#{reconcileCode,jdbcType=VARCHAR},'%')
    </if>
    <if test="groupId !=null">
    and group_id =#{groupId,jdbcType=BIGINT}
    </if>
    <if test="operatorName !=null and operatorName!=''">
    and operator_name = #{operatorName,jdbcType=VARCHAR}
    </if>
    </where>
    order by create_time desc
  </select>
  
  <select id="getReconcileListByPk" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_fee_reconcile
    <where>
    reconcile_id in
   <foreach collection="array" open="(" close=")" item="id" separator=",">
   #{id,jdbcType=BIGINT}
   </foreach>
  	</where>
   </select>

 <select id="selectReconcileByPrimaryKey" resultType="com.lcdt.traffic.web.dto.ReconcileDto" parameterType="java.lang.Long" >
 	select 
    reconcile_id reconcileId, reconcile_code reconcileCode, company_id companyId,transportation_expenses transportationExpenses, operator_id operatorId, 
    operator_name operatorName, 
    create_time createTime, cancel_ok cancelOk, account_id accountId, waybill_id waybillId, payee_type payeeType, 
    payer_id payerId, payer_name payerName, 
    group_id groupId, group_name groupName,other_expenses otherExpenses
    from t_fee_reconcile
    where reconcile_id = #{reconcileId,jdbcType=BIGINT}
  </select>
  
</mapper>