<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>大驼队cTMS协同运输管理系统登录</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/front_style/framework/bootstrap-dtd/css/bootstrap.css">
    <link rel="stylesheet" href="/front_style/framework/font-awesome-4.3.0/css/font-awesome.css">
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
            if (userAgent.indexOf("Chrome")==-1) {
                $(".full-compatable").show();
            }
            if("${loginFront.userId}"!=""){
                location="/dtd/main.jsp";
            }
        });
        function redirect(){
            var loc = location.href.split(':');
            if(loc[0]=='http')
            {
                location.href='https:'+ "tms.datuodui.com";
            }
        }
        if (window.top !== window.self) {
            if (window.top.location.href.indexOf('www.growingio.com') < 0) {
                window.top.location = window.location;
            }
        }
        function focus() {
            document.getElementById("userName").focus();
        }
        function displayResult(){
            var x=document.getElementById("userPass").value;
            document.getElementById("userPass").value='${userPass}';
            document.getElementById("veriCode").value='';
        }
        var _vds = _vds || [];
        window._vds = _vds;
        (function() {
            _vds.push([ 'setAccountId', 'b7a624b6b3ec7998' ]);
            _vds.push([ 'setCS1', 'user_id', '${loginFront.userId}' ]);
            _vds.push([ 'setCS2', 'user_name', '${loginFront.userName}' ]);
            _vds.push([ 'setCS3', 'company_name', '${loginFront.companyName}' ]);
            (function() {
                var vds = document.createElement('script');
                vds.type = 'text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://'
                        : 'http://')
                    + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
    <style type="text/css">
        /*media all*/
        .full-compatable {
            margin: 20px 0;
            text-align: center;
            height: 40px;
            line-height: 40px;
            color: #444444;
            font-size: 16px;
            background-color: yellow;
        }
    </style>
</head>
<body onload="displayResult()">
<div class="full-compatable" style="display: none;">
    <p>
        你可以正常使用<em>大驼队</em>，但是为了获得更好的体验，我们推荐你使用 <a
            href="https://oss.aliyuncs.com/towerfiles/%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8%20%E7%A8%B3%E5%AE%9A%E7%89%88_23.0.1271.64.exe"
            target="_blank">谷歌浏览器</a> / <a href="http://se.360.cn/v6/"
                                           target="_blank">360超速浏览器</a> 等更棒的浏览器
    </p>
</div>
<div class="login-box">
    <div class="big-logo"></div>
    <div class="box-content">
        <s:form id="form1" name="form1" method="post" namespace="/user"
                action="front-end/login">
            <div class="row">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </div>
                    <input id="userName" name="userName" tabindex="1"
                           class="form-control" autocomplete="off" placeholder="请输入手机号"/>
                    <input type="hidden">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-unlock-alt"></i>
                    </div>
                    <input id="userPass" name="userPass" tabindex="2" type="password"
                           class="form-control" placeholder="请输入密码"/>
                </div>
            </div>
            <div class="row flex-row">
                <div class="left-block">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <input id="veriCode"
                               name="veriCode" tabindex="3"
                               class="form-control" placeholder="请输入右侧验证码"/>
                    </div>
                </div>
                <div class="right-block">
                    <img align="bottom" id="imgVeriCodePic"
                         src="/veriCodePic.action?dt=<%=System.currentTimeMillis()%>"
                         onclick="this.src='/veriCodePic.action?dt='+new Date().getSeconds()" />
                </div>
            </div>

            <div class="row flex-row btn-row">
                <div class="left-block">
                    <button class="btn btn-info" type="submit" id="BtnSave">登录</button>
                </div>
                <div class="right-block">
                    <button class="btn btn-default zhuce" type="button"
                            onclick="location.href='/register.jsp'">注册</button>
                </div>
            </div>
            <div style="width: 70%;float: left;">
                <button type="button" class="btn btn-link"
                        onclick="location.href='/pass_retrieve.jsp'">找回密码</button>
            </div>
            <div style="width: 30%;float: right;">
                <button type="button" class="btn btn-link"
                        onclick="location.href='https://www.datuodui.com'">回到首页</button>
            </div>
            <div class="row alert-row">
                <p class="text-danger" id="error">
                    <s:if test="msg!=null">
                        <s:property value="msg" />
                    </s:if>
                </p>
            </div>
        </s:form>
    </div>
</div>
</body>
</html>